<form id="producer-form" class="panel">
	<h3>Producer</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr>
			<td colspan="2">
				<label>Producer:</label>			<select id="preprod_producer" data-fieldid="[% fields_by_key.producer %]"></select>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Category:</label>			<select id="preprod_category" data-fieldid="[% fields_by_key.category %]"></select>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Country</label>			<select id="preprod_country" data-fieldid="[% fields_by_key.country %]"></select>
			</td>
		</tr>
		
		<tr><td><br></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Agency Job No.:</label>	<input id="preprod_agencyjobno" data-fieldid="[% fields_by_key.agency_job_number %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Media Co. Ref:</label>		<input id="preprod_mediacompanyref" data-fieldid="[% fields_by_key.media_company_ref %]" />
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td colspan="2">
				<label>Time Length:</label>		<input id="preprod_timelength" data-fieldid="[% fields_by_key.length %]" />&nbsp;(seconds)
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Rotation:</label>			<input id="preprod_rotation" data-fieldid="[% fields_by_key.rotation %]" />
			</td>
		</tr>
	</table>
		
	<hr>
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>

<form id="jobtitle-form" class="panel">
	<h3>Job Title</h3>
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
	    <tr>
	    		<td colspan="2">
	    			<label>Job Title</label>			<select id="preprod_jobtitle" data-fieldid="[% fields_by_key.job_title %]"></select>
			</td>
		</tr>
	</table>
		
	<hr>
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<form id='prodroute-form' class="panel">
	<h3>Route Info</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
	    <tr class="title">
			<td colspan="2">
				<label>Production Route:</label>	<select id="preprod_productionroute" data-fieldid="[% fields_by_key.production_route %]"></select>
			</td>
		</tr>
		
		<tr><td colspan="2"><hr></td></tr>
		
		<tr>
			<td>
				<label>Production Brief:</label>
				<a href="#" onclick="show_production_brief_dialog()">[ Edit&hellip; ]</a>
				<input type="hidden" data-fieldid="[% fields_by_key.production_brief %]" name="production_brief" id="production-brief-value">
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Cust. Order No.:</label>	<input id="preprod_customerorderno" data-fieldid="[% fields_by_key.customer_order_number %]" class="datetime" />
			</td>
		</tr>
		
		<tr><td><br></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Required Date:</label>		<input id="preprod_requireddate" class="datetime" data-fieldid="[% fields_by_key.required_date %]" class="datetime" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Material Date:</label>		<input id="preprod_materialdate" class="datetime" data-fieldid="[% fields_by_key.material_date %]" class="datetime" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>1st Air Date:</label>		<input id="preprod_firstairdate" class="datetime" data-fieldid="[% fields_by_key.first_air_date %]" class="datetime" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<label>Last Air Date</label>		<input id="preprod_lastairdate" class="datetime" data-fieldid="[% fields_by_key.last_air_date %]" class="datetime" />
			</td>
		</tr>
	</table>
	
	<hr>
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<div id="brief" title="Production Brief" style="display: none;">
	<textarea id="production-brief-text"></textarea>
</div>
