<form id="section-form" class="panel">
	<h3>Page Details</h3>

	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr>
			<td colspan="2">
				<label>Section Name:</label>				<input id="preprod_sectionname" data-fieldid="[% fields_by_key.section_name %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Section Format:</label>			<select id="preprod_sectionformat" data-fieldid="[% fields_by_key.section_format %]" ></select>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Section Colour</label>				<select id="preprod_sectioncolour" data-fieldid="[% fields_by_key.colour %]"></select>
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td colspan="2">
				<label>Paper Stock:</label>				<select id="preprod_paperstock" data-fieldid="[% fields_by_key.paper_stock %]"></select>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>No. Pages:</label>				<input id="preprod_pagenos" data-fieldid="[% fields_by_key.page_count %]" />
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td colspan="2">
				<label>Flat Width</label>				<input id="preprod_flatwidth"/  data-fieldid="[% fields_by_key.flat_width %]" >
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Flat Height:</label>				<input id="preprod_flatheight"  data-fieldid="[% fields_by_key.flat_height %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Gutters:</label>					<input id="preprod_gutters"  data-fieldid="[% fields_by_key.gutters %]" />
			</td>
		</tr>
	 </table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>




<form id="requireddate-form" class="panel">
	<h3>Required Dates</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label>Job Title:</label>				<select id="preprod_jobtitle" data-fieldid="[% fields_by_key.job_title %]"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Required Date:</label>				<input id="preprod_requireddate" class="datetime" data-fieldid="[% fields_by_key.required_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Material Date:</label>				<input id="preprod_materialdate" class="datetime" data-fieldid="[% fields_by_key.material_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Print Date:</label>				<input id="preprod_printdate" class="datetime" data-fieldid="[% fields_by_key.print_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Delivery Date:</label>				<input id="preprod_printdeliverydate" class="datetime" data-fieldid="[% fields_by_key.delivery_date %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>




<form id='prodroute-form' class="panel">
	<h3>Production Route</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label>Production Route:</label>			<select id="preprod_productionroute" data-fieldid="[% fields_by_key.production_route %]"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td>
				<label>Production Brief:</label>
				<a href="#" onclick="show_production_brief_dialog()">[ Edit&hellip; ]</a>
				<input type="hidden" data-fieldid="[% fields_by_key.production_brief %]" name="production_brief" id="production-brief-value">
			</td>
		</tr>
		
		<tr><td><br></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Cust. Order No.:</label>			<input id="preprod_customerorderno" data-fieldid="[% fields_by_key.customer_order_number %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Coupon Keycode:</label>			<input id="preprod_couponkeycode" data-fieldid="[% fields_by_key.coupon_keycode %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<div id="brief" title="Production Brief" style="display: none;">
	<textarea id="production-brief-text"></textarea>
</div>
