[% SET extra_css = [ "ecmstyles","preproduction", "job_import", "ajaxpopup" ] %]
[% INCLUDE ecm_html/header.html %]

<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="searchjobimport" />
	<div class="import_search" id="left-content">
		<h1>Media Ingest Search</h1>
		
		<table>
			<tr>
				<td><label>Your imports:</label><br><br><br></td>
				<td>	
					<select id="changer" onchange="load_spreadsheet_details(this)">
						<option></option>
						[% FOREACH spreadsheet IN previous_imports %]
							<option	data-customerid="[% spreadsheet.customerid %]"
									data-clientid="[% spreadsheet.clientid %]"
									data-campaignid="[% spreadsheet.campaignid %]"
									data-countryid="[% spreadsheet.country %]"
									data-mediatypeid="[% spreadsheet.mediatypeid %]"
								>[% spreadsheet.filename %] (v[% spreadsheet.version %], [% spreadsheet.rec_timestamp %])</option>
						[% END %]
					</select>
					<br><br><hr>
				</td>
			</tr>
			<tr>
				<td><label class="mandatory">Customer:</label></td>
				<td>
					<select id="customer-list" name="customer" onchange="load_clients(this.value);">
						<option value=''>Select</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label>Client:</label></td>
				<td>
					<select id="client-list" name="client" disabled="disabled" onchange="load_campaigns(this.value);">
						<option value="">Select</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label>Campaign:</label></td>
				<td>
					<select id="campaign-list" name="campaign" disabled="disabled">
						<option value="">Select</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label>Country:</label></td>
				<td>
					<select id="country-list" name="country">
						<option value="">Select</option>
						[% FOREACH country IN countries %]
							<option value="[% country.id %]">[% country.name %]</option>
						[% END %]
					</select>
				</td>
			</tr>
			
			<tr>
				<td><label class="mandatory">Media Type:</label></td>
				<td>
					<select id="mediatype-list" name="mediatype">
						<option value="">Select</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td></td>
				<td id="preprod_buttons">
					<input type="button" class="button" value="Reset" onclick="reset_lists();"/>
					<input type="submit" class="button primary" id="search-button" name="search" value="Search" onclick="return submit_search()" />
				</td>
			</tr>
		</table>
	</div>
	
	<input type="hidden" name="opco" value="[% opcoid %]" />
	<input type="hidden" name="opco-value" value="[% opcoid %]" />
</form>


<script language="javascript">
	load_customers();
	load_mediatypes();
	
	function load_spreadsheet_details(el) {
		var spreadsheet = $(el).find(":selected");
		
		$("#campaign-list").attr('data-default-value', spreadsheet.data('campaignid'));
		$("#client-list"  ).attr('data-default-value', spreadsheet.data('clientid'));
		$("#customer-list").attr('data-default-value', spreadsheet.data('customerid'));
		
		console.log("Setting customer " + spreadsheet.data('customerid'))
		$("#customer-list" ).val(spreadsheet.data('customerid' )).trigger('change');
		$("#country-list"  ).val(spreadsheet.data('countryid'  )).trigger('change');
		$("#mediatype-list").val(spreadsheet.data('mediatypeid')).trigger('change');
	}
	
	$("#customer-list").select2({ placeholder: "Select" });
	$("#country-list").select2({ placeholder: "Select" });
	$("#mediatype-list").select2({ placeholder: "Select" });
</script>
[% INCLUDE ecm_html/footer.html %]
