[% SET extra_css = [ "ecmstyles", "resizableColumns", "preproduction", "joblist", "filter", "outsource_style", "ajaxpopup", "escompare", "newcommentbox", 'job_import' ] %]
[% INCLUDE ecm_html/header.html %]

<!-- Used for the actions button -->
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/job_import.js"></script>

<!--media panel-->
<div id="right-content" class="sidenav">
	<div class="close-bar"><a href="javascript:void(0)" onclick="closeNav()">&times;</a></div>
	
	[% SET pages = {	'1'		=> 'broadcast',
					'3'		=> 'press',
					'5'		=> 'interactive',
					'7'		=> 'ooh',
					'38'		=> 'catalogue',
					'39'		=> 'pos',
					'59'		=> 'directmarketing',
					'89'		=> 'literature',
					'111'	=> 'packaging',
				  } %]
	
	[% # SET mediatypeid = 3 ## Override mediatype for testing purposes %]
		[% SET page = 'ecm_html/job_import/' _ pages.$mediatypeid _ '.html' %]
		[% IF pages.$mediatypeid %][% INCLUDE $page %][% END %]
</div>
<!--//-->
	
<div id ="main-wrap">
    <div id="left-content">
	    	<h1>
	    		Import
	    		<span class="subheading">[% customer %] / [% client %] / [% campaign %] / [% mediatype %] ([% jobs.size %] records)</span>
	    	</h1>
	    	
		<div class="actions">
			<input type="hidden" name="action" value="dashboard"/>
			
			<input type="button" class="button primary" value="Create booking" onclick="show_import_dialog()" />
			
			<input type="button" value="Actions &#9660;" class="menu-button" data-menu="actions-menu" />
			
			<div class="search-bar">
				<input type="hidden" name="formPosted" value="yes" />
				<input type="hidden" name="action" value="dashboard"/>

				<select id="import-filter-type" class="menu-button left-button menu-selection" onchange="$('#import-filter').attr('placeholder', $(this).find('option:selected').text()); $('#import-filter').focus()">
					[% FOREACH column IN job_columns %]
						<option value="[% column.id %]">[% column.title %]</option>
					[% END %]
				</select
				><span class="menu-button left-button dropdown-arrow">&#x25bc;</span

				><input type='text' id="import-filter" class="centre" placeholder='Job Number' oninput="filter(this.value)" /
				><span class="button right-button search-button"><img src='js/images/seachglass.png' /></span>
				
				<script language="javascript">
					function filter(text) {
						text = text.toLowerCase();
						var column = $("#import-filter-type").val();
						
						$("#spreadsheet-data").find("[data-columnid=" + column + "]").each(function (i, item) {
							if($(item).val().toLowerCase().indexOf(text) != -1)		$(item).parent().parent().show();
							else										$(item).parent().parent().hide();
						});
					}
				</script>
			</div>
		</div>

		<div class="actions minor">
			<span class="button"><img src="images/Refresh.png" alt="Refresh" onclick="window.location.replace('jobflow.pl?action=searchjobimport');"/></span>
		</div>

		<div id="loading" style="display:none;"><img src="js/images/loading1.gif" alt="" /></div>
		<div id="timeoutdialog" style="display:none;margin:20px 0px 0px 50px;" title="Connection Timeout Error">
		<p>Click OK to refresh the page</p>
		<button id="timeoutreload" class="btn" style="margin:20px 3px 0px 60px;">OK</button>
		</div>

		<br/>
		<br/>

		
		
		
		<input type="hidden" id="highlightjob" name="highlightjob" />
		
		<!--Table wrapper is covered in jquery ajax side so this is not required - Feroz -->
		<div id="joblist-view2" style="height: 100%;">
			<div id="joblist-controls2"></div>
			<div id="joblist-contents" style="position: relative;">
				
				<!-- Revert/Apply all tooltip -->
				<div id="tooltip-actions">
					<div class="action" id="valid">
						<span>&#x2713; Validates correctly.</span>
					</div>
					
					<div class="action" id="invalid">
						<span>&#x274c; Invalid value.</span> (<span id="comment"></span>)
					</div>
					
					<div class="action" id="revert">
						<span id="original-text" class="original">Originally: [value]</span>
						<button id="revert" class="flat" onclick="revert_value()">Revert</button>
					</div>
					
					<div class="separator">&nbsp;</div>
					
					<div class="action" id="update">
						<button id="save" class="flat">Save</button>
						<button id="save-selected" class="flat">Save for selection</button>
						<button id="create-rule" class="flat">Create rule</button>
					</div>
				</div>
				<!-- Putting it outside of the div bc otherwise it interferes with the ':last-child' css element -->
				<script language="javascript">
					var current_el;
					
					// Put together the tooltip options
					function show_tooltip(el) {
						current_el = el;
						var current_id = $(el).parent().parent().attr('id').substr(4);
						
						$("#original-text").html("Originally '" + $(el).data('original-value') + "'");
						
						// Choose to display revert and/or update actions
							var display_revert  = $(el).val() != $(el).data('original-value');
							var display_update  = $(el).val() != $(el).data('current-value');
							var display_valid   = $(el).data('id-value') != '';
							var display_invalid = !display_valid && $(el).data('requires-validation');
							if(!(display_revert || display_update || display_valid || display_invalid)) { hide_tooltip(); return; }
							
							$("#invalid #comment").text($(el).data('comment'));
							$("#revert").css( { display : display_revert  ? 'block' : 'none' });
							$("#update").css( { display : display_update  ? 'block' : 'none' });
							$("#valid").css(  { display : display_valid   ? 'block' : 'none' });
							$("#invalid").css({ display : display_invalid ? 'block' : 'none' });
							$(".separator").css({ display : display_revert && display_update ? 'block' : 'none' });
							$("#save-selected").css({ display : $("#joblist-contents table input:checked").length ? 'inline-block' : 'none' });
							$("#create-rule").css({ display : display_revert ? 'inline-block' : 'none' });
						
						
						
						$("#save").off('click');
						$("#save").click(function() { save_value($(el).data('columnid'), current_id); });
						$("#save-selected").off('click');
						$("#save-selected").click(function() { save_value($(el).data('columnid')); });
						$("#create-rule").off('click');
						$("#create-rule").click(function() { create_rule($(el).data('columnid')); });
						
						// Display the tooltip
						$("#tooltip-actions").css({ left : $(el).position().left + $("#joblist-contents").scrollLeft(),
													top : ($(el).position().top + $("#joblist-contents").scrollTop()) + $(el).outerHeight(),
												display : 'inline-block',
											});
					}
					
					function hide_tooltip() {
						$("#tooltip-actions").hide();
						current_el = null;
					}
					
					
					// Set the cell value back to its spreadsheet original
					function revert_value() {
						$(current_el).val($(current_el).data('original-value'));
						$(current_el).removeClass('modified');
						change_state(current_el);
						show_tooltip(current_el);
					}
					
					// Save the changes to the database
					function save_value(fieldid, id) {
						var ids = [];
						var value = $(current_el).val();
						
						// If we're not given an ID, figure it out from the checkboxes
						var elements = [];
						if(!id) {
							elements = $("#joblist-contents table input:checked");
							elements.each(function (i, item) {
								id = $(item).parent().parent().attr('id').substr(4);
								ids.push(id);
							});
						} else {
							elements = $("#" + id + '-' + fieldid);
							ids.push(id);
						}
						
						$.ajax({
							url : 'ajax/importjob.pl',
							type : 'POST',
							data : {		action		: 'update_values',
										fieldid		: fieldid,
										recordids	: JSON.stringify(ids),
										values		: JSON.stringify({ [fieldid] : { id : null, text : value } }),
								},
							success : function(data) {
								//location.reload();
								elements.each(function (i, item) {
									$(item).removeClass('unsaved');
									$(item).addClass('modified');
									hide_tooltip();
								});
							}
						});
					}
					
					// Add the change to the substitutions database
					function create_rule(fieldid) {
						$.ajax({
							url : 'ajax/importjob.pl',
							type : 'POST',
							data : {		action		: 'create_rule',
										fieldid		: fieldid,
										oldvalue		: $(current_el).data('original-value'),
										newvalue		: $(current_el).val(),
								},
							success : function(data) {
								location.reload();
							}
						});
					}
					
					
					// Keep css up-to-date showing if the cell has been modified/saved or not
					function change_state(el) {
						if($(el).val() == $(el).data('current-value')) {
							$(el).removeClass('unsaved')
						} else {
							$(el).addClass('unsaved');
						}
						
						if($(el).val() == $(el).data('original-value')) {
							$(el).removeClass('modified');
						} else {
							$(el).addClass('modified');
						}
						
						show_tooltip(el);
					}
					
					// We don't get a target on blur() or focusout() events (grr) so we have to
					// manually figure out to close the tooltip when a click happens
					// somewhere other than an input box or on the tooltip itself
					$(document).click(function(e) {
						if($("#joblist-contents table").find(e.target).length) {
							if($(e.target).is(':input')) {}
							else hide_tooltip();
						}
						else if(!$("#tooltip-actions").find(e.target).length)
							hide_tooltip();
					});
				</script>
				
				
				<!-- Main table -->
				<table id="spreadsheet-data">
					<thead>
						<tr>
							<th data-header="-" class="notdraggable">
								<input data-group='global' type="checkbox" onclick="select_group(this)">
							</th>
							[% FOREACH column IN job_columns %]
								<th data-header="[% column.id %]">[% column.title %]</th>
							[% END %]
						</tr>
					</thead>
					<tbody>
						[% FOREACH job IN jobs %]
						<tr id="row-[% job.id %]" class="[% IF job.import_parent == current_spreadsheet_id %]new[% END %]" onclick="showNav('[% job.id %]', true);">
							<td style="padding: 10px;">
								<input type="checkbox"
										name="id"
										id="row-selector-[% job.id %]" 
										onclick="showNav('[% job.id %]'); event.stopPropagation();"
										class="rowid import-record-check"
										value="[% job.id %]"
										data-group='global'
										[% IF job.mediachoiceid %]data-noinsert="1"[% END %]
								>
							</td>
							[% FOREACH column IN job_columns %]
								[% SET fieldname = column.title %]
								[% SET cur_field = job.$fieldname %]
								<td>
									<input type="text"
											id="[% job.id %]-[% column.id %]"
											class="[% IF !cur_field.content_id && cur_field.requires_validation %]invalid[% ELSIF cur_field.content != cur_field.original_content %]modified[% END %]"
											[% IF !column.is_mappable %]disabled="disabled"[% END %]
											value="[% cur_field.content %]"
											onclick="show_tooltip(this); event.stopPropagation();"
											onchange="change_state(this);"
											onkeyup="change_state(this);"
											data-original-value="[% cur_field.original_content %]"
											data-current-value="[% cur_field.content %]"
											data-id-value="[% cur_field.content_id %]"
											data-requires-validation="[% cur_field.requires_validation %]"
											data-comment="[% cur_field.comment %]"
											data-columnid="[% column.id %]"
									>
								</td>
							[% END %]
						</tr>
						[% END %]
					</tbody>
				</table>
				
				<script language="javascript">
					$(document).ready(function() {
						if($("#spreadsheet-data .new").length)
							$("#joblist-contents").scrollTop($($("#spreadsheet-data .new")[0]).offset().top - $("#spreadsheet-data").offset().top - 5);
						
						$("#spreadsheet-data").dragtable({
							placeholder: 'dragtable-col-placeholder',
							items: 'thead th:not(.notdraggable)',
							stop: function() {
								var layout_data = $("#spreadsheet-data").dragtable('order').join('/');
								
								$.ajax({
									url : 'ajax/importjob.pl',
									type : 'POST',
									data : {		action		: 'save_layout_data',
												layout_data	: layout_data,
										},
									success : function(data) {
									}
								});
							},
						});
					});
				</script>
			</div>
		</div>
		
		
	[% INCLUDE ecm_html/job_import/import_list_dialogs.html %]
</div>






<!-- Actions menu entries -->
<form action="jobflow.pl" method="post" class="menu-list" id="actions-menu">
    <input type="hidden" name="menuation" value="Yes" />
    <input type="hidden" name="jobslist" id="jobslist" />
    <ul class="menu">
        <input type="button" value="Duplicate" onclick="" disabled="disabled" id="duplicate" class="textbtn"/><br>
        <input type="button" value="Save to Insertions" onclick="savetoInsertions()"  id="savetoinsertions" class="textbtn" disabled="disabled"/><br>
        [% IF is_developer %]
        		<div class="divider"><span>developers only</span></div>
	        <input type="button" value="Remove" id="removeentry" onclick="delete_entry()" class="textbtn" disabled="disabled"><br>
	        <input type="button" value="Remove entire plan" onclick="delete_route()" class="textbtn"><br>
	    [% END %]
    </ul>
    <input type="hidden" name="action" value="selectVendor" />
</form>





<script>
var active_record = null;



// ??
function showhide()
 {
       var div = document.getElementById("newpost");
		if (div.style.display !== "none") {
			div.style.display = "none";
		}
		else {
			div.style.display = "block";
		}
 }



/** Functions relating to the Actions button actions **/

function delete_entry() {
	var ids = [];
	$("#spreadsheet-data tbody input:checked").each(function (i, item) {
		var id = $(item).val();
		
		ids.push(id);
	});
	
	if(!ids.length) {
		jobflow_alert("No records to delete!");
		return;
	}
	
	jobflow_confirm("Are you sure you want to delete " + ids.length + " record" + (ids.length == 1 ? '' : 's') + "?",
				function () {
					$.ajax({
					url : 'ajax/importjob.pl',
					type : 'POST',
					dataType : 'json',
					data : { action : 'delete_jobs', recordids : JSON.stringify(ids) },
					success : function(data) {
						if(data.error) {
							display_error(data.error);
							return;
						}
	
						$.each(data.ids, function (i, item) {
							$("#row-" + item).fadeOut(400, function() { $("#row-" + item).remove(); });
						});
	
						jobflow_alert(data.count + " entries deleted");
					},
					error : function(jqXHR, error) {
						display_error(jqXHR.responseText);
					},
				});
			});
}

function delete_route() {
	$.ajax({
		url : 'ajax/importjob.pl',
		type : 'POST',
		dataType : 'json',
		data : { action : 'delete_route_jobs' },
		success : function(data) {
			if(data.error) {
				display_error(data.error);
				return;
			}
			
			window.location.replace('jobflow.pl?action=searchjobimport');
		},
		error : function(jqXHR, error) {
			display_error(jqXHR.responseText);
		},
	});
}

/** END **/







/** Functions to do with opening/closing/updating the right-hand panel **/

function select_group(parent) {
	var parent_group = $(parent).data('group');
	
	var checkboxes = $(".import-record-check[data-group=" + parent_group + "]");
	checkboxes.prop('checked', $(parent).prop('checked'));
	
	showNav(checkboxes.length ? checkboxes.first().attr('id').substr(13) : null);
}

// Show the navigation panel and update it where necessary
function showNav(current_record, force_active) {
	var active_rowcount = $("#spreadsheet-data tbody input:checked").length;
	
	
	if(active_rowcount || force_active) {
		// If the user is unchecking a row, find a substitute
		if(!$("#row-selector-" + current_record).prop('checked') && !force_active) {
			$("#row-" + current_record).removeClass('active');
			current_record = $(".import-record-check:checked").last().attr('id').substr(13);
		}
		
		
		var is_changing = !$("#right-content").hasClass('open') ||			// If the right-hand panel isn't open,
							!$("#spreadsheet-data .active").length ||		// or the current row is becoming active,
							force_active;								// or refreshing has been forced,
																		// refresh the right-hand panel
							
		$("#right-content").addClass('open');
		if(is_changing) {
			$("#spreadsheet-data .active").removeClass('active');
			$("#row-" + current_record).addClass('active');
			$("#row-selector-" + current_record).prop('checked', true);
			
			updateNav(current_record);
		}
	} else {
		$("#spreadsheet-data .active").removeClass('active');
		$("#right-content").removeClass('open');
	}
	
	active_rowcount = $("#spreadsheet-data tbody input:checked").length;	// Update rowcount because we might have enabled something
	
	$(".rulebutton").toggle(active_rowcount == 1 ? true : false);	// Only show the create rule button for a single row
	$(".linkable").toggle(active_rowcount == 1 ? true : false);	// Only show the create rule locks for a single row
	$("#savetoinsertions").attr('disabled', !active_rowcount);
	$("#removeentry").attr('disabled', !active_rowcount);
}

// Update the navigation panel details
function updateNav(primary_record) {
	// Auto-populate fields with existing data
	$("[data-fieldid]").each(function(i, item) {
		var cell = $("#" + primary_record + "-" + $(item).data('fieldid'));
		
		if($(item).is('select')) {
			$(item).find('option').remove();
			
			var cell_data = cell.data('current-value');
			$(item).append($('<option>', { value: 'ignore;', text: cell_data ? ('-- (' + cell_data + ')') : '--' }));
			if(cell_data) $(item).trigger('change');
		} else {
			$(item).val(cell.data('current-value'));
		}
	});
	
	var elements = [];
	$("[data-fieldid]").not("[data-parentid]").each(function(i, item) { elements.push($(item).attr('data-fieldid')); });
	active_record = primary_record;
	
	$(".linkable").each(function (e, el) {
		$(el).attr('title', "Lock to '" + $("#" + primary_record + '-' + $(el).attr('id').substr(5)).val() + "'");
		if($("#" + primary_record + '-' + $(el).attr('id').substr(5)).val() && !$(el).data('link-parentid'))
			$(el).removeClass('disabled');
		else
			$(el).addClass('disabled');
	});

	load_validation(elements, primary_record);
}

function closeNav() {
	$("#right-content").removeClass('open');
}

showNav();

/** End **/





/** Functions to do with loading validation entries **/

function load_validation(fieldids, recordid) {
	// Create a hash of existing field selections ['fieldid-recordid'] = content_id
		var selections = {};
		[% FOREACH job IN jobs %][% FOREACH column IN job_columns %]
			[% SET fieldname = column.title %]
			[% IF job.$fieldname.content_id %]selections['[% job.$fieldname.id %]-[% job.id %]'] = '[% job.$fieldname.content_id %]';[% END %]
		[% END %][% END %]
	
	
	// Get a hash of existing chosen field values (so we can use them when getting new field values)
		var values = {};
		$("[data-fieldid]").each(function(i, item) {
			if(!$(item).val()) return;
			if($(item).val().split(';')[0] == 'ignore') return;
			
			
			values[$(item).attr('data-fieldid')] = ($(item).is('select') ? '' : ';') + $(item).val();
		});
	
	
	var data = {	action : 'validate',
				recordid : recordid,
				fieldids : JSON.stringify( fieldids ),
				values : JSON.stringify( values ),
			};
	
	ajax_loader_parent = $("#right-content");
	$.ajax({
		url : 'ajax/importjob.pl',
		type : 'POST',
		data : data,
		dataType: 'json',
		success : function(data) {
			// For each field
			$.each(data.records, function (i, field) {
				var elem = $("[data-fieldid=" + i + "]");
				if(!elem.is('select')) return;
				
				elem.find('option').remove();
				
				// Populate the relevant dropdown with the items
				var selectionKey = i + "-" + recordid;
				var cur_value = $("#" + recordid + "-" + i).data('current-value');
				elem.append($('<option>', { value: 'ignore;', text: cur_value ? ('-- (' + cur_value + ')') : '--' }));		// Default, where we don't change values
				
				var default_value = '';
				$.each(field, function (j, item) {
					// Auto CMD-mapped values (?????)
					//if((j == 0) && field.length==1) { elem.append($('<option>', { value : 'auto;' + item.text, text: 'Auto (' + item.text + ')' })); default_value = 'auto;' + item.text; }
					
					elem.append($('<option>', { value		: item.id + ';' + item.text,
												text		: item.text,
												selected	: (item.isdefault || (item.id == selections[selectionKey]) ? 'selected' : null) }));
				});
				
				elem.val(default_value ? default_value : 'ignore;');
			});
		}
	});
}

function update_validation_children(parentid, recordid) {
	var children = [];
	$("[data-parentid=" + parentid + "]").each(function (i, item) { children.push($(item).attr('data-fieldid')); });
	if(children.length) load_validation(children, recordid);
	
	$("[data-link-parentid=" + parentid + "]").each(function (e, el) {
		if($("#" + recordid + '-' + $(el).attr('id').substr(5)).val())
			$(el).removeClass('disabled');
	});
}

// Load entries that don't have parents
$("[data-fieldid]").change(function() { update_validation_children($(this).attr('data-fieldid'), active_record); });

/** End **/
</script>


[% INCLUDE ecm_html/footer.html %]

