<!-- Dialog for uploading of spreadsheet -->
<div id="import" title="Import Spreadsheet (1/2)" style="display: none;">
	<form action="ajax/importjob.pl" method="post" enctype="multipart/form-data">
		<label for="file">Please select a spreadsheet to import:</label><br><br>
		<input type="file" name="file" id="import_file" />
	</form>
	
	<script type="text/javascript">
		function show_import_dialog() {
			$("#import").dialog({	minWidth:	400,
									dialogClass:	'dropshadow',
									show: 		{	effect : 'fade',
													duration : '10'
												},
									hide:		{	effect : 'fade',
													duration : '10'
										 		},
									buttons:		{	'Next >>' : function() { if($("#import_file").val()) { show_mapping_dialog(); }
																			 else jobflow_alert("Please select a spreadsheet to upload.");
																		 } }
								});
		}
	</script>
</div>





<!-- Dialog for ordering of column mappings -->
<div id="mapping" title="Import Spreadsheet (2/2)" style="display: none;">
	<div class="pairing-panel"><div class="list-container">
		<div class="pairing-header">
			<h3>	Spreadsheet columns:</h3>
		
			<span>
				<select id="sheet"></select>
				
				<a href="#" onclick="show_spreadsheet_row(--current_page)">&lt;</a>
				Row <span id="rowindex">1</span>
				<a href="#" onclick="show_spreadsheet_row(++current_page)">&gt;</a>
			</span>
		</div>
		
		
		<div class="pairing-list" id="mappable-columns">
		</div>
	</div></div><div class="pairing-panel"><div class="list-container">
		<div class="pairing-header">
			<h3>Mappable fields:</h3>
			<a href="#" class="link-action" onclick="auto_map();">Auto-map</a> |
			<a href="#" class="link-action" onclick="clear_mappings();">Clear mappings</a>
		</div>
		
		<div class="pairing-overview">
			<div id="slider"></div>
			
			[% SET index = 0 %]
			[% FOREACH field IN mappable_fields %]
				[% IF !field.is_mappable %][% NEXT %][% END %]
				[% SET index = index + 1 %]
				<div id="pair-overview-[% field.id %]" class="[% IF field.is_mandatory %]invalid[% END %]" data-mandatory="[% field.is_mandatory %]" style="height: [% 100 / mappable_fields.size %]%"></div>
			[% END %]
		</div>
		
		<div class="pairing-list" id="mappable-fields" onscroll="move_slider()">
			[% SET index = 0 %]
			[% FOREACH field IN mappable_fields %]
				[% IF !field.is_mappable %][% NEXT %][% END %]
				[% SET index = index + 1 %]
				<div class="pairing-column [% IF field.is_mandatory %]invalid[% END %]" id="[% field.id %]" data-title="[% field.title %]" data-mandatory="[% field.is_mandatory %]" ondrop="drop(event)" ondragover="allowDrop(event)">
					<div class="pairing-info">
						[% field.title %]
						<br>
						[% IF field.description %]<span class="description">([% field.description %])</span>[% END %]
					</div>
					<div class="pairing">
						<a href="#" id="mappinglink-[% field.id %]-1" class="link-action" onclick="show_mapping_type_dialog('[% field.id %]')" data-type="1">Mapping: Basic</a><br>
						<span class="slot" id="slot-[% field.id %]-1" data-index="1" onclick="remove_mapping(this)">&#x2460;</span>
					</div>
				</div>
			[% END %]
		</div>
	</div></div>
	
	<script type="text/javascript">
		var mappings = {};
		var spreadsheet_info = [];
		var current_page = 0;
		var burn_count = 1;
		
		console.log("Don't worry about the scroll message on Firefox. It's a tiny div and we don't care if scrolling is janky (Plus, there's no way to work around it)");
		function move_slider() {
			var viewp = $("#mappable-fields");
			$("#slider").css({	top : ((100 / viewp[0].scrollHeight) * viewp.scrollTop()) + '%',
								height : (100 / viewp[0].scrollHeight) * viewp.innerHeight() + '%',
							});
		}
		
		function allowDrop(ev) {
			ev.preventDefault();
		}

		function drag(ev) {
			ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
			ev.preventDefault();
			var data = ev.dataTransfer.getData("text");
			var source = document.getElementById(data);
			
			// Find the parent element, since drag-drop can drop to arbitrary children (not what we want)
			var el = ev.target;
			while($(el) && !$(el).hasClass('pairing-column')) { el = $(el).parent(); }
			
			
			create_mapping(source, el);
		}
		
		
		function clear_mappings() {
			$(".mapped, .partially-mapped").each(function (e, el) {
				update_mapping($(el).attr('id'), 1);
				$(el).find(".pairing .slot").each(function (s, slot) {
					$(slot).text(String.fromCharCode(0x2460 + ($(slot).data('index') - 1)));
					$(slot).removeClass('disabled');
					$(slot).attr('data-column', null);
				});
				
				 // put the circled number back in
				$(el).removeClass('mapped partially-mapped');
				$("#pair-overview-" + $(el).attr('id')).removeClass('mapped partially-mapped');
			});
			$("[data-mandatory=1]").addClass('invalid');
		}
		
		
		function create_mapping(source, dest) {
			var used = 0;
			var remaining = 0;
			$(dest).find('.slot').each(function (i, item) {
				if(used) { remaining = 1; return; }
				
				if($(item).attr('data-column') == null) {
					$(item).text(source.innerHTML);
					$(item).attr('data-column', $(source).attr('id'));
					$(item).attr('data-rowindex', current_page);
					used = 1;
				}
			});
			
			$(dest).removeClass('invalid');
			$(dest).addClass(remaining ? 'partially-mapped' : 'mapped');
			$("#pair-overview-" + $(dest).attr('id')).removeClass('invalid');
			$("#pair-overview-" + $(dest).attr('id')).addClass(remaining ? 'partially-mapped' : 'mapped');
		}
		
		function auto_map() {
			for(var b = 0; b < [% automap_limit %]; b++) {
				show_spreadsheet_row(b);
				
				$("#mappable-columns").find('.pairing-column').each(function (i, item) {
					var found = 0;
					$("#mappable-fields").find(".pairing-column").each(function (j, dest) {
						if(found) return;
					
						if($(item).text().toLowerCase() != $(dest).data('title').toLowerCase()) return;
					
						create_mapping(item, dest);
						found = 1;
						burn_count = b + 1;	// When importing, treat everything up to the row with the last mapping as irrelevant
					});
				});
			}
			
			show_spreadsheet_row(burn_count - 1);
		}
		
		function load_previous_mappings(mapping) {
			var highest = 0;
			
			$.each(mapping, function (m, map) {
				update_mapping(map.field, map.type);
				
				$.each(map.columns, function (c, col) {
					if(col.rowindex > highest) highest = col.rowindex;
					show_spreadsheet_row(col.rowindex);
					create_mapping($("#column-" + col.column)[0], $("#" + map.field)[0]);
				});
			});
			
			show_spreadsheet_row(highest)
		}
		
		function remove_mapping(el) {
			$(el).attr('data-column', null);
			$(el).removeClass('disabled');
			$(el).text(String.fromCharCode(0x2460 + ($(el).data('index') - 1))); // put the circled number back in
			
			var owner = $(el).parent().parent();
			owner.removeClass('mapped partially-mapped');
			$("#pair-overview-" + owner.attr('id')).removeClass('mapped partially-mapped');
			
			if(owner.data('mandatory')) { owner.addClass('invalid'); $("#pair-overview-" + owner.attr('id')).addClass('invalid'); }
		}

		function show_spreadsheet_row(index) {
			if(index < 0) index = 0;
			if(index > spreadsheet_info[$("#sheet").val()].contents.length - 1) index = spreadsheet_info[$("#sheet").val()].contents.length - 1;
			var html = "";
			
			var columns = spreadsheet_info[$("#sheet").val()].contents[index];
			columns.forEach(function (item, colindex) {
				if(item == null || item == '') item = ' ';
				var el = $("#column-" + colindex);
				if(el.length) {
					el.text(item);
				} else {
					$("#mappable-columns").append('<div class="pairing-column draggable" id="column-' + colindex + '" draggable="true" ondragstart="drag(event)">' + item + '</div>');
					var el = $("#column-" + colindex);
				}
				
				$("[data-column=" + colindex + "]").text(item);
				if(item == ' ') {
					el.addClass('disabled');
					el.text('[empty]');
					
					$("[data-column=" + colindex + "]").addClass('disabled');
					$("[data-column=" + colindex + "]").text('[empty]');
				} else {
					el.removeClass('disabled');
					$("[data-column=" + colindex + "]").removeClass('disabled');
				}
			});
			
			current_page = index;
			$("#rowindex").html(parseInt(index) + 1);
		}

		function show_mapping_dialog() {
			var formData = new FormData();
			formData.append('file', $('#import_file')[0].files[0]);
			
			ajax_loader_parent = $("#import").parent();
			$.ajax({
				url : 'ajax/importjob.pl',
				type : 'POST',
				data : formData,
				processData: false,  // tell jQuery not to process the data
				contentType: false,  // tell jQuery not to set contentType
				success : function(data) {
					$("#import").dialog("destroy");
					
					if(data.error) {
						display_error(data.error);
						return;
					}
					
					spreadsheet_info = data.sheets;
					$("#mapping").dialog({	minWidth:	800,
											height:		600,
											dialogClass:	'dropshadow',
											show:		{	effect : 'fade',
															duration : '10',
														},
											hide:		{	effect : 'fade',
															duration : '10',
														},
											buttons:		{	'Import' : function() { import_spreadsheet();	}
														}
										});
	
					spreadsheet_info.forEach(function(item, index) {
						$("#sheet").append($('<option>', { value: index, text: item.name }));
					});
	
					show_spreadsheet_row(0);
					if(data.maps.length)	load_previous_mappings(data.maps);
					else					auto_map();
				},
				error : function(jqXHR, error) {
					display_error(jqXHR.responseText);
				},
			});
		}
		
		function import_spreadsheet() {
			var mapping = [];
			
			$("#mappable-fields .pairing-column").each(function (i, item) {
				var field = $(item).attr('id');
				var maptype = $($(item).find('.link-action')[0]).data('type');
				
				var slots = [];
				$(item).find('.slot').each(function (s, slot) {
					if($(slot).data('column')) { slots.push({ column : $(slot).data('column').substr(7), rowindex : $(slot).attr('data-rowindex') }); }	//substr away 'columns-'
				});
				
				if(slots.length) {
					mapping.push({ field : field, type : maptype, columns : slots });
				}
			});
			
			if(!mapping.length) {
				jobflow_alert("Please provide at least one column-field mapping.");
				return;
			}
			if($("#mappable-fields .invalid").length) {
				jobflow_alert("Some fields are mandatory. Please ensure a spreadsheet column is mapped to them.");
				return;
			}
			
			ajax_loader_parent = $("#mapping").parent();
			$.ajax({
				url : 'ajax/importjob.pl',
				type : 'POST',
				dataType : 'json',
				data : { action : 'import_jobs', mapping : JSON.stringify(mapping), sheetid : $("#sheet").val() },
				success : function(data) {
					stop_progress(); 
					
					if(data.error) {
						display_error(data.error);
						return;
					}
					
					$("#import-count").text(data.new_ids.length + ' row' + (data.new_ids.length == 1 ? '' : 's'));
					$("#fail-count").text(data.failures.length + ' failure' + (data.failures.length == 1 ? '' : 's'));
					$.each(data.failures, function (i, item) { $("#fail-reasons").append('<li>' + item + '</li>'); });
						
					$("#progress").dialog("close");
					$("#result").dialog({	width:		600,
											maxHeight:	600,
											dialogClass:	'dropshadow',
											show: 		{	effect : 'fade',
															duration : '10'
														},
											hide:		{	effect : 'fade',
															duration : '10'
												 		},
											buttons:		{ 'Finish' : function() { window.location.replace('jobflow.pl?action=searchjobimport'); } },
										});
				},
				error: function(jqXHR, error) {
					display_error(jqXHR.responseText);
				},
			});
			
			
			stop_timers = false;
			$("#mapping").dialog("destroy");
			init_progress();
			$("#progress").dialog({	width:		400,
									height:		130,
									resizable:	false,
									dialogClass:	'dropshadow',
									show: 		{	effect : 'fade',
													duration : '10'
												},
									hide:		{	effect : 'fade',
													duration : '10'
										 		},
									close:		function() { stop_progress(); },
								});
							
			update_progress();
		}
		
		function show_mapping_type_dialog(index) {
			$("#mapping-types").dialog({	width:		500,
										resizable:	false,
										modal:		true,
										dialogClass:	'dropshadow',
										buttons:		{ 'OK' : function() { update_mapping(index, $("#mapping-type").val());  $("#mapping-types").dialog("close"); } },
										});
		}
		
		function update_mapping(index, value) {
			$("#mapping-type").val(value);
			
			$("#mappinglink-" + index + "-1").data('type', value);
			$("#mappinglink-" + index + "-1").text("Mapping: " + $('#mapping-type').find('option:selected').text());
			
			// Add extra input slots where necessary
				var formula = $("#mapping-type").find('option:selected').data('formula');
				var i = 0;
				while(formula.indexOf('(' + ++i + ')') != -1) {
					if($("#slot-" + index + "-" + i).length) continue;
				
					$("#mappinglink-" + index + "-1").parent().append(' <span class="slot" id="slot-' + index + '-' + i + '" data-index="' + i + '" onclick="remove_mapping(this)">&#x246' + (i - 1) + ';</span>');
				}
				
			// Remove any extra ones we had before
				$("#mappinglink-" + index + "-1").parent().find('.slot').each(function (e, el) {
					if($(el).attr('data-index') >= i) $(el).remove();
				});
		}
		
		function display_error(error) {
			try { $("#progress").dialog('destroy'); } catch (err) {};
			$('#progress').html("<font color='red'> <strong>Error:</strong><br>" + error + "</font>");
			$("#progress").dialog({
						dialogClass:	'dropshadow',
						show: 		{	effect : 'fade',
										duration : '10'
									},
						buttons:		{	'Cancel' : function() { $("#progress").dialog('destroy'); } },
					});
		}
	</script>
</div>






<!-- Dialog for editing more complex data maps -->
<div id="mapping-types" style="display: none;" title="Edit mapping type">
	Mapping formula: <select id="mapping-type">[% FOREACH type IN mapping_types %]<option value="[% type.id %]" data-formula="[% type.mappinginfo %]">[% type.name %]</option>[% END %]</select> <br>
	
	<div	 style="display:none">
		<div id="mapping-formula">
			<span id='element-0' data-actual="'Width: '">'Width: '</span>
			<span id='element-1' data-actual="parse(%{column}, before 'x')">parse(&#x2460;, before 'x')</span>
			<span id='element-2' data-actual="'mm'">'mm'</span>
			
			<span id='element-a'>[Add Element]</span>
		</div>
		
		<br><br>
		
		<div style="border: 1px solid gray; margin: 5px; padding: 5px;">
			<div id="element-formula" style="margin: 5px; color: gray;">
				+ translate(&#x2461;, 'mm to inches')
			</div>
			
			<select id='element-join' onchange="write_element()">
				<option value=''>Follow with</option>
				<option value='*'>Multiply by</option>
				<option value='/'>Divide by</option>
				<option value='+'>Add</option>
				<option value='-'>Subtracted</option>
			</select>
			<button onclick="show_mapping_subdialog('source')">Source...</button>
			<button onclick="show_mapping_subdialog('modifier')">Modifier...</button>
			
			<button onclick="update_formula()">Update</button>
		</div>
		
		<br><br>
		<div id='examples' style="border: 1px solid gray; margin: 5px; padding: 5px;">
			<div id='example-1'>
				<label id="header-1">Column 1:</label>
				<input id="value-1" type="text" value="value-1">
			</div>
			<div id='example-2'>
				<label id="header-2">Column 2:</label>
				<input id="value-2" type="text" value="value-2">
			</div>
			<span id='example-result' style="font-family: courier; margin: 5px;">Width: 123mm</span>
		</div>
	</div>
	

	<script language="javascript">
		var column_count = 1;
		var current_index = 0;
		
		//show_mapping_type_dialog();
	
		function select_source(source) {
			$(".source-type").hide();
			$("#source-" + source).show();
		}
	
		function select_modifier(modifier) {
			$(".modifier-type").hide();
			$("#modifier-" + modifier).show();
		}
		
		function show_mapping_subdialog(type) {
			$("#mapping-" + type).dialog({	width:		500,
										resizable:	false,
										modal:		true,
										dialogClass:	'dropshadow',
										buttons:		{ 'OK' : function() { write_element(); $("#mapping-" + type).dialog("close"); } },
										});
		}
		
		function write_element() {
			var text = '';
			
			text = $("#element-join").val() + ' ';
			
			var source = $("#element-source").val();
			if(source == 'column') { source = '%{column}'; }
			else if(source == 'text') { source = "'" + $("#source-text").val() + "'"; }
			else if(source == 'variable') { source = '%{' + $("#source-variable").val() + '}'; }
			
			var modifier = $("#element-modifier").val();
			if(modifier) { modifier += '(' + source + ', ' + $("#modifier-" + modifier).val() + ')' }
			else { modifier = source; }
			text = text + modifier;
			
			$("#element-formula").attr('data-actual', text);
			$("#element-formula").text(text.replace('%{column}', String.fromCharCode(0x24EA)));
		}
		
		function select_element(id) {
			$("#element-formula").text($(id).text());
			current_index = $(id).attr('id').substr(8);
			
			$("#element-join").val($(id).text().substr(0,1));
			if($("#element-join").val() == null) $("#element-join").val('');
		}
		
		function update_formula() {
			if(current_index == 'a') {
				var newid = $("#mapping-formula span").length;
				$("#element-a").before('<span id="element-' + newid + '" onclick="select_element(this);">New span</span>\n');
				console.log("Adding new column (" + newid + ")");
				current_index = newid;
			}
			
			$("#element-" + current_index).attr('data-actual', $("#element-formula").attr('data-actual'));
			
			write_formula();
		}
		
		function write_formula() {
			var cols = 0;
			
			// Replace the (0)s with column index markers
			$("#mapping-formula span").each(function (i, item) {
				if($(item).attr('id') == 'element-a') return;
				
				var text = $(item).attr('data-actual') || '';
				if(text.indexOf('%{column}') > 0) {
					text = text.replace('%{column}', String.fromCharCode(0x2460 + cols++));
				}
				$(item).text(text);
			});
			
			// Load up the necessary number of example columns
			for(var i = 1; i <= cols; i++) {
				if(!$("#column-" + i).length) {
					
				}
				//<div id="example-1">Column 1: <input type="text" value="123"></div>
			}
		}
		
		$("#mapping-formula span").on('click', function() { select_element(this); });
		//show_mapping_type_dialog();
	</script>
</div>

<div id="mapping-source" style="display:none;" title="Select source">
	Select source:
	<br><br>
	<div>
		<select id="element-source" onchange="select_source($(this).val())">
			<option value="column" selected="selected">Column data</option>
			<option value="text">Static text</option>
			<option value="variable">Variable</option>
		</select>
		
		<input id="source-text" class="source-type" style="display: none;" type="text" value="Text">
		<select id="source-variable" class="source-type" style="display: none;">
			<option value='date'>Date (yyyy-mm-dd)</option>
			<option value='time'>Time (hh:mm)</option>
			<option value='row'>Row number</option>
		</select>
	</div>
</div>


<div id="mapping-modifier" style="display:none;" title="Select modifier">
	Select Modifier:
	
	<div>
		<select id="element-modifier" onchange="select_modifier($(this).val())">
			<option value=''>-</option>
			<option value="parse" selected="selected">Parsed from</option>
			<option value="translate">Translated into</option>
		</select>
		<select id="modifier-parse" class="modifier-type">
			<option value='before'>Before the first</option>
			<option value='after'>After the first</option>
			<option value='starting'>Ending starting from position</option>
			<option value='ending'>Everything until position</option>
		</select>
		<select id="modifier-translate" class="modifier-type" style="display: none;">
			<option>mm to inches</option>
			<option>cm to inches</option>
		</select>
		)
	</div>
</div>



<!-- Dialog for import progress -->
<div id="progress" style="display: none;" title="Import (progress)">
	Please wait whilst the spreadsheet is imported.
	<br><br>
	<label for="progress-value">Progress:</label><span id="progress-value">0</span>%
	<br>
	<div id="progress-border">
		<div id="progress-meter">&nbsp;</div>
	</div>
	<div id="progress-details">
	</div>
	
	<script type="text/javascript">
		var stop_timers = false;
		var timer = null;
		var updatetimer = null;
		var i = 0;
		
		var old_progress = 0;
		var new_progress = 0;
		var current_step = 0;
		var max_steps = 5;
		
		function init_progress() {
			$("#progress").html('Please wait whilst the spreadsheet is imported. \
								<br><br> \
								<label for="progress-value">Progress:</label><span id="progress-value">0</span>% \
								<br> \
								<div id="progress-border"> \
									<div id="progress-meter">&nbsp;</div> \
								</div>');
			old_progress = 0;
			new_progress = 0;
			current_step = 0;
		}
								
		function stop_progress() {
			clearInterval(updatetimer); updatetimer = null;
			clearTimeout(timer); timer = null;
			stop_timers = true;
		}
		
		function update_progress_meter() {
			var cur_progress = parseInt(((new_progress - old_progress) / max_steps) * current_step) + old_progress;
			
			if(current_step++ > max_steps || stop_timers) {
				clearInterval(updatetimer);
				updatetimer = null;
				return;
			}
			
			$('#progress-value').html(cur_progress);
			$('#progress-meter').css({ 'clip-path' : 'inset(0px ' + (100 - cur_progress) + '% 0px 0px)' });
		}
		
		function update_progress() {
			$.ajax({
				url : 'ajax/importjob.pl',
				type : 'POST',
				data : { action : 'get_progress' },
				dataType: 'json',
				
				beforeSend: function() {},		// Hide the jobflow spinner, since we're doing this frequently
				success : function(data) {
					if(data.error) {
						display_error(data.error);
						return;
					}
					
					if(data.progress > new_progress) {
						old_progress = new_progress;
						new_progress = data.progress;
						current_step = 0;
					}
					
					if(data.details)
						$("#progress-details").html($("#progress-details").html() + "<br>\n" + data.details);
					
					
					if(updatetimer == null && !stop_timers) {
						updatetimer = setInterval(update_progress_meter, 100);
					}
						
					if(data.progress < 100 && !stop_timers)
						timer = setTimeout(function() { update_progress() }, 500);
				},
				error : function(jqXHR, status) {
					display_error(jqXHR.responseText);
				}
			});
		}
	</script>
</div>






<!-- Dialog for import result -->
<div id="result" style="display: none;" title="Import (result)">
	<span id="import-count">x</span> imported.<br><br>
	<span id="fail-count">x</span>:<br>
	<ul id="fail-reasons"></ul>
</div>
</div>
