<form id="mediaowner-form" class="panel">
	<h3>Media Owner</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr>
			<td colspan="2">
				<label>Media Owner:</label>		<input data-fieldid="[% fields_by_key.media_owner %]" type="text">
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Format:</label>			<input data-fieldid="[% fields_by_key.format %]" type="text">
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary" onclick="return save_form('prodroute-form', 0);">Save selected</button>
	</div>
</form>




<form id="jobtitle-form" class="panel">
	<h3>Job Title</h3>

	<input type="hidden" name="action" value="searchjobimport">

	<table>
		<tr class="title">
			<td colspan="2">
				<label>Job Title:</label>		<select id="preprod_jobtitle" data-fieldid="[% fields_by_key.job_title %]"></select>
			</td>
		</tr>
		
		<tr><td colspan="2"><hr></td></tr>
		
		
		<tr>
			<td colspan="2">
				<label>Cust. Order No.:</label>	<input id="preprod_customerorderno" data-fieldid="[% fields_by_key.customer_order_number %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Agency Job No:</label>		<input id="preprod_agencyjobno" data-fieldid="[% fields_by_key.agency_job_number %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary" onclick="return save_form('prodroute-form', 0);">Save selected</button>
	</div>
</form>




<form id="requireddate-form" class="panel">
	<h3>Required Dates</h3>
	
	<input type="hidden" name="action" value="searchjobimport">

	<table>
	    <tr>
			<td width="20">&nbsp;</td><td width="100">Production Route</td>
			<td><select id="preprod_productionroute" data-fieldid="[% fields_by_key.production_route %]"></select></td>
		</tr>
		<tr>
			<td width="20">&nbsp;</td><td width="100">&nbsp;</td><td><a href="#" onclick="show_production_brief_dialog()">Production Brief</a></td>
		</tr>
		<tr>
			<td colspan="2">
				<label>Required Date:</label>		<input id="preprod_requireddate" class="datetime" data-fieldid="[% fields_by_key.required_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Material Date:</label>		<input id="preprod_materialdate" class="datetime" data-fieldid="[% fields_by_key.material_date %]" />
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		
		<tr>
			<td colspan="2">
				<label>Start Date:</label>		<input id="preprod_startdate" class="datetime" data-fieldid="[% fields_by_key.start_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>End Date:</label>		<input id="preprod_enddate" class="datetime" data-fieldid="[% fields_by_key.end_date %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary" onclick="return save_form('prodroute-form', 0);">Save selected</button>
	</div>
</form>


<script language="javascript">
  function show_production_brief_dialog(){
     $("#brief").dialog();
  }
</script>

<div id="brief" title="Production Brief" style="display: none;">
	<form id='prodroute-brief'>
		<input type="hidden" name="action" value="searchjobimport">
		
		<textarea data-fieldid="[% fields_by_key.production_brief %]" name="production_brief" rows="10" cols="50">
		</textarea>
	
		<button class="panelbutton" onclick="return save_form('prodroute-brief', 0);">Save selected</button>
		<button class="panelbutton" onclick="return save_form('prodroute-brief', 1);">Apply All</button>
	</form>
</div>