[% SET extra_css = [ "joblist", "job_import", "ecmstyles" ] %]
[% SET use_new_loader = 1 %]
[% INCLUDE ecm_html/header.html %]

<script type="text/javascript" src="js/job_import.js"></script>


<div id="mainlayer" style="padding-top:20px;">
	<h1>Mapping Fields</h1>
	<input type="button" id="addsetting" value="Add Setting" onclick="add_data()" class="ui-button ui-widget ui-corner-all ui-button-text-only btnprimary">
	
	<div id="joblist-contents" style="padding-top:20px;">
		<table id="spreadsheet-data" class="sortable">
			<thead>
				<tr>
					<th style="display: none;">ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Field Type</th>
					<th>CMD Field Name</th>
					<th>Metadata Key Name</th>
					<th>Is Mandatory?</th>
					<th>Is Visible?</th>
					<th>Is Mappable?</th>
					<th>Ordering hint</th>
				</tr>
			</thead>
			<tbody>
				[% FOREACH n IN job_import_settings %]		
				<tr id="row-[% n.id %]" title="Click to edit [%  n.title %]" onclick="edit_data(this)">
					<td id="row-[% n.id %]-id"            data-value="[% n.id %]" style="display: none;"></td>
					<td id="row-[% n.id %]-key"           data-value="[% n.key %]" style="display: none;"></td>
					<td id="row-[% n.id %]-title"         data-value="[% n.title %]">[% n.title %]</td>
					<td id="row-[% n.id %]-description"   data-value="[% n.description %]">[% n.description %]</td>
					<td id="row-[% n.id %]-type"          data-value="[% n.fieldtype %]">[% n.fieldtype %]</td>
					<td id="row-[% n.id %]-cmd-name"      data-value="[% n.fieldname %]">[% n.fieldname || '-' %]</td>
					<td id="row-[% n.id %]-meta-name"     data-value="[% n.meta_key %]">[% n.meta_key || '-' %]</td>
					<td id="row-[% n.id %]-mandatory"     data-value="[% n.is_mandatory %]">[% IF n.is_mandatory %]Yes[% ELSE %]No[% END %]</td>
					<td id="row-[% n.id %]-visible"       data-value="[% n.is_visible %]">[% n.is_visible %]</td>
					<td id="row-[% n.id %]-mappable"      data-value="[% n.is_mappable %]">[% IF n.is_mappable %]Yes[% ELSE %]No[% END %]</td>
					<td id="row-[% n.id %]-ordering-hint" data-value="[% n.index_hint %]">[% n.index_hint %]</td>
					
					[% IF !n.field_key %]<td id="row-[% n.id %]-delete"> <a title="Delete [%  n.title %]" onclick="delete_data('[% n.id %]', event); ">Delete</a></td>[% END %]
				</tr>
				[% END %]
			</tbody>
		</table>
	</div>
	
	<div id="delete-jif-confirm" title="Delete">
		<div id="jif-save-ok" title="Sucess">
		</div>
	</div>
</div>


<div id="field-info" style="display: none">
	<input type="hidden" id="field-id" value="">
	<ul>
		<li><label>Title</label>			<input type="text" id="field-title" title="Title" value=""></input>
		<li><label>Description</label>		<input type="text" id="field-description" title="Descrption" value=""></input>
		<li><label>Field type</label>		<select id="field-type" data-default='text'><option value="text">Text</option>
																		<option value="number">Number</option>
																		<option value="date">Date</option>
																		<option value="time">Time</option>
																		<option value="datetime">Date-time</option>
												</select>
		<li><label>CMD field name</label>	<input type="text" id="field-cmd-name" title="Title" value=""></input>
		<li><label>Meta-key name</label>	<input type="text" id="field-meta-name" title="Title" value=""></input>
		<li><label>Ordering hint</label>	<input type="text" id="field-ordering-hint" data-default='100' title="Title" value=""></input>
	</ul>
	<ul>
		<li><label>Mandatory</label>		<input type="checkbox" id="field-mandatory" data-default='0' title=""></input>
		<li><label>Mappable</label>		<input type="checkbox" id="field-mappable" data-default='1' name="" title=""></input>
		<li><label>Visibility</label>		<select id="field-visible" data-default='auto'><option value="auto">Auto</option><option value="yes">Always visible</option><option value="no">Never visible</option></select>
	</ul>
</div>


<script language="javascript">
	function add_data() {
		var data = [ 'title', 'description', 'type', 'cmd-name', 'meta-name', 'mandatory', 'visible', 'mappable', 'ordering-hint' ];
		
		$("#field-id").val('');
		$.each(data, function (i, item) {
			if($("#field-" + item).is(":checkbox"))	$("#field-" + item).prop('checked', $("#field-" + item).data('default'));
			else										$("#field-" + item).val($("#field-" + item).data('default'));
		})
		
		$("#field-info").dialog({	minWidth:	400,
									dialogClass:	'dropshadow',
									show: 		{	effect : 'fade',
													duration : '10'
												},
									hide:		{	effect : 'fade',
													duration : '10'
										 		},
									buttons:		{	'Add' : function() { save_data(); $("#field-info").dialog('close'); },
													'Cancel' : function() { $("#field-info").dialog('close'); },
												}
								});
	}
	
	function edit_data(el) {
		var fields = [ 'id', 'title', 'description', 'type', 'cmd-name', 'meta-name', 'mandatory', 'visible', 'mappable', 'ordering-hint' ];
		var row = '#' + $(el).attr('id') + '-';
		
		$.each(fields, function (i, item) {
			if($("#field-" + item).is(":checkbox"))	$("#field-" + item).prop('checked', $(row + item).data('value'));
			else										$("#field-" + item).val($(row + item).attr('data-value'));
		})
		
		$("#field-info").dialog({	minWidth:	400,
									dialogClass:	'dropshadow',
									show: 		{	effect : 'fade',
													duration : '10'
												},
									hide:		{	effect : 'fade',
													duration : '10'
										 		},
									buttons:		{	'Save' : function() { save_data(); $("#field-info").dialog('close'); },
													'Cancel' : function() { $("#field-info").dialog('close'); },
												}
								});
	}
	
	function save_data() {
		var fields = [ 'id', 'title', 'description', 'type', 'cmd-name', 'meta-name', 'mandatory', 'visible', 'mappable', 'ordering-hint' ];
		
		var field_data = {};
		$.each(fields, function (i, item) {
			field_data[item] = $("#field-" + item).is(':checkbox') ? ($("#field-" + item).prop('checked') ? 1 : 0) : $("#field-" + item).val();
		});
		field_data['mode'] = 'json';
		field_data['action'] = 'savejobimportfield';
		
		$.ajax({
			url: 'jobflow.pl',
			type : 'POST',
			data : field_data,
			dataType : 'json',
			success : function(data) {
				if(data.error) {
					jobflow_alert(data.error);
					return;
				}
				
				// Add a new entry if the ID is new
				var id = data['id'];
				if(!$("#row-" + id).length) {
					var append = '<tr id="row-' + id + '" onclick="edit_data(this)">';
					$.each(fields, function (i, item) { append += '<td id="row-' + id + '-' + item + '"></td>'; });
					append += '<td id="row-' + id + '-delete"><a onclick="delete_data("' + id + '", event);">Delete</a></td>';
					append += '</tr>';
					$("#spreadsheet-data tbody").append(append);
					$("#row-" + id + "-id").css({ display : 'none' });
				}
				
				// Update the rows
					$.each(fields, function (i, item) {
						$("#row-" + id + "-" + item).attr('data-value', field_data[item]);
						$("#row-" + id + "-" + item).html(field_data[item]);
					});
					$("#row-" + id + "-cmd-name").html(field_data['cmd-name'] || '-');
					$("#row-" + id + "-meta-name").html(field_data['meta-name'] || '-');
					$("#row-" + id + "-mandatory").html(field_data['mandatory'] == '1' ? 'Yes' : 'No');
					$("#row-" + id + "-mappable").html(field_data['mappable'] == '1' ? 'Yes' : 'No');
				
				jobflow_alert("Saved successfully");
			},
		});
	}
	
	function delete_data(id, event) {
		event.stopPropagation();
		
		jobflow_confirm("Are you sure you want to remove this import field?",
						function () {
							$.ajax({
								url: 'jobflow.pl',
								type: 'POST',
								data: { action: 'deletejobimportfield', mode: 'json', id: id },
								dataType: 'json',
								success: function(data) {
									$("#row-" + id).fadeOut(400, function() { $("#row-" + id).remove(); });
								},
							});
						});
						
		return false;
	}
</script>
