[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<link rel="stylesheet" type="text/css" href="styles/job_import.css">
<script type="text/javascript" src="js/job_import.js"></script>
<div id="mainlayer" style="padding-top:20px;">
	<h1>Job Import Substitution List</h1>
		<div id="tblWrapper" style="padding-top:20px;">
				<table border="1" id="getvalues" class="sortable">
				<thead>	<tr>
						<th>Title</th>
						<th>Text</th>
						<th>Replacement</th>
						<th>Delete</th>
					</tr></thead>
				[% FOREACH n IN job_import_substitutions %]		
					<tr id="[% n.id %]">						
						<td title="Click to edit [%  n.text %]" onclick="editjobimportsubstitution([% n.id %]);">[% n.title %]</td>
						<td title="Click to edit [%  n.text %]" onclick="editjobimportsubstitution([% n.id %]);">[% n.text %]</td>
						<td title="Click to edit [%  n.text %]" onclick="editjobimportsubstitution([% n.id %]);">[% n.replacement %]</td>
						<td> <a title="Delete [%  n.text %]" onclick="deletejobimportsubstitution([% n.id %]);">Delete</a></td>
					</tr>
				[% END %]
				</table>
		</div>
<div id="delete-jis-confirm" title="Delete">
<div id="jis-save-ok" title="Sucess">
</div>
