<form id="packaging-form" class="panel">
	<h3>Packaging</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label>Packaging Format:</label>			<select id="preprod_publication" data-fieldid="[% fields_by_key.packaging_format %]" name="publication"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Colour:</label>					<select id="preprod_colour" data-fieldid="[% fields_by_key.colour %]"></select>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Barcode</label>					<select id="preprod_barcode" data-fieldid="[% fields_by_key.barcode %]"></select>
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>




<form id="requireddate-form" class="panel">
	<h3>Required Dates</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
	    <tr class="title">
			<td colspan="2">
				<label>Job Title:</label>				<select id="preprod_jobtitle" data-fieldid="[% fields_by_key.job_title %]"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td colspan="2">
				<label>Start Date:</label>				<input id="preprod_startdate" class="datetime" data-fieldid="[% fields_by_key.start_date %]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Required Date:</label>				<input id="preprod_requireddate" data-fieldid="[% fields_by_key.required_date %]" class="datetime"/>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Material Date:</label>				<input id="preprod_materialdate" data-fieldid="[% fields_by_key.material_date %]" class="datetime"/>
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>




<form id='prodroute-form' class="panel">
	<h3>Production Route</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label>Production Route:</label>		<select id="preprod_productionroute" data-fieldid="[% fields_by_key.production_route %]"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td>
				<label>Production Brief:</label>
				<a href="#" onclick="show_production_brief_dialog()">[ Edit&hellip; ]</a>
				<input type="hidden" data-fieldid="[% fields_by_key.production_brief %]" name="production_brief" id="production-brief-value">
			</d>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Cust. Order No.:</label>		<input id="preprod_customerorderno" data-fieldid="[% fields_by_key.customer_order_number %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<!--<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>-->
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<div id="brief" title="Production Brief" style="display: none;">
	<textarea id="production-brief-text"></textarea>
</div>
