<form id="publication-form" class="panel">
	<h3>Publication Info</h3>
	
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label><img class="linkable" id="link-[% fields_by_key.publication %]"> Publication:</label>
				<select id="preprod_publication" data-fieldid="[% fields_by_key.publication %]" name="publication"></select>
			</td>
		</tr>
		
		<tr class="title">
			<td colspan="2">
				<label><img class="linkable disabled" id="link-[% fields_by_key.format %]" data-link-parentid="[% fields_by_key.publication %]"> Format:</label>
				<select id="format" data-fieldid="[% fields_by_key.format %]" data-parentid="[% fields_by_key.publication %]"></select>
			</td>
		</tr>
		
		<tr><td colspan="2"><hr></td></tr>
		
		<tr>
			<td>
				<label>Height:</label>	<select data-fieldid="[% fields_by_key.height %]" data-parentid="[% fields_by_key.publication %]" id="height"></select>
			</td>
			<td>
				<label>Width:</label>	<select data-fieldid="[% fields_by_key.width %]" data-parentid="[% fields_by_key.publication %]" id="width"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label>V Bleed:</label>	<select id="preprod_bleedv" data-fieldid="[% fields_by_key.bleed_v %]" data-parentid="[% fields_by_key.publication %]"></select>
			</td>
			<td>
				<label>H Bleed:</label>	<select id="preprod_bleedh" data-fieldid="[% fields_by_key.bleed_h %]" data-parentid="[% fields_by_key.publication %]"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Colour:</label>	<select id="preprod_colour" data-fieldid="[% fields_by_key.colour %]" data-parentid="[% fields_by_key.publication %]"></select>
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td colspan="2">
				<label>Position:</label>			<select id="preprod_position" data-fieldid="[% fields_by_key.position %]"></select><br>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Category:</label>			<select id="preprod_category" data-fieldid="[% fields_by_key.category %]"></select><br>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Funding:</label>			<select id="preprod_funding" data-fieldid="[% fields_by_key.funding %]"></select><br>
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td>
				<label><img class="linkable disabled" id="link-[% fields_by_key.country %]" data-link-parentid="[% fields_by_key.publication %]"> Country:</label>
										<select id="preprod_country" data-fieldid="[% fields_by_key.country %]" data-parentid="[% fields_by_key.publication %]"></select>
			</td>
			<td>
				<label>Region:</label>	<select id="preprod_region" data-fieldid="[% fields_by_key.region %]"></select>
			</td>
		</tr>
	</table>
		
	<hr>
	<div class="buttons">
		<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>








<form id="requireddate-form" class="panel">
	<h3>Required Dates</h3>
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td colspan="2">
				<label><img class="linkable" id="link-[% fields_by_key.job_title %]"> Job Title:</label>
				<select id="preprod_jobtitle" data-fieldid="[% fields_by_key.job_title %]"></select>
			</td>
		</tr>
		
		<tr><td colspan="2"><hr></td></tr>
		
		<tr>
			<td>
				<label>Required Date:</label>
					<input id="preprod_requireddate" data-fieldid="[% fields_by_key.required_date %]" class="datetime"/><br>
				<label>Material Date:</label>
					<input id="preprod_materialdate" data-fieldid="[% fields_by_key.material_date %]" class="datetime"/><br>
				<label>On Sale Date:</label>
					<input id="preprod_onsaledate" data-fieldid="[% fields_by_key.sale_date %]" class="datetime"/><br>
				<label>Cover Date:</label>
					<input id="preprod_coverdate" data-fieldid="[% fields_by_key.cover_date %]" class="datetime"/>
			</td>
			<td>
				<label>Planned Media:</label>
					<div class="money"><input size="4" id="preprod_plannedcost" data-fieldid="[% fields_by_key.planned_cost %]" value="0.00" placeholder="0.00"/></div>
				<label>Bought Media:</label>
					<div class="money"><input size="4" data-fieldid="[% fields_by_key.bought_cost %]" id="preprod_boughtcost" value="0.00" placeholder="0.00"/></div>
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				<label>Headline</label>
					<input id="preprod_headline" data-fieldid="[% fields_by_key.headline %]"/>
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<form id='prodroute-form' class="panel">
	<h3>Route Info</h3>
	<input type="hidden" name="action" value="searchjobimport">
	
	<table>
		<tr class="title">
			<td>
				<label><img class="linkable" id="link-[% fields_by_key.production_route %]"> Production Route:</label>
				<select id="preprod_productionroute" data-fieldid="[% fields_by_key.production_route %]"></select>
			</td>
		</tr>
		
		<tr><td><hr></td></tr>
		
		<tr>
			<td>
				<label>Production Brief:</label>
				<a href="#" onclick="show_production_brief_dialog()">[ Edit&hellip; ]</a>
				<input type="hidden" data-fieldid="[% fields_by_key.production_brief %]" name="production_brief" id="production-brief-value">
			</td>
		</tr>
		
		<tr><td>&nbsp;</td></tr>
		
		<tr>
			<td>
				<label>Cust. Order No.:</label>
				<input id="preprod_customerorderno" data-fieldid="[% fields_by_key.customer_order_number %]" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Agency Job No.:</label>
				<input id="preprod_agencyjobno" data-fieldid="[% fields_by_key.agency_job_number %]" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Media Co. Ref:</label>
				<input id="preprod_mediacompanyref" data-fieldid="[% fields_by_key.media_company_ref %]" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Coupon Code:</label>
				<input id="preprod_couponkeycode" data-fieldid="[% fields_by_key.coupon_keycode %]" />
			</td>
		</tr>
		
		<tr>
			<td>
				<label>AW Detail:</label>
				<input id="preprod_awdetail" data-fieldid="[% fields_by_key.aw_detail %]" />
			</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="buttons">
		<button class="button rulebutton" onclick="return create_rules(this);">Create Rule</button>
		<button class="button primary"  onclick="return save_panel(this);">Save selected</button>
	</div>
</form>



<div id="brief" title="Production Brief" style="display: none;">
	<textarea id="production-brief-text"></textarea>
</div>
