[% SET extra_css = [ "ecmstyles", "resizableColumns", "preproduction", "joblist", "filter", "outsource_style", "ajaxpopup", "escompare", "newcommentbox", 'job_import' ] %]
[% INCLUDE ecm_html/header.html %]

<div id ="main-wrap">
	<div id= "right-content"></div>
    <div id="left-content">
    	
		<div class="actions">
			<input type="hidden" name="action" value="dashboard"/>
			
			<input type="button" class="button primary" value="Create booking" onclick="show_import()" />
			
			<input type="button" value="Actions &#9660;" class="menu-button" data-menu="actions-menu" />

			
			<div class="search-bar">
				<input type="hidden" name="formPosted" value="yes" />
				<input type="hidden" name="action" value="dashboard"/>

				<select name="searchTypeId" id="searchTypeId" class="menu-button left-button">
					<option hidden style="display:none !important"></option>
					<option value="1" [% IF searchTypeId == 1 ||  searchTypeId == "" %] selected='selected' [% END %] >Job Number</option>
					<option value="2" [% IF searchTypeId == 2 %] selected='selected' [% END %] >Legacy</option>
					<option value="3" [% IF searchTypeId == 3 %] selected='selected' [% END %] >Business Unit Ref</option>
					<option value="4" [% IF searchTypeId == 4 %] selected='selected' [% END %] >URN / Agency Ref</option>
					<option value="5" [% IF searchTypeId == 5 %] selected='selected' [% END %] >Media Choice ID</option>
					<option value="6" [% IF searchTypeId == 6 %] selected='selected' [% END %] >Edit Code</option>
				    <option value="7" [% IF searchTypeId == 7 %] selected='selected' [% END %] >Comments</option>
				</select
				><span class="menu-button left-button dropdown-arrow">&#x25bc;</span

				><input type='text' name="jobnumber" id="jobNumber" class="centre" placeholder='Job Number' /

				><span class="button right-button search-button"><img src='js/images/seachglass.png' /></span>
			</div>
		</div>

		<div class="actions minor">
			<span class="button" id="colmanagericon"><img src="images/Column_Manager.png" alt="Column Manager" onclick="showColumnManager()"></span>
			<span class="button"><img src="images/Refresh.png" alt="Refresh" onclick="refresh();"/></span>
			
			<input type="button" class="menu-button list-button hidden" id="list_view" title="List View"  onclick="show_list_view()"/>
			<input type="button" class="menu-button board-button" id="board_view" title="Board View"  onclick="show_kanban_view()" disabled="disabled" />
			<input type="button" class="menu-button board-button-disabled" id="board_view_disabled" title="Board View"  disabled="disabled"  />
		</div>

		<div id="loading" style="display:none;"><img src="js/images/loading1.gif" alt="" /></div>
		<div id="timeoutdialog" style="display:none;margin:20px 0px 0px 50px;" title="Connection Timeout Error">
		<p>Click OK to refresh the page</p>
		<button id="timeoutreload" class="btn" style="margin:20px 3px 0px 60px;">OK</button>
		</div>
		
		<!--media panel-->
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		   [% IF mediatypeid == 3 %]
                [% INCLUDE ecm_html/job_import/press.html %]
		   [% ELSIF mediatypeid == 1 %]
                [% INCLUDE ecm_html/job_import/broadcast.html %]
		   [% ELSIF mediatypeid == 5 %]
                [% INCLUDE ecm_html/job_import/interactive.html %]
		   [% ELSE %]

		   [% END %]
		</div>
		<!--//-->

		<br/>
		<br/>

		
		
		
		<input type="hidden" id="highlightjob" name="highlightjob" />
		
		<!--Table wrapper is covered in jquery ajax side so this is not required - Feroz -->
		<div id="joblist-view2" style="height: 100%;">
			<div id="joblist-controls2"></div>
			<div id="joblist-contents" style="position: relative;">
				
				<!-- Revert/Apply all tooltip -->
				<div id="tooltip-actions">
					<div class="action" id="revert">
						<span id="original-text" class="original">Originally: [value]</span>
						<button id="revert" class="flat" onclick="revert_value()">Revert</button>
					</div>
					
					<div class="separator">&nbsp;</div>
					
					<div class="action" id="update">
						<button id="save" class="flat">Save</button>
						<button id="save-selected" class="flat">Save for selection</button>
						<button id="create-rule" class="flat">Create rule</button>
					</div>
				</div>
				<!-- Putting it outside of the div bc otherwise it interferes with the ':last-child' css element -->
				<script language="javascript">
					var current_el;
					
					// Put together the tooltip options
					function show_tooltip(el) {
						current_el = el;
						var current_id = $(el).parent().parent().attr('id').substr(4);
						
						$("#original-text").html("Originally '" + $(el).data('original-value') + "'");
						
						// Choose to display revert and/or update actions
							var display_revert = $(el).val() != $(el).data('original-value');
							var display_update = $(el).val() != $(el).data('current-value');
						
							$("#revert").css({ display : display_revert ? 'block' : 'none' });
							$("#update").css({ display : display_update ? 'block' : 'none' });
							$(".separator").css({ display : display_revert && display_update ? 'block' : 'none' });
							$("#save-selected").css({ display : $("#joblist-contents table input:checked").length ? 'inline-block' : 'none' });
							$("#create-rule").css({ display : display_revert ? 'inline-block' : 'none' });
						
						
						
						$("#save").off('click');
						$("#save").click(function() { save_value($(el).data('columnid'), current_id); });
						$("#save-selected").off('click');
						$("#save-selected").click(function() { save_value($(el).data('columnid')); });
						$("#create-rule").off('click');
						$("#create-rule").click(function() { create_rule($(el).data('columnid')); });
						
						// Display the tooltip
						$("#tooltip-actions").css({ left : $(el).position().left + $("#joblist-contents").scrollLeft(),
													top : ($(el).position().top + $("#joblist-contents").scrollTop()) + $(el).outerHeight(),
												display : 'inline-block',
											});
					}
					
					function hide_tooltip() {
						$("#tooltip-actions").hide();
						current_el = null;
					}
					
					
					// Set the cell value back to its spreadsheet original
					function revert_value() {
						$(current_el).val($(current_el).data('original-value'));
						$(current_el).removeClass('modified');
						change_state(current_el);
						show_tooltip(current_el);
					}
					
					// Save the changes to the database
					function save_value(fieldid, id) {
						var ids = [];
						var value = $(current_el).val();
						
						// If we're not given an ID, figure it out from the checkboxes
						var elements = [];
						if(!id) {
							elements = $("#joblist-contents table input:checked");
							elements.each(function (i, item) {
								id = $(item).parent().parent().attr('id').substr(4);
								ids.push(id);
							});
						} else {
							elements = $("#" + id + '-' + fieldid);
							ids.push(id);
						}
						
						$.ajax({
							url : 'ajax/importjob.pl',
							type : 'POST',
							data : {		action		: 'update_values',
										fieldid		: fieldid,
										recordids	: JSON.stringify(ids),
										value		: value,
								},
							success : function(data) {
								//location.reload();
								elements.each(function (i, item) {
									$(item).removeClass('unsaved');
									$(item).addClass('modified');
									hide_tooltip();
								});
							}
						});
					}
					
					// Add the change to the substitutions database
					function create_rule(fieldid) {
						$.ajax({
							url : 'ajax/importjob.pl',
							type : 'POST',
							data : {		action		: 'create_rule',
										fieldid		: fieldid,
										oldvalue		: $(current_el).data('original-value'),
										newvalue		: $(current_el).val(),
								},
							success : function(data) {
								location.reload();
							}
						});
					}
					
					
					// Keep css up-to-date showing if the cell has been modified/saved or not
					function change_state(el) {
						if($(el).val() == $(el).data('current-value')) {
							$(el).removeClass('unsaved')
						} else {
							$(el).addClass('unsaved');
						}
						
						if($(el).val() == $(el).data('original-value')) {
							$(el).removeClass('modified');
						} else {
							$(el).addClass('modified');
						}
						
						show_tooltip(el);
					}
					
					/*$("#mapping").dialog("destroy");
					$("#progress").dialog({ close: function() { stop_progress() } });
					update_progress();
					}*/
					
					
					// We don't get a target on blur() or focusout() events (grr) so we have to
					// manually figure out to close the tooltip when a click happens
					// somewhere other than an input box or on the tooltip itself
					$(document).click(function(e) {
						if($("#joblist-contents table").find(e.target).length) {
							if($(e.target).is(':input')) {}
							else hide_tooltip();
						}
						else if(!$("#tooltip-actions").find(e.target).length)
							hide_tooltip();
					});
				</script>
				
				
				<!-- Main table -->
				<table id="spreadsheet-data">
					<thead>
						<tr>
							<th></th>
							[% FOREACH column IN job_columns %]
								<th>[% column.title %]</th>
							[% END %]
						</tr>
					</thead>
					<tbody>
						[% FOREACH job IN jobs %]
						<tr id="row-[% job.id %]">
	                        <td style="padding: 10px;"><input type="checkbox" name="id" onclick="openNav(this, [% job.id %])" class="rowid"></td>
							[% FOREACH column IN job_columns %]
								[% SET fieldname = column.title %]
								[% SET cur_field = job.$fieldname %]
								<td><input type="text"
											id="[% job.id %]-[% column.id %]"
											[% IF cur_field.content != cur_field.original_content %]class="[% IF cur_field.content %]modified[% ELSE %]invalid[% END %]"[% END %]
											[% IF !column.is_mappable %]disabled="disabled"[% END %]
											value="[% cur_field.content %]"
											onclick="show_tooltip(this);"
											onchange="change_state(this);"
											data-original-value="[% cur_field.original_content %]"
											data-current-value="[% cur_field.content %]"
											data-columnid="[% column.id %]"
											autocomplete="off"
									></td>
							[% END %]
						</tr>
						[% END %]
					</tbody>
				</table>
			</div>
		</div>
		
		
		<!-- Dialog for uploading of spreadsheet -->
		<div id="import" style="display: none;">
			<form action="ajax/importjob.pl" method="post" enctype="multipart/form-data">
				<input type="file" name="file" id="import_file" />
				<a href="#" class="button primary" onclick="prepare_import(); return false;">Next &gt;</a>
			</form>
		</div>
		
		<!-- Dialog for ordering of column mappings -->
		<div id="mapping" style="display: none;">
			<div class="pairing-list">
				[% FOREACH column IN mappable_columns %]
					[% IF !column.is_mappable %][% NEXT %][% END %]
					<div class="pairing-column" id="[% column.id %]" ondrop="drop(event)" ondragover="allowDrop(event)">
						<div class="pairing-info">
							[% column.title %]
							<br>
							[% IF column.description %]<span class="description">([% column.description %])</span>[% END %]
						</div>
						<div class="pairing">
						</div>
					</div>
				[% END %]
			</div>
			
			<div class="pairing-list" id="mappable-columns">
				<label for="sheet">Sheet:</label><select id="sheet"></select>
				Rows: <a href="#" onclick="show_spreadsheet_row(--current_page)">Prev</a> <a href="#" onclick="show_spreadsheet_row(++current_page)">Next</a>
				<hr>
			</div>
			<hr>
			<button class="primary" onclick="import_spreadsheet()">Import</button>
			
			<script type="text/javascript">
				var mappings = {};
				
				function allowDrop(ev) {
					ev.preventDefault();
				}

				function drag(ev) {
					ev.dataTransfer.setData("text", ev.target.id);
				}

				function drop(ev) {
					ev.preventDefault();
					var data = ev.dataTransfer.getData("text");
					if(!ev.target.id) return;
		
					console.log("'" + ev.target.id + "'");
		
					var item = document.getElementById(data);
					var text = item.innerHTML;
					item.parentNode.removeChild(item);
					$('#' + ev.target.id + ' .pairing').html('<div id="' + data + '">' + item.innerHTML + '</div>');
					mappings[ev.target.id] = data;
				}
	
				function import_spreadsheet() {
					$.ajax({
						url : 'ajax/importjob.pl',
						type : 'POST',
						data : { action : 'import_jobs', mapping : JSON.stringify(mappings), sheetid : $("#sheet").val() },
						success : function(data) {
							//location.reload();
						}
					});
					
					
					$("#mapping").dialog("destroy");
					$("#progress").dialog({ close: function() { stop_progress() } });
					update_progress();
				}
			</script>
		</div>
		
		<!-- Dialog for import progress -->
		<div id="progress" style="display: none;">
			<label for="progress-value">Progress:</label><span id="progress-value">0</span>%
			<br>
			<div style="border: 1px solid blue;">
				<div id="progress-meter" style="display: inline-block; background-color: blue; width: 0%;">&nbsp;</div>
			</div>
			
			<script type="text/javascript">
				var timer;
				var i = 0;
				
				function stop_progress() {
					clearTimeout(timer);
				}
				
				function update_progress() {
					$.ajax({
						url : 'ajax/importjob.pl',
						type : 'POST',
						data : { action : 'get_progress' },
						dataType: 'json',
						beforeSend: function() {},
						
						success : function(data) {
							$('#progress-value').html(data.progress);
							$('#progress-meter').width(data.progress + '%')
							
							if(data.progress < 100) timer = setTimeout(update_progress, 500);
							else		 location.reload();
						},
						error : function() {
							$('#progress').html("<color='red'>An error occurred.</color>");
						}
					});
				}
			</script>
		</div>
	</div>
</div>











<!-- Actions menu entries -->
<form action="jobflow.pl" method="post" class="menu-list" id="actions-menu">
    <input type="hidden" name="menuation" value="Yes" />
    <input type="hidden" name="jobslist" id="jobslist" />
    <ul class="menu">
        <input type="button" value="Copy" id="copy" class="textbtn"/><br>
        <input type="button" value="Paste" id="paste" class="textbtn"/><br>
        <hr>
        <input type="button" onclick="savetoInsertions()" value="Save to Insertions" id="savetoinsertions" class="textbtn"/><br>
    </ul>
    <input type="hidden" name="action" value="selectVendor" />
</form>





<!-- Is this necessary? -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- /// -->


<script language="javascript">
	var spreadsheet_info = [];
	var current_page = 0;
	
	function show_import() {
		$("#import").dialog();
	}
	
	function prepare_import() {
		var formData = new FormData();
		formData.append('file', $('#import_file')[0].files[0]);
		
		$.ajax({
			url : 'ajax/importjob.pl',
			type : 'POST',
			data : formData,
			processData: false,  // tell jQuery not to process the data
			contentType: false,  // tell jQuery not to set contentType
			success : function(data) {
				data = JSON.parse(data);
				spreadsheet_info = data;
				$("#import").dialog("destroy");
				$("#mapping").dialog({ minWidth: 800 });
				
				spreadsheet_info.forEach(function(item, index) {
					$("#sheet").append($('<option>', { value: index, text: item.name }));
				});
				
				show_spreadsheet_row(0);
			}
		});
	}
	
	function show_spreadsheet_row(index) {
		if(index < 0) index = 0;
		if(index > spreadsheet_info[$("#sheet").val()].contents.length - 1) index = spreadsheet_info[$("#sheet").val()].contents.length - 1;
		var html = "";
		
		var columns = spreadsheet_info[$("#sheet").val()].contents[index];
		columns.forEach(function (item, index) {
			var el = $("#column-" + index);
			if(el.length) {
				el.text(item);
			} else {
				$("#mappable-columns").append('<div class="pairing-column draggable" id="column-' + index + '" draggable="true" ondragstart="drag(event)">' + item + '</div>');
				var el = $("#column-" + index);
			}
			
			if(item == '') {
				el.addClass('disabled');
				el.text('[empty]');
			} else {
				el.removeClass('disabled');
			}
		});
		
		current_page = index;
	}
</script>

<script>
var current_record = null;

function showhide()
 {
       var div = document.getElementById("newpost");
if (div.style.display !== "none") {
    div.style.display = "none";
}
else {
    div.style.display = "block";
}
 }
	
function openNav(el, recordid) {
	if($("#spreadsheet-data input:checked").length) {
		document.getElementById("mySidenav").style.width = "550px";
		
		current_record = recordid;
		$("[data-fieldid]").not("[data-parentid]").each(function(i, item) { load_validation([ $(item).attr('data-fieldid') ], current_record); });
	} else {
		closeNav();
	}
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}



function load_validation(fieldids, recordid) {
	//var fieldid = $(el).attr('data-fieldid');
	
	var values = {};
	$("[data-fieldid]").each(function(i, item) { if($(item).val()) values[$(item).attr('data-fieldid')] = $(item).val(); });
	
	var data = {	action : 'validate',
				recordid : recordid,
				fieldids : JSON.stringify( fieldids ),
				values : JSON.stringify( values ),
			};
	
	$.ajax({
		url : 'ajax/importjob.pl',
		type : 'POST',
		data : data,
		dataType: 'json',
		success : function(data) {
			// For each field
			$.each(data.records, function (i, field) {
				var elem = $("[data-fieldid=" + i + "]");
				
				elem.find('option').remove();
				
				// Populate the relevant dropdown with the items
				$.each(field, function (j, item) {
					elem.append($('<option>', { value: item.id, text: item.text, selected: (item.isdefault ? 'selected' : null) }));
				});
			});
		}
	});
}

function update_validation_children(parentid, recordid) {
	var children = [];
	$("[data-parentid=" + parentid + "]").each(function (i, item) { children.push($(item).attr('data-fieldid')); });
	load_validation(children, recordid);
}

$("[data-fieldid]").change(function() { update_validation_children($(this).attr('data-fieldid'), current_record); });
</script>


[% INCLUDE ecm_html/footer.html %]

