[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<h1>Dashboard</h1>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="selectVendor" />
		<table width="100%" cellpadding="0" cellspacing="0"> 
		<tr>
			<th>Job</th>
			<th>Path</th>
			<th>Opco</th>
			<th>User</th>
			<th>Modified</th>
			<th>Preflight Status</th>
			<th>Locked</th>
		</tr>
		[% FOREACH a IN activity %]
		<tr>
			<td><a href="jobflow.pl?action=showJob&amp;jobid=[% a.jobid %]">[% a.jobid %]</a></td>
			<td><span style="font-size:10px;">[% a.assetPath %]</span></td>
			<td>[% a.opconame %]</td>
			<td>[% a.username %]</td>
			<td>[% a.modified %]</td>
			<td>[% a.preflightstatus %]</td>
			<td>[% a.locked %]&nbsp;[% IF a.locked %] [% a.lockedtime %] [% END %] </td>
		</tr>
		[% END %]
		</table>
		
	</form>
</div>
[% INCLUDE ecm_html/footer.html %]
