[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add Customer</h1>
<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="addcustomer" />
<input type="hidden" name="formPosted" value="yes" />

<div id="tblWrapper">
<table border="1" width="60%">
[% IF message.length %]
<tr>
	<td colspan="2" class="message">
		[% message %]
	</td>
</tr>
[% END %]
<tr>
	<td>Customer</td>
	<td><input type="text" name="customer" value="[% customer %]" /></td>
</tr>
[% IF error.customer.length %]
<tr>
	<td colspan="2" class="error">
		[% error.customer %]
	</td>
</tr>
[% END %]
<tr>
	<td>Operating Company</td>
	<td>
		<select name="opcoid">
			[% FOREACH op IN opcos %]
			<option value="[% op.opcoid %]" [% IF op.opcoid == opcoid %]selected='selected'[% END %]>[% op.opconame %]</option>
			[% END %]
		</select>
	</td>
</tr>
<tr>
	<td></td>
	<td><input type="Submit" value="Add" /></td>
</tr>
</table>
</div>
</form>
[% INCLUDE ecm_html/footer.html %]

