[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add User(s) To Customer [% customerName %] ([% opconame %])</h1>
<br>
[% IF formPosted == "yes" %]
<h2>Users added to Customer</h2>
[% END %]

[% IF usersadded.length > 0 %]
<h4>The following users have been added: [% usersadded %]</h4>
[% END %]
[% IF usersnotadded.length > 0 %]
<h4>The following users have not been added: [% usersnotadded %]</h4>
[% END %]

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="addcustomeruser" />
	<input type="hidden" name="formPosted" value="yes" />
	<input type="hidden" name="customerid" value="[% customerid %]" />
	<table border="1"> 
	<tr>
		<td>Users (ids)</td>
		<td>
			<input type="text" name="users" value="[% users %]" size="100">
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Add Users" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

