[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add Company</h1>
<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="addcompany" />
<input type="hidden" name="formPosted" value="yes" />

<table border="1" width="60%">
<tr>
	<td>Company</td>
	<td><input type="text" name="name" value="[% name %]" /></td>
</tr>
	[% IF error.name.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.name %]
		</td>
	</tr>
	[% END %]
<tr>
	<td>Type</td>
	<td>
		<select name="typeid">
			[% FOREACH t IN companyTypes %]
			<option value="[% t.id %]" [% IF t.id == typeid %]selected='selected'[% END %]>[% t.type %]</option>
			[% END %]
		</select>
	</td>
</tr>
<tr>
	<td>Address 1</td>
	<td><input type="text" name="address1" value="[% address1 %]" size="45" /></td>
</tr>
	[% IF error.address1.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.address1 %]
		</td>
	</tr>
	[% END %]
<tr>
	<td>Address 2</td>
	<td><input type="text" name="address2" value="[% address2 %]" size="45" /></td>
</tr>
<tr>
	<td>Town / City</td>
	<td><input type="text" name="towncity" value="[% towncity %]" size="30" /></td>
</tr>
<tr>
	<td>Postcode</td>
	<td><input type="text" name="postcode" value="[% postcode %]" size="30" /></td>
</tr>
<tr>
	<td>Tel num</td>
	<td><input type="text" name="telnum" value="[% telnum %]" size="30" /></td>
</tr>
<tr>
	<td></td>
	<td><input type="Submit" value="Add" /></td>
</tr>
</table>
</form>
[% INCLUDE ecm_html/footer.html %]

