<!-- Additional file options, used by send_by_email.html and send_by_ftp.html -->
		<div id="fileOptions" style="border-style:solid;border-width:1px;padding:10px; margin:10px;[% IF additionalfiletypes == 0 %]display:none;[% END %]">

			<h3>Additional File Options</h3>

			<table>
				[% FOREACH ft IN file_types_for_display %]
				<tr>
					<td><span class="normal [% IF ft.on == 0 %]disabled[% END %]">[% ft.label %]</span></td>
					<td><input type="checkbox" name="[% ft.name %]" [% IF ft.on == 0 %]disabled='disabled' [% END %] [%IF ft.checked == 1 %]checked[% END %]></td>
				</tr>
				[% END %]
			</table>
		</div>
	
