[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Add Operating Company</h1>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="addoperatingcompany" />
	<input type="hidden" name="formPosted" value="yes" />
	<table>
	<tr>
		<td>Operating Company Id</td>
		<td><input type="text" name="opcoid" value="[% opcoid %]" /></td>
	</tr>
	[% IF error.opcoid.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.opcoid %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Operating Company Name</td>
		<td><input type="text" name="opconame" value="[% opconame %]" /></td>
	</tr>
	[% IF error.opconame.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.opconame %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Root</td>
		<td><input type="text" name="rootpath" value="[% rootpath %]" size="50" /></td>
	</tr>
	<tr>
		<td>Preflight In</td>
		<td><input type="text" name="preflightin" value="[% preflightin %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Passed</td>
		<td><input type="text" name="preflightpassed" value="[% preflightpassed %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Fail</td>
		<td><input type="text" name="preflightfail" value="[% preflightfail %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Warning</td>
		<td><input type="text" name="preflightwarning" value="[% preflightwarning %]" size="30" /></td>
	</tr>
	<tr>
		<td>FTP Server</td>
		<td><input type="text" name="ftpserver" value="[% ftpserver %]" size="30" /></td>
	</tr>
	<tr>
		<td>FTP Username</td>
		<td><input type="text" name="ftpusername" value="[% ftpusername %]" size="30" /></td>
	</tr>
	<tr>
		<td>FTP Password</td>
		<td><input type="text" name="ftppassword" value="[% ftppassword %]" size="30" /></td>
	</tr>
	<!---
        <tr>
		<td>BW</td>
		<td><input type="checkbox" name="bwdef" [% IF bwdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>BW Cropped</td>
		<td><input type="checkbox" name="bwcroppeddef" [% IF bwcroppeddef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Low Res Cropped</td>
		<td><input type="checkbox" name="lowrescroppeddef" [% IF lowrescroppeddef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Low Res</td>
		<td><input type="checkbox" name="lowresdef" [% IF lowresdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Hi Res</td>
		<td><input type="checkbox" name="hiresdef" [% IF hiresdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Proof Only</td>
		<td><input type="checkbox" name="proofonlydef" [% IF proofonlydef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>RGB</td>
		<td><input type="checkbox" name="rgbdef" [% IF rgbdef %]checked='checked'[% END %]></td>
	</tr>
	<tr>
		<td>RGB Cropped</td>
		<td><input type="checkbox" name="rgbcroppeddef" [% IF rgbcroppeddef %]checked='checked'[% END %]></td>
	</tr>
	<tr>
		<td>RGB Jpeg</td>
		<td><input type="checkbox" name="rgbjpegdef" [% IF rgbjpegdef %]checked='checked'[% END %]></td>
	</tr>
        --->
	<tr>
		<td>Colour Managed</td>
		<td>
			<input type="checkbox" name="colourmanagedef" [% IF colourmanagedef %]checked='checked'[% END %]>
			<label for="colourmanage_isactive">Default value:</label>
			<input type="radio" name="colourmanage_isactivedef" value="enabled" [% IF colourmanage_isactivedef %]checked[% END %]>Enabled
			<input type="radio" name="colourmanage_isactivedef" value="disabled" [% IF !colourmanage_isactivedef %]checked[% END %]>Disabled
		</td>
	</tr>
	<tr>
		<td>Optimised</td>
		<td>
			<input type="checkbox" name="optimiseddef" [% IF optimisedef %]checked='checked'[% END %]>
			<label for="optimise_isactive">Default value:</label>
			<input type="radio" name="optimise_isactivedef" value="enabled" [% IF optimise_isactivedef %]checked[% END %]>Enabled
			<input type="radio" name="optimise_isactivedef" value="disabled" [% IF !optimise_isactivedef %]checked[% END %]>Disabled
		</td>
	</tr>
	<tr>
		<td>Filename Config</td>
		<td><input type="text" name="filenameconfig" value="[% filenameconfig %]" size="30"></td>
	</tr>
	<tr>
		<td>Path type</td>
		<td>
			<select name="pathtype" id="pathtype">
				<option value="1" [% IF pathtype == 1 %]selected="selected"[% END %] >1</option>
				<option value="3" [% IF pathtype == 3 %]selected="selected"[% END %] >3</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Preflight Profile</td>
		<td>
			<select name="preflightprofile" id="preflightprofile">
				<option value="-">[ None ]</option>
				<option value="TAGLONDON">TAGLONDON</option>
				<option value="WILLIAMSLEA">WILLIAMSLEA</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Quality Control Enabled</td>
		<td>
			<input type="checkbox" name="qcenabled" [% IF qcenabled %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Filename Override Enabled</td>
		<td>
			<input type="checkbox" name="filenameoverride" [% IF filenameoverride %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>FTP Enabled</td>
		<td>
			<input type="checkbox" name="ftpenabled" [% IF ftpenabled %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Job Assignment</td>
		<td>
			<input type="checkbox" name="jobassignment" [% IF jobassignment %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>View Hi Res?</td>
		<td>
			<input type="checkbox" name="viewhighres" [% IF viewhighres %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Enable Creative?</td>
		<td>
			<input type="checkbox" name="creative" [% IF creative %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Job Pool Assign?</td>
		<td>
			<input type="checkbox" name="jobpoolassign" [% IF jobpoolassign %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Publishing?</td>
		<td>
			<input type="checkbox" name="publishing" [% IF publishing %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Domain name</td>
		<td>
			<input type="text" name="domainname" value="[% domainname %]">
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="Submit" value="Create Operating Company" class="btn"></td>
	</tr>
	</table>
	</form>
</div>


[% INCLUDE ecm_html/footer.html %]


