[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add Outsource</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="addoutsource" />
	<input type="hidden" name="formPosted" value="yes" />
	<table border="1"> 
	<tr>
		<td>Source Operating Company</td>
		<td>
			<select name="srcopcoid">
				<option value="0" [% IF srcopcoid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH o IN opcos %]
				<option value="[% o.opcoid %]" [% IF srcopcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	<tr>
		<td>Destination Operating Company</td>
		<td>
			<select name="dstopcoid">
				<option value="0" [% IF dstopcoid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH o IN opcos %]
				<option value="[% o.opcoid %]" [% IF dstopcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	[% IF error.dstopco.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.dstopco %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>TTP Folder</td>
		<td>
			<input type="text" name="ttpfolder" id="ttpfolder" value="[% os.ttpfolder %]" size=70" />
		</td>
	</tr>
	[% IF error.ttpfolder.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.ttpfolder %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Add" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>

[% INCLUDE ecm_html/footer.html %]

