[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add Report</h1>

<br>
<br>

<div id="tblWrapper">
<form action="jobflow.pl" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="addreport" />
	<input type="hidden" name="formposted" value="yes" />
	<table border="1"> 
	<tr>
		<td>Title</td>
		<td>
			<input type="text" name="title" value="[% title %]">
		</td>
	</tr>
	[% IF error.title.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.title %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Report Template:</td>
		<td>
			<input type="file" name="template" accept=".jrxml" />
		</td>
	</tr>
	[% IF error.file.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.file %]
		</td>
	</tr>
	[% END %]
	[% IF error.compile.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.compile %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Export formats:</td>
		<td>
			<input type="checkbox" name="pdfexport" id="pdfexport" checked="checked" disabled="disabled"><label for="pdfexport">PDF</label><br>
			<input type="checkbox" name="xmlexport" id="xmlexport"><label for="xmlexport">XML</label><br>
			<input type="checkbox" name="xlsxexport" id="xlsxexport"><label for="xlsxexport">XLSx (Excel)</label><br>
			<input type="checkbox" name="xlsexport" id="xlsexport"><label for="xlsexport">XLS (Legacy Excel)</label><br>
			<input type="checkbox" name="htmexport" id="htmexport"><label for="htmexport">HTML</label><br>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Add" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

