[% SET extra_css = [ "listusers", "ajaxpopup" ] %]
[% INCLUDE ecm_html/header.html %]
<link href="styles/listusers.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="js/listusers.js"></script>
<h1>ADD USER</h1>
<div id="myTabs" style='float:left;border:0px solid red;'>
                <input type="button" id="mainsave" name="mainsave"     value="Save" >
                <h1 id="fullname" style="display:none"></h1>
                <div id="saving" style="display:none">Saving ...</div>
                <ul>
                        <li><a href="#userDetail">Details</a></li>
			<li><a href="#userDetail2" id="accountsTab" class="userSubTab">Accounts</a></li>
                        <li id="password_tab"><a href="#userDetail3" class="userSubTab"  id="passwordTab" >Password</a></li>
			


                </ul>

                <div id='userDetail' style='float:left;display:none;border:0px solid red;width:100%;'>

                        <form action="jobflow.pl?action=saveuser" method="post">
                                <input type="hidden" name="userid" id="userid" />
                                <table>
                                        <tr>
                                                <td>
                                                <label>First Name</label>
                                                </td>
                                                <td>
                                                <input id="fname" name="fname" type="text" class="inputtext" required autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Last Name</label>
                                                </td>
                                                <td>
                                                <input id="lname" name="lname" type="text"      class="inputtext" required autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Username</label>
                                                </td>
                                                <td>
                                                <input id="username" name="username"  type="text" class="inputtext" required autofocus />
                                                </td>
                                        </tr>

<tr>
                                                <td>
                                                <label>Email</label>
                                                </td>
                                                <td>
                                                <input id="email" name="email" type="text" class="inputtext" required autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Deputy Email</label>
                                                </td>
                                                <td>
                                                <input id="deputyemail" name="deputyemail" type="text" class="inputtext" autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Employee Id</label>
                                                </td>
                                                <td>
                                                <input id="employeeid" name="employeeid" type="text" class="inputtext" autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Default Role</label>
                                                </td>
                                                <td>
                                                <select id="defroleid" name="defroleid">
						[% FOREACH r IN roles %]
							<option value="[% r.id %]">[% r.role %]</option>
						[% END %]
                                                </select>
                                                </td>
                                        </tr>

					 <tr>
                                                <td>
                                                <label>Operating Company</label>
                                                </td>
                                                <td>
                                                <select id="opcoid" name="opcoid" style="width:125px;">
                                                        [% FOREACH opc IN opcos %]
                                                        <option value=[% opc.opcoid %]>[% opc.opconame%]</option>
                                                        [% END %]
                                                </select>
                                                </td>
                                        </tr>

 					<tr>
                                                <td>
                                                <label>Department</label>
                                                </td>
                                                <td>
                                                <select id="departmentid" name="departmentid" style="width:125px;">
                                                        [% FOREACH dep IN departments %]
                                                        <option value=[% dep.id %]>[% dep.name%]</option>
                                                        [% END %]
                                                </select>
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Active</label>
                                                </td>
                                                <td>
                                                <input type="checkbox" id="userstatus" class="inputext" name="userstatus" />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Cost Centre</label>
                                                </td>
                                                <td>
                                                <input id="costid" name="costid" type="text" class="inputtext"  onkeypress="return blockSpecialChar(event)" autofocus />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>
                                                <label>Contracted Hours</label>
                                                </td>
                                                <td>
                                                <input id="contractid" name="contractid" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="inputtext" autofocus />
                                                </td>
                                        </tr>

<tr>
                                                <td>
                                                <label>Working Hours</label>
                                                </td>
                                                <td>
                                                <input id="workhrsstart" name="workhrsstart" type="text" onkeypress="return isNumber(event)" class="inputtext"  style ="width:60px;" autofocus />
                                                <input id="workhrsend" name="workhrsend" type="text" onkeypress="return isNumber(event)" class="inputtext" style ="width:60px;" autofocus />
                                                </td>
                                        </tr>
                                </table>
                                <div class="horzline"></div>

<div id="media">
                                        <h2>Media</h2>
                        [% FOREACH m IN mediatypes %]
                                        <div class="inputattributeholder">
                                                <input type="checkbox" class="medialist" id=media_[% m.mediaid.replace('\.', '_') %] name=[% m.medianame.replace('\.', '_') %] >
                                                <label class="attributelabel" id="medianame">[% m.medianame %]</label>
                                        </div>
                        [% END %]

 </div>
                                <div id="skill">
                                        <h2>Skill</h2>
                        [% FOREACH u IN userskills %]
                                        <div class="inputattributeholder">
                                                <input type="checkbox" class="user_skills"      id=[% u.skillsid %] name=[% u.skillsid %]>
                                                <label class="attributelabel" id="userskills">[% u.skillstype %]</label>
                                        </div>
                        [% END %]
</div>

                        </form>
                </div>




<div id='userDetail2' style='float:left;display:none;border:0px solid red;'>
                        <input type="button" id="assignaccount" name="assignaccount" value="Assign Account" style="float:left;">
                        <table id="opcos">
                                <tr>
                                        <th></th><th>Operating Company</th><th></th><th></th>
                                </tr>
                        </table>
                        <br>
 </div>
<div id='userDetail3' style='float:left;display:none;border:0px solid red;width:100%'>
                        <h2>Password</h2>
                        <form id="changepasswordform" method="post" action="">
                        <fieldset>
                                <div class="inputholder">
                                        <label>New password</label>
                                        <input type="password" id="newpassword" class="inputtext">
                                </div>
                                <div class="inputholder">
                                        <label>Confirm new password</label>
                                                <input type="password" id="newpassword2" class="inputtext">
                                </div>
                                <div class="inputholder">
                                        <br>
                                        <input type="button" id="changepassword" name="changepassword" value="Change Password">
                                </div>
                        </fieldset>
                        </form>
                </div>
</div>




<div id="AccountSettingsDialog" title="Account Settings">
                <form id="accountsettings">
                        <input type="hidden" name="acctroleids" id="acctroleids" value="">
                        <input type="hidden" name="acctcustomerids" id="acctcustomerids" value="">
                        <input type="hidden" name="acctopcoidhidden" id="acctopcoidhidden" value="">
                        <fieldset>
                        <div class="inputholder">
                                <label>User name</label>
                                <input type='text' name='acctusername' id='acctusername' size='30' class="inputtext" readonly="readonly">
                        </div>
                        <div class="inputholder">
                                <label>Operating Company</label>
                                <select id="acctopcoid" class="inputtext"></select>
                                <div id="acctopconame" class="inputtext" style="float:left;"></div>
                        </div>
                        <!--<div class="inputholder">
                                <label>Department</label>
                                <input type='text' name='acctdepartment' id='acctdepartment' size='30' class="inputtext">
                        </div>-->
                        </fieldset>
                        <div class="horzline"></div>
                        <fieldset>
                        <div class="inputholder">
                                <label>Roles</label>
                                <select id="acctroleid">
                                        <option value='1'>Operator</option>
                                        <option value='2'>Vendor</option>
                                        <option value='3'>Account Manager</option>
                                        <option value='4'>Administrator</option>
                                        <option value='5'>Print Buyer</option>
                                        <option value='6'>Studio Manager</option>
                                </select>
                                &nbsp;&nbsp;<input type="button" id="addrole" name="addrole" value="+ Add">
                        </div>
                        <div class="inputholder" style="height:100px;overflow-y:scroll;border:1px solid #ccc;border-radius:5px;margin-top:20px;">
                                <ul id='roleslist'></ul>
                        </div>
                        </fieldset>
                        <div class="horzline"></div>

			<fieldset>
                        <div class="inputholder">
                                <label>Customers</label>
                                <select id="acctcustomerid">
                                </select>
                                &nbsp;&nbsp;<input type="button" id="addcustomer" name="addcustomer" value="+ Add">
                        </div>
                        <!-- <div class="inputholder"> -->
                        <div class="inputholder" style="height:100px;overflow-y:scroll;border:1px solid #ccc;border-radius:5px;margin-top:20px;">
                                <ul id='customerslist'></ul>
                        </div>
                        </fieldset>
                </form>
        </div>





<script>
function showRightPanel() {
                // show the right panel
                var tabOpts = { active : 0,
                                show: { effect: "toggle", duration: "fast" }
                };
                $("#myTabs").tabs( tabOpts );

}

showRightPanel();
rightPanelInit();
 createAccountSettingsDialog();
</script>




[% INCLUDE ecm_html/footer.html %]

