[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add User(s) To Operating Company</h1>

<br>
<br>

[% IF formPosted == "yes" %]
<h2>Users added to Operating Company</h2>
[% END %]

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="adduserstoopco" />
	<input type="hidden" name="formPosted" value="yes" />
	<table border="1"> 
	<tr>
		<td>Operating Company</td>
		<td>
			<select name="opcoid">
				<option value="0" [% IF opcoid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH o IN opcos %]
				<option value="[% o.opcoid %]" [% IF opcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
				[% END %]
			</select>
		</td>
		[% IF invalidOpcoID == 0 %]
		<td class="error"> Invalid Operating company... </td>	
		[% END %]
	</tr>
	<tr>
		<td>Users</td>
		[% IF invalidUserID %]
		<td>
			<input type="text" name="users" value="[% invalidUserID %]" size="100">
		</td>
		<td class="error"> User ID shoud be numeric... </td>
		[% ELSE %]
		<td>
			<input type="text" name="users" value="[% users %]" size="100">
		</td>
		[% END %]
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Add Users" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

