[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Add Vendor</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="addvendor" />
	<input type="hidden" name="sidemenu" value="User Details">
	<input type="hidden" name="sidesubmenu" value="addvendor">
	<input type="hidden" name="formPosted" value="yes" />
	<table border="1"> 
	<input type="hidden" name="opcoid" value="0" />
	<tr>
		<td>Company (Vendor)</td>
		<td>
			<select name="companyid">
				<option value="0" [% IF companyid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH c IN companies %]
				<option value="[% c.id %]" [% IF companyid == c.id %]selected='selected'[% END %] >[% c.name %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	<tr>
		<td>Firstname</td>
		<td>
			<input type="text" name="fname" id="fname" value="" />
		</td>
	</tr>
	[% IF error.fname.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.fname %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Lastname</td>
		<td>
			<input type="text" name="lname" id="lname" value="" />
		</td>
	</tr>
	[% IF error.lname.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.lname %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Username</td>
		<td>
			<input type="text" name="username" id="username"  value="" />
		</td>
	</tr>
	[% IF error.username.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.username %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Password</td>
		<td>
			<input type="password" name="password" id="password" />
		</td>
	</tr>
	[% IF error.password.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.password %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Email</td>
		<td>
			<input type="text" name="email" id="email" value="" />
		</td>
	</tr>
	[% IF error.email.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.email %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Employee Id</td>
		<td>
			<input type="text" name="employeeid" id="employeeid" value="" />
		</td>
	</tr>
	<tr>
		<td>Role</td>
		<td>
			<select name="roleid">	
			[% FOREACH r IN roles %]
				[% IF r.id  == 2 %]			
		        		<option value="[% r.id %]" [% IF roleid == r.id %]selected='selected'[% END %] >[% r.role %]</option>
				[% END %]
			[% END %]
			</select>
		</td>
	</tr>
	[% IF error.submit.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.submit %]
		</td>
	</tr>

	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Add" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

