[% SET extra_css = [ "ecmstyles", "sendCommon", "sendByEmail", "sendByFtp" ] %]
[% INCLUDE ecm_html/header.html %]



<style>
	.mylabel { text-align:left; }
	#cancelBtn {
		 margin-top:0; 
		font-weight:600;
		font-size: 14px;
		height:30px;
		width:75px; 
	}
	#header h2, hr { margin-left:20px; }
</style>

<h1>AdSend Deliver</h1>
<h3>Job number: [% jobid %]</h3>
<br>
<br>
	<!-- 
	Set the server on the src attributes of the following script and link tags if 
	    the script and style sheet are hosted on a different server.
	    To host the script on a different server from adspec server, assign a value
	    to the adspec server variable in the script where indicated below.
	 -->
	<script type="text/javascript" src="[% adspecserver %]/js/jquery-1.6.1.min.js"></script>

	<!-- Scripts required for the Adspec Widget -->
	<script type="text/javascript" src="[% adspecserver %]/js/adspec.js"></script>
	<script type="text/javascript" src="[% adspecserver %]/js/publication.js"></script>
	<script type="text/javascript" src="[% adspecserver %]/js/delivery-method.js"></script>

	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!--
	<script type="text/javascript" src="[% adspecserver %]/js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="[% adspecserver %]/js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="[% adspecserver %]/js/ui/jquery.ui.position.js"></script>
	<script type="text/javascript" src="[% adspecserver %]/js/ui/jquery.ui.autocomplete.js"></script>	
	-->

	<link href="[% adspecserver %]/css/jquery.ui.autocomplete.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="[% adspecserver %]/css/jquery.ui.theme.css" type="text/css" rel="stylesheet" media="screen" />	
	<link href="[% adspecserver %]/css/screenn.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="[% adspecserver %]/css/titleselectionn.css" type="text/css" rel="stylesheet" media="screen" />

	<script type="text/javascript">

		// Read a page's GET URL variables and return them as an associative array.
		// Sets the server to be the same as the one that provided the jquery javascript library.
		// To use a different server set the value of this variable to the server URL.

		var adspecServerUrl="[% adspecserver %]";
		var remoteServerUrl="[% adgateremote %]";

		function getUrlVars()
		{

		    var vars = [], hash;
		    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		    for(var i = 0; i < hashes.length; i++)
		    {
		        hash = hashes[i].split('=');
		        vars.push(hash[0]);
		        vars[hash[0]] = unescape(hash[1]);
		    }

		    return vars;
		}

		jQuery(document).ready(function(){

			/**
			 * Check whether there is a matching publication. If so, populate the section
			 * control.
			 */
			var publicationCheck = function(publicationName){
				var publicationCountry = $('#publicationCountry').val();
				$.getJSON(remoteServerUrl+'/adspec-json/titles/' + publicationCountry + '/' + publicationName + '/null',

					function(data){
						if(data.publication.length === 1){
							$('#publicationCode').val(data.publication[0].publicationCode).trigger('change');
						}
					}
				);				
			};

			// Query the server for publications.
			var publicationDataSource = function(request,response){
				var publicationCountry = $('#publicationCountry').val();
				$.getJSON(remoteServerUrl+'/adspec-json/titles/' + publicationCountry + '/' + request.term + '/null',
					function(data){
						var publications = [];
						$.each(data.publication,
							function(index,publication){
								var publicationObj = {};
								publicationObj['id'] = publication.publicationCode;
								publicationObj['value'] = publication.publicationName;
								publications.push(publicationObj);
							}
						);
						response(publications);
					}
				);
			};

			// Query the server for publications, and show list of publications returned.
			$( "#adspecPublication" ).autocomplete({
				source: publicationDataSource,
				minLength: 3,
				autoFocus:true,
				select: function( event, ui ) {
					$('#publicationCode').val(ui.item.id).trigger('change');
				}
			});

			var sectionDisplay;

			/**
			 * This posts the name of the publication and section, rather than their ids.
			 */
			jQuery('form#writeSection').bind('submit',function(){
				jQuery('select.post-text option:selected').each(function(index,element){
					jQuery(element).val(jQuery(element).text());
				});
			});

			$('select#publicationCountry').bind('change',function(){
				$('tr.hidable').hide();
				$('span.additional-info').html('');
			});

			/**
			 * On changing the section control, store the custom fields to fields on the 
			 * form. This enables it to be posted with the form.
			 */

			jQuery('#adspecSection').bind('change',function(){
				var sectionId = $(this).val();
				
				if(sectionId && sectionDisplay && sectionDisplay.sectionControls && sectionDisplay.sectionControls.storedSections){
					var sections = sectionDisplay.sectionControls.storedSections;

					$('span#measurementUnits').html(sections.publication.measurementUnits);

					// get the selected section.
					var section = new SectionWrapper(sections).getById(sectionId);

					if(section.columnSizes && section.columnSizes.maxPageDepth && section.columnSizes.maxPageWidth){
						var maxPageSizeMessage = 'Max size: ' + section.columnSizes.maxPageDepth + 'x' + section.columnSizes.maxPageWidth;
						$('span#maxSize').html(maxPageSizeMessage);
					}
					else{
						$('span#maxSize').html('');
					}					

					if(section.type==='BLEED'){
						$('tr#sizeDescription').hide();
					}
					else{
						$('tr#sizeDescription').show();
					}

					$('tr#size').show();
					$('tr#colour').show();

					// extract the custom field values and assign to correct fields.

					if(section){
						if(section.bleedSizes){
							var bleedSizes = section.bleedSizes;
							$('#bleed_top').val(bleedSizes.bleedTop);
							$('#bleed_right').val(bleedSizes.bleedRight);
							$('#bleed_left').val(bleedSizes.bleedLeft);
							$('#bleed_bottom').val(bleedSizes.bleedBottom);
						}
						else{
							$('#bleed_top').val('');
							$('#bleed_right').val('');
							$('#bleed_left').val('');
							$('#bleed_bottom').val('');
						}

						if(section.cropRequired){
							$('#crop_required').val(section.cropRequired);
						}
						else{
							$('#crop_required').val('');
						}

						// extract the color profile.

						if(section.colorSpecification){
							var colorSpecValue = '';
							if(section.colorSpecification.iccProfile){
								colorSpecValue = section.colorSpecification.iccProfile.profile;
							}
							else if(section.colorSpecification.photoshopOptions){
								colorSpecValue = section.colorSpecification.photoshopOptions.inkType;
							}

							$('#adspecColorSpecification').val(colorSpecValue);						
						}
					}
				}
				else{
					$('tr#size').hide();
					$('tr#sizeDescription').hide();
					$('tr#colour').hide();
				}
			}).bind('searchEnd',function(){
				// Put this after the search for sections has completed - as we will have the new publication at this point.
				if(sectionDisplay && sectionDisplay.sectionControls && sectionDisplay.sectionControls.storedSections && sectionDisplay.sectionControls.storedSections.publication){
					populateDeliveryMethod($('select#deliveryMethod'),sectionDisplay.sectionControls.storedSections.publication);
				}
				else{
					$('select.deliveryMethod').html('');
				}				
			});	



			/**
			 * Get the server from which jquery is served. For this to work jquery 
			 * must be embedded directly in a script tag directly within the document
			 * header. The script file must be named jquery[version].js. If the server
			 * is not specified, or the jquery script tag cannot be found then an empty
			 * string will be returned.
			 */

			var getJqueryServer=function(){
				var jqueryServer=''
				var urlRegexp = /(https?|ftp|gopher|telnet|file|notes|ms-help):((\/\/)|(\\\\))+[\w\d:#@%\/;$()~_?\+-=\\\.&]*/i;
				var serverRegexp = /(https?|ftp|gopher|telnet|file|notes|ms-help):((\/\/)|(\\\\))+[\w\d:#@%;$()~?\+-\.&]*/i; 
				jQuery('head').children().each(
					function(idx,child){
						child=$(child);
						if(child.attr('src') && urlRegexp.exec(child.attr('src'))){
							jqueryServer = serverRegexp.exec(child.attr('src'))[0];
						}
					}
				);
				return jqueryServer;
			}

			// download resources from the server.
			jQuery('#ajax_loader').attr('src',adspecServerUrl + '/assets/ajax-loader.gif');
			// KA jQuery('#writeSection').attr('action',adspecServerUrl + '/doSection');
			jQuery('#scripts').append('<script type="text/javascript" src="' + adspecServerUrl + '/js/global_functions.js"><\/script>');
			jQuery('#scripts').append('<script type="text/javascript" src="' + adspecServerUrl + '/js/jquery.delayedkeypress.js"><\/script>');
			jQuery('#scripts').append('<script type="text/javascript" src="' + adspecServerUrl + '/js/adspec.js"><\/script>');

			// Initialise page. 

			var init = function(){
				// Set the publication according to value entered as a parameter.
				var	urlParameters = getUrlVars();
				if(urlParameters.country){
					$('#publicationCountry').val(urlParameters.country);
				}

				if(urlParameters.name){
					$('#adspecPublication').val(urlParameters.name);
					publicationCheck(urlParameters.name);
				}

				/*
				 Initialise controls. This binds events to control so that values can be entered in 
				 select and input boxes depending on values selected in previous boxes. The values
				 to place in the input box are obtained from the adspec server.
				 It is necessary to pass in references to the following controls:
						publication select:
							Hidden control populated with the selected publication.
						section select:
							Permit the selection of a section from within the publication. On selecting
							a value from the list, either the size description select box list will be 
							populated, or the depth and width input will be populated.
						size description select 1:
							Permit selection of size description. Select list only populated if the section 
							selected is of type column, fixed, or variable. In the event that the section 
							type is variable this contains the depth size description.
						size description select 2:
							In the event that the section type is variable this is used to input the width
							size description.							
						depth input & width input:
							The depth width control will be populated according to the value selected
							in the section and/or the size description box. The value will depend upon
							the type of section.

							If the section is of type bleed then the user will not be required to enter
							a size description, and the depth and width values for the section will be
							entered.

							If the section is of type column then the user will be required to enter a
							size description. On selecting a size description the column width will be put in 
							the width box, and the depth box will be left for entry of a value.
							If the section is of type fixed then the size description select control list
							will be	populated, and the depth and width will be entered according to the 
							value selected.

							If the section is of type fixed then the depth and width input will be 
							changed to select boxes, and their lists populated with available fixed
							values for depth and width.

						url:

							optional parameter - if the page is not hosted on the adspec server then
							provide the url for the server in this parameter. If the page is hosted
							on the adspec server, then this can either be omitted, or set to an empty
							string.
				 */ 

				sectionDisplay = new SectionDisplaySelector(
						{publicationCountry:jQuery('#publicationCountry'),
						 //publicationName:jQuery('#publicationName'),
						 publicationSelect:jQuery('#publicationCode'),
						 sectionSelect:jQuery('#adspecSection'),
						 sizeDescription1:jQuery('#adspecSizeDescription1'),
						 sizeDescription2:jQuery('#adspecSizeDescription2'),
						 width:jQuery('#adspecWidth'),
						 depth:jQuery('#adspecHeight'),
						 colorSelect:jQuery('#adspecColor')
						},
						adspecServerUrl
				);

				jQuery('#loading').hide()

				.ajaxStart(function(){
					jQuery(this).show();
				})

				.ajaxStop(function(){
					$(this).hide();
				});

				jQuery('#publicationCountry').bind('change',function(){
					jQuery('#adspecPublication,#adspecSection,#adspecSizeDescription1,#adspecSizeDescription2,#adspecColor').empty();
				});

			}

			$('#adspecSizeDescription2').hide();			
			// allow some time for scripts to download before initialising.
			setTimeout(init,1500);

 			$(function() {
				$( "#insertiondate" ).datepicker();
				$( "#insertiondate" ).datepicker("option", "dateFormat", "yy-mm-dd");
			});

		});
	</script>

	<div id="scripts">
	</div>
	<div id="container">
	<div id="loading">
		<img id="ajax_loader" src=""/>
	</div>
[% IF errormessages.0  %]
	[% FOREACH msg IN errormessages %]
		<h2 class="error">[% msg %]</h2>
	[% END %]
	<hr/>
	<div id="bottomPanel" style="float:left;">
		<br><br>
		<a href="[% applicationurl %]">
			<input type="button" id="cancelBtn" class="ui-button ui-button-text-only ui-corner-all whitebtn" value="Cancel" />
		</a>
	</div>


[% ELSE %]
	

	<form id="writeSection" action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="adgatedeliver">
		<input type="hidden" name="jobid" value="[% jobid %]">
		<input type="hidden" name="formPosted" value="yes">
		<table style="width:500px; border-collapse: separate; border-spacing:8px;" >

			<tr class="error">
				<td colspan="2">[% message %]</td>
			</tr>
			<tr>
				<th class="mylabel"><label for="filename">Filename/URN</th>
				<td><input type="text" name="filename" value="[% filename %]">&nbsp;.pdf</td>
			</tr>
			<tr>
				<th class="mylabel"><label for="replacement">Replacement?</th>
				<td><input type="checkbox" name="replacement" id="replacement"></td>
			</tr>
			<tr>
				<th class="mylabel"><label for="publicationCountry">Publication Country</label>
				<td>
					<select id="publicationCountry" name="publicationCountry"> <!-- List of Country -->
						<option value="United Kingdom">United Kingdom</option>
						<option value="United States">United States</option>
						<option value="Australia">Australia</option>
						<option value="Canada">Canada</option>
						<option value="Canaries (Spain)">Canaries (Spain)</option>
						<option value="France">France</option>
						<option value="Germany">Germany</option>
						<option value="Ireland">Ireland</option>
						<option value="Spain">Spain</option>
						<option value="Netherlands">Netherlands</option>
						<option value="South Africa">South Africa</option>
					</select>
				</td>
			</tr>
			<tr>
				<th class="mylabel">
					<label for="adspecPublication">Publication Name</label>
				</th>
				<td>
					<input type="text" id="adspecPublication" name="adspecPublication" />
					<input type="hidden" name="publicationCode" id="publicationCode" value="" class="mandatory post-text"/ >
				</td>
			</tr>
			<tr>
				<th class="mylabel">
					<label for="adspecSection">Section Name</label>
				</th>
				<td>
					<select name="adspecSection" id="adspecSection" class="mandatory post-text" ></select>
				</td>
			</tr>
			<tr id="sizeDescription" style="display:none;" class="hidable">
				<th class="mylabel">
					<label for="adspecSizeDescription1">Size Description</label>
				</th>
				<td>
					<select name="adspecSizeDescription1" id="adspecSizeDescription1"></select>
					<select name="adspecSizeDescription2" id="adspecSizeDescription2"></select>
				</td>
			</tr>

			<tr id="size" style="display:none;" class="hidable">
				<th class="mylabel">
					<label for="adspecHeight">Size (d x w)</label>
				</th>
				<td>
					<input type="text" name="adspecHeight" id="adspecHeight" class="mandatory" style="width:50px"/> x
					<input type="text" name="adspecWidth" id="adspecWidth" class="mandatory" style="width:50px"/>
					<span id="measurementUnits" class="additional-information"></span>
					<span id="maxSize" class="additional-information"></span>
				</td>
			</tr>

			<tr id="colour" style="display:none;" class="hidable">
				<th class="mylabel">
					<label for="adspecColor">Colour</label>
				</th>
				<td>
					<select name="adspecColor" id="adspecColor"></select>
				</td>
			</tr>

			<tr id="delivery_method">
				<th class="mylabel">
					<label class="conditional-edit" for="deliveryMethod">Delivery Method</label>
				</th>
				<td>
					<select id="deliveryMethod" name="deliveryMethod"></select>
				</td>
			</tr>			
			<tr>
				<th class="mylabel">
					<label for="comment">Comment</label>
				</th>
				<td>
					<textarea name="comment" id="comment" rows="5" cols="40"></textarea>
				</td>
				
			</tr>
			<tr>
				<th class="mylabel">
					<label for="insertiondate">Insertion Date</label>
				</th>
				<td>
					<input type="text" id="insertiondate" name="insertiondate" /> (* required)
				</td>
			</tr>
			<tr>
				<th class="mylabel">
					<label for="accountname">User</label>
				</th>
				<td>
					<select name="accountname" id="accountname">
						<option value="0">[SELECT]</option> 
						<option value="AXA taga&a taga&a">AXA (taga&a)</option>
						<option value="TagHQMaster bZym1C8WL5 tagrepr01">TagHQMaster (tagrepr01)</option>
						<option value="TagHQMaster bZym1C8WL5 tagrepr02">TagHQMaster (tagrepr02)</option>
						<option value="TagHQMaster bZym1C8WL5 tagrepr03">TagHQMaster (tagrepr03)</option>
						<option value="TagHQMaster bZym1C8WL5 taghm01">TagHQMaster (taghm01)</option>
						<option value="TagHQMaster bZym1C8WL5 tagd0ve">TagHQMaster (tagd0ve)</option>
						<option value="TagHQMaster bZym1C8WL5 tagrb5">TagHQMaster (tagrb5)</option>
						<option value="TagEngineMaster wjLeOyvI5R tageng1ne">TagEngineMaster (tageng1ne)</option>
						<option value="TagTescoMaster iM8LEWIxc5 tagt3sco">TagTescoMaster (tagt3sco)</option>
						<option value="TagTMobileMaster yLj8NsBRgp tagtm0bile">TagTMobileMaster (tagtm0bile)</option>
						<option value="TagResponseMaster xeqrm6JKxC tagresp0nse">TagResponseMaster (tagresp0nse)</option>
						<option value="TagCHIMaster cuk2GqNu9X tagch1">TagCHIMaster (tagch1)</option>
						<option value="TagBestBuyMaster plzd3N8eZP tagb3stbuy">TagBestBuyMaster (tagb3stbuy)</option>
						<option value="TagFranceMaster TagFrance tagfranc3">TagFranceMaster (tagfranc3)</option>
						<option value="TagPGMaster ksG4FzOgaP tagpand3">TagPGMaster (tagpand3)</option>
						<option value="TagSonyMaster z0jdVqLbwo tags0ny">TagSonyMaster (tags0ny)</option>
						<option value="TagEEMaster khmXxRhpAo tage3">TagEEMaster (tage3)</option>
					</select>
				</td>
			</tr>
			<tr>
				<th class="mylabel">
				</th>
				<td>
					<input type="submit" value="Deliver via AdSend" [% IF disablesubmit == 1 %]disabled[% END %]>
				</td>
			</tr>
		</table>

	<!--	<div  style="float:right;position:relative;padding-top:8px;">
			<span style="font-size: 0.9em;font-style:italic;text-align:left">Click "Capture" once you have completed the selection >></span>
			<input type="submit" name="submit" id="submit" value="Capture" />
			<input type="hidden" name="adspecColorSpecification" id="adspecColorSpecification"/>
			<input type="hidden" name="bleed_top" id="bleed_top"/>
			<input type="hidden" name="bleed_right" id="bleed_right"/>
			<input type="hidden" name="bleed_bottom" id="bleed_bottom"/>
			<input type="hidden" name="bleed_left" id="bleed_left"/>
			<input type="hidden" name="crop_required" id="crop_required"/>
		</div>
		-->
	</form>
[% END %]
	</div>
	<div id="sections"></div>


[% INCLUDE ecm_html/footer.html %]


