[% INCLUDE ecm_html/header.html %]

<h1>Alter the estimated time for Jobs</h1>


These jobs will be changed: [% FOREACH j IN jobs %][% j %],[% END %]<br><br>
<br>
<br>
New estimate<h2>[% newestimate %] hours</h2>
<br>
<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="processNewEstimate">
<input type="hidden" name="jobs" value="[% FOREACH j IN jobs %][% j %],[% END %]">
<input type="hidden" name="newEstimate" value="[% newestimate %]">
<br>
<input type="submit" value="Change Estimate">
</form>

[% INCLUDE ecm_html/footer.html %]

