[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="tblWrapper" class="tblIframe">
	
	<h1>Approve / Decline Job</h1>

	<div class="table_wrapper">
		<div class="table_copy">

	[% FOREACH j IN myjob %]
			<table>
			<TR>
				<TD width="200">Job</TD>
				<TD>[% j.job_number %]</TD>
			</tr>
			[% IF jobaction.length %]
			<tr class="message">
				<td>This job has been:</td>
				<TD>[% IF jobaction == "approve" %] Approved [% ELSE %] Declined [% END %] </TD>
			[% END %]
			</tr>
			<TR>
				<td>Locked</td>
				<TD>[% j.islocked %]&nbsp;[% IF j.locked %] [% j.lockedtime %] [% END %] </TD>
			</tr>
			<TR>
		        <td>Preflight Status</td>
				<TD>[% j.preflightstatus %]</TD>
			</TR>
			<TR>
		        <td>Agency</td>
				<TD>[% j.agency %]</TD>
			</TR>
			<TR>
				<td>Client</td>
				<TD>[% j.client %]</TD>
			</tr>
			<TR>
				<td>Project</td>
				<TD>[% j.project %]</TD>
			</tr>
			<TR>
				<td>Publication</td>
				<TD>[% j.publication %]</TD>
			</tr>
			<tr>
				<td>View file</td>
				<td><a href="[% preflight_url %]?action=filedownload&jobid=[% j.job_number %]&sessionid=[% sessionid %]&rnd_no=[% rnd_no %]">Download</td>
			</tr>
			</table>
			</div>
		</div>

		<div class="iframe_wrapper">
			<iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" 
				src="[% preflight_url %]?action=filedownload&jobid=[% jobid %]&sessionid=[% sessionid %]&rnd_no=[% rnd_no %]" 
				frameborder="1" type="application/pdf" scrolling="auto" height="600" width="550">
			</iframe>
		</div>
		<div class="table_btns">
			<a href="javascript: history.go(-1);">Back</a>
		</div>
	
		[% IF !jobaction.length %]
		<div class="approval_buttons">
			<div class="approve">
				<form action="jobflow.pl" method="post">
					<input type="hidden" name="action" value="approve">
					<input type="hidden" name="jobaction" value="approve">
					<input type="hidden" name="jobid" value="[% j.job_number %]">
					<input type="submit" value="Approve">
				</form>
			</div>
		
			<div class="decline">
				<form action="jobflow.pl" method="post">
					<input type="hidden" name="action" value="approve">
					<input type="hidden" name="jobaction" value="decline">
					<input type="hidden" name="jobid" value="[% j.job_number %]">
					<input type="submit" value="Decline">
				</form>
			</div>
		</div>
		[% END %]
	[% END %]
</div>


[% INCLUDE ecm_html/footer.html %]

