[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Archive Scheduler</h1>
<br>

<div id="tblWrapper">
	
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="archivescheduler" />
	<input type="hidden" name="formPosted" value="yes" />
	
	<table border="1"> 
	<tr>
		<th>Operating Company</th>
		<th>Schedule</th>
		<th>Retention</th>
		<th>Primary Task</th>
		<th>Queued</th>
	</tr>
	
	[% IF updated == 1 %]
	<tr>
		<td colspan="2" class="updated">Archive Scheduler updated</td>
	</tr>
	[% END %]
	
	[% FOREACH opco IN opcos %]
	<TR>
		<TD>[% opco.opconame %]</TD>
		<TD><input type="checkbox" name="opcoid" value="[% opco.opcoid %]"
		[% FOREACH schedule IN schedules %]
		   [% IF schedule.opcoid_scheduled == opco.opcoid %]
		      checked
		   [% END %]
		[% END %]></TD>
		<TD>[% opco.retention %]</TD>
		<TD>
		[% FOREACH schedule IN schedules %]
		   [% IF schedule.opcoid_scheduled == opco.opcoid %]
		      [% schedule.task %]
		   [% END %]
		[% END %]
		</TD>
		<TD>[% opco.queued %]</TD>
	</TR>
	[% END %]
	</table>
	
	 <input type="submit" value="submit">
	
	</form>
</div>

[% INCLUDE ecm_html/footer.html %]
