[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Assign Jobs</h1>

Jobs: [% FOREACH j IN jobs %][% j %],[% END %]<br><br>
[% message %]

<br>
<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="selectVendor">
<input type="hidden" name="assignjobs" value="assignjobs">
<input type="hidden" name="jobs" value="[% FOREACH j IN jobs %][% j %],[% END %]">
<input type="hidden" name="formPosted" value="yes">


<div id="tblWrapper">
<table>
	<tr>
		<th>Job</th><th>Due Within</th>
	</tr>
	[% FOREACH j IN jobs %]
	<tr>
		<td>[% j %]</td>
		<td>
			<select name="dueid_[% j %]">
				<option value="0" [% IF defaultHours == 0 %]selected='selected'[% END %]>Use client default</option>
				<option value="5">5m</option>
				<option value="60">1h</option>
				<option value="120">2h</option>
				<option value="240" [% IF defaultHours == 4 %]selected='selected'[% END %]>4h</option>
				<option value="480">8h</option>
				<option value="1440">24h</option>
				<option value="2880">2d</option>
				<option value="4320">3d</option>
				<option value="5760">4d</option>
				<option value="7200">5d</option>
				<option value="10080">1w</option>
				<option value="20160">2w</option>
				<option value="40320">4w</option>
			</select>
		</td>
	</tr>
	[% END %]
</table>
<!--Commented by Feroz . Due to this extra div close list of name options on assign jobs not working-->
<!--</div>-->

<h2>Select Assignee for this/these job(s):</h2>
<br>
[% numuser = 1 %]
[% FOREACH u IN users %]
	 <div><input type="radio" name="assigneeid" [% IF assigneeid == u.userid %]checked='checked'[% END %] value="[% u.userid %]" >[% u.username %] ([% u.lname %], [% u.fname %]) [ [% u.role %] ]</div>
	[% numuser = numuser + 1 %]
[% END %]
<br>
<br>
<input type="submit" value="Assign Job(s)" [% IF oktogo == 0 || formPosted == "yes"  %]disabled='disabled'[% END %]>
</form>

[% INCLUDE ecm_html/footer.html %]

