<div id="DetailstblWrapper">
	<table>	
	<!--BC=BROADCAST -->
		<tr>
			<td>Customer</td>
			<td id="BCCustomer"></td>
			<td></td>
		</tr>
		<tr>
			<td>Client</td>
			<td id="BCClient"></td>
			<td></td>
		</tr>
		<tr>
			<td>Project/Compaign</td>
			<td id="BCProject"></td>
			<td></td>
		</tr>
		<tr>
			<td>Creative(Job Title)</td>
			<td id="BCCreative"></td>
			<td></td>
		</tr>
		<tr>
			<td class="vertical-align-mid">Status Notes</td>
			<td>
				<textarea id="BCSmokeCMD" rows="6" cols="50" maxlength="250"></textarea>
			</td>
			<td class="edit_font">&#9997</td>
		</tr>
		<tr>
			<td>Media</td>
			<td id="BCMedia"></td>
			<td></td>
		</tr>
		<tr>
			<td>Work Type</td>
			<td id="BCWorktype"></td>
			<td></td>
		</tr>
		<tr>
			<td>Description</td>
			<td id="BCDescription"></td>
			<td></td>
		</tr>
		<tr>
			<td>Creation Date</td>
			<td id="BCCreatedate"></td>
			<td></td>
		</tr>
		<tr>
			<td>Required Date</td>
			<td id="BCRequireddate"></td>
			<td></td>
		</tr>
		<tr>
			<td>Job Status</td>
			<td id="BCJobStatus"></td>
			<td></td>
		</tr>
		<tr>
			<td>Producer</td>
			<td class="BCProducer">
				<input type="hidden" value="" id="selected_correct_user" />
				<input type="text" value="" id="BCProducer" class="producer_list_block" />
				<!-- Maintained the original name to insert the record in history -->
				<input type="hidden" value="" id="BCProducer_origin_name" />
			</td>
			<td class="edit_producer_icon edit_font">&#9997</td>
		</tr>
		<tr>
			<td>Account Manager</td>
			<td id="BCAccountManager" contenteditable="true"></td>
			<td class="edit_font">&#9997</td>
		</tr>
		<tr>
			<td>Customer Order No</td>
			<td id="BCOrderno"></td>
			<td></td>
		</tr>
		<tr>
			<td>Agency Job No</td>
			<td id="BCAgencynumber"></td>
			<td></td>
		</tr>
		<tr>
			<td>Media Choice Id</td>
			<td id="BCMediaCid"></td>
			<td></td>
		</tr>
		<tr>
			<td>Production Status</td>
			<td id="BCProductionstatus"></td>
			<td></td>
		</tr>
		<tr>
			<td>Country</td>
			<td id="BCCountry"></td>
			<td></td>
		</tr>
		<tr>
			<td>Language</td>
			<td id="BCLanguage"></td>
			<td></td>
		</tr>
		<tr>
			<td>Duration</td>
			<td id="BCTimelength"></td>
			<td></td>
		</tr>
		<tr>
			<td>Schedule Date</td>
			<td>
				<input type="text" value="" id="scheduleDate" style="color: #0088cc;" />
			</td>
		</tr>
		<tr>
			<td>Material Date</td>
			<td id="BCDDate"></td>
			<td></td>
		</tr>
		<tr>
			<td>Dispatch Date</td>
			<td>
				<input id="dispatchdate" type="text" style="color: #0088cc;" />
		   </td>
		</tr>
		<tr>
			<td>Edit Code</td>
			<td id="BCEdit"></td>
			<td></td>
		</tr>
		<tr>
			<td>Internal Clock No.</td>
			<td id="BCIBNo" contenteditable="true"></td>
			<td class="edit_font">&#9997</td>
		</tr>
		<tr>
			<td>Broadcast Code</td>
			<td id="BCCode"></td>
			<td></td>
		</tr>
		<tr>
			<td>Video Aspect Ratio</td>
			<td id="BCVideoAspect"></td>
			<td></td>
		</tr>
		<tr>
			<td>Video Standard</td>
			<td id="BCVideoStd"></td>
			<td></td>
		</tr>
		<tr>
			<td>Video Frame Rate</td>
			<td id="BCVideoFrame"></td>
			<td></td>
		</tr>
		<tr>
			<td>Broadcast Code Name</td>
			<td id="BCVideoLetterbox"></td>
			<td></td>
		</tr>
		<tr>
			<td>Audio Spec</td>
			<td id="BCAudio"></td>
			<td></td>
		</tr>
	</table>
</div>

<script>
$(document).ready(function() {
	$("#BCSmokeCMD").on('input', function() {
		if ($(this).val().length>=250) {
			dlgtitle	= "Edit Status Notes";
			dlgmsg	  = "You have reached a limit of 250 characters";
			dlgbtn	  = "Close";
			dlgclass	= "search-dialog";
			iconclass   = "ui-icon-info";
			openDiaglog(dlgtitle,dlgmsg,dlgbtn,dlgclass,iconclass);
		}
	});
});
</script>

