[% INCLUDE ecm_html/header.html %]

<h1>Check Out Jobs</h1>

[% IF cancheckout.size > 0 %]
These jobs will be checked out: [% FOREACH j IN cancheckout %][% j %],[% END %]<br><br>
[% END %]

[% IF cantcheckout.size > 0 %]
These jobs will <strong>not</strong> be checked out: [% FOREACH j IN cantcheckout %][% j %],[% END %]<br>
[% END %]

[% IF message.length > 0  %]
<h2>[% message  %]</h2>
[% END %]

<br>
<strong>Select Remote Location:</strong><br>
<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="setLocation">
<input type="hidden" name="jobs" value="[% FOREACH j IN cancheckout %][% j %],[% END %]">

<select name="opcoid">
	[% FOREACH opco IN locations %]
		<option value="[% opco.opcoid %]">[% opco.opconame %]</option>
	[% END %]
</select>
<br>
<br>
<input type="submit" value="Check Out" [% IF cancheckout.size == 0 || oktogo == 0 %]disabled="disabled"[% END %] >
</form>

[% INCLUDE ecm_html/footer.html %]

