[% INCLUDE ecm_html/header.html %]

<h1>Check In Initiated</h1>

The check-in process for these jobs has been initiated: [% FOREACH j IN jobs %][% j %],[% END %]<br>
<br>

[% INCLUDE ecm_html/footer.html %]

