[% INCLUDE ecm_html/header.html %]

<h1>Check In Jobs</h1>


[% IF cancheckin.size > 0 %]
These jobs will be checked in: [% FOREACH j IN cancheckin %][% j %],[% END %]<br><br>
[% END %]

[% IF cantcheckin.size > 0 %]
These jobs will <strong>not</strong> be checked in: [% FOREACH j IN cantcheckin %][% j %],[% END %]<br>
[% END %]

[% IF message.length > 0 %]
<h2>[% message %]</h2>
[% END %]

<br>
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="processCheckIn">
<input type="hidden" name="jobs" value="[% FOREACH j IN cancheckin %][% j %],[% END %]">

<br>
<br>
<input type="submit" value="Check In" [% IF cancheckin.size == 0 || oktogo == 0 %]disabled="disabled"[% END %] >
</form>

[% INCLUDE ecm_html/footer.html %]

