[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<link rel="stylesheet" type="text/css" href="styles/checklist.css">
<script type="text/javascript" src="js/sorttable.js"></script>
<script type="text/javascript" src="js/checklistdata.js"></script>
<div id="mainlayer" style="padding-top:20px;">
<input type="button" id="createchecklist" value="Create Checklist" class="ui-button ui-widget ui-corner-all ui-button-text-only btnprimary">
		<div id="tblWrapper" style="padding-top:20px;">
				<table border="1" id="getvalues" class="sortable">
				<thead>	<tr>
						<th>Operating Company</th>
						<th>Customer</th>
						<th>Media</th>
						<th>Date</th>
					</tr></thead>
				[% FOREACH n IN datarows %]		
					<tr id="[% n.ID %]" onclick="showchecklistedit([% n.ID %], [% n.OPCOID %], [% n.custid %], [% n.mediaid %] );">						
						<td>[% n.OPCONAME %]</td>
						<td>[% n.CUSTOMER %]</td>
						<td>[% n.TYPE %]</td>
						<td>[% n.rec_timestamp %]</td>
					</tr>
				[% END %]
				</table>
		</div>
</div>

