[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Check In Queue History</h1>
<h5><a href="jobflow.pl?action=checkinqueue">Check In Queue</a> | <a href="jobflow.pl?action=checkoutqueue">Check Out Queue</a></h5>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="checkinqueuehistory">
	<input type="hidden" name="formPosted" value="yes">

	From: <select name="fromyear">
			<option [% IF fromyear == 2015 %]selected='selected'[% END %]>2015</option>	
			<option [% IF fromyear == 2014 %]selected='selected'[% END %]>2014</option>	
			<option [% IF fromyear == 2013 %]selected='selected'[% END %]>2013</option>	
			<option [% IF fromyear == 2012 %]selected='selected'[% END %]>2012</option>	
		</select>
		<select name="frommonth">
			<option value="01" [% IF frommonth == "01" %]selected='selected'[% END %]>Jan</option>
			<option value="02" [% IF frommonth == "02" %]selected='selected'[% END %]>Feb</option>
			<option value="03" [% IF frommonth == "03" %]selected='selected'[% END %]>Mar</option>
			<option value="04" [% IF frommonth == "04" %]selected='selected'[% END %]>Apr</option>
			<option value="05" [% IF frommonth == "05" %]selected='selected'[% END %]>May</option>
			<option value="06" [% IF frommonth == "06" %]selected='selected'[% END %]>Jun</option>
			<option value="07" [% IF frommonth == "07" %]selected='selected'[% END %]>Jul</option>
			<option value="08" [% IF frommonth == "08" %]selected='selected'[% END %]>Aug</option>
			<option value="09" [% IF frommonth == "09" %]selected='selected'[% END %]>Sep</option>
			<option value="10" [% IF frommonth == "10" %]selected='selected'[% END %]>Oct</option>
			<option value="11" [% IF frommonth == "11" %]selected='selected'[% END %]>Nov</option>
			<option value="12" [% IF frommonth == "12" %]selected='selected'[% END %]>Dec</option>
		</select>
		<select name="fromday">
			<option>01</option>
			<option>02</option>
			<option>03</option>
			<option>04</option>
			<option>05</option>
			<option>06</option>
			<option>07</option>
			<option>08</option>
			<option>09</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
		</select>&nbsp;&nbsp;&nbsp;&nbsp;
	<br>
	To: <select name="toyear">
			<option [% IF toyear == 2015 %]selected='selected'[% END %]>2015>2015</option>	
			<option [% IF toyear == 2014 %]selected='selected'[% END %]>2015>2014</option>	
			<option [% IF toyear == 2013 %]selected='selected'[% END %]>2015>2013</option>	
			<option [% IF toyear == 2012 %]selected='selected'[% END %]>2015>2012</option>	
		</select>
		<select name="tomonth">
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="02">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>
		<select name="today">
			<option>01</option>
			<option>02</option>
			<option>03</option>
			<option>04</option>
			<option>05</option>
			<option>06</option>
			<option>07</option>
			<option>08</option>
			<option>09</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
		</select>
	<br>
		<input type="submit" value="Retrieve">
	<br>
	<br>
	<table border="1"> 
	<tr>
		<th>Job Number</th>
		<th>History</th>
		<th>Opco</th>
		<th>Customer</th>
		<th>User</th>
		<th>Date/Time</th>
	</tr>
	[% FOREACH job IN checkinqueuehistory %]
	<TR>
		<TD><a href="jobflow.pl?action=showJob&jobid=[% job.job_number %]">[% job.job_number %]</a></TD>
		<TD><a href="jobflow.pl?action=viewHistory&jobid=[% job.job_number %]">View</a></TD>
		<TD>[% job.opconame %] ([% job.opcoid %])</TD>
		<TD>[% job.customer %] ([% job.customerid %])</TD>
		<TD>[% job.username %] ([% job.userid %])</TD>
		<TD>[% job.rec_timestamp %]</TD>
	</TR>
	[% END %]
	</table>
	</form>
</div>

[% INCLUDE ecm_html/footer.html %]

