[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Check Out Queue</h1>
<h5><a href="jobflow.pl?action=checkinqueuehistory">Check In Queue History</a> | <a href="jobflow.pl?action=checkinqueue">Check In Queue</a></h5>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="checkoutqueue">
	<input type="hidden" name="formPosted" value="yes">
	<input type="submit" value="Change Priority" name="change"> 
	<select name="priority">
		<option value="0" [% IF priority == 0 %]selected='selected'[% END %]>Low (0)</option>
		<option value="1" [% IF priority == 1 %]selected='selected'[% END %]>Medium (1)</option>
		<option value="2" [% IF priority == 2 %]selected='selected'[% END %]>High (2)</option>
		<option value="3" [% IF priority == 3 %]selected='selected'[% END %]>Urgent (3)</option>
		<option value="4" [% IF priority == 4 %]selected='selected'[% END %]>Need it now! (4)</option>
	</select>
	<input type="submit" value="Delay Check-Out by:" name="delay">
	<select name="checkoutdelay">
		<option value="0">0 hours</option>
		<option value="1">1 hour</option>
		<option value="2">2 hours</option>
		<option value="4">4 hours</option>
		<option value="8">8 hours</option>
		<option value="16">16 hours</option>
		<option value="24">24 hours</option>
		<option value="48">2 days</option>
		<option value="96">4 days</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Change Num Max Checkouts's" name="checkouts">
	<input type="text" name="maxcheckoutsval" size="5" value="[% maxcheckouts %]">
	<table border="1"> 
	<tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
			<input type="checkbox" id="resetcheckAll" name="resetcheckAll"></input> &#160;
            <input type="submit" id="reset" name="reset" value="Reset"></input>
		</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
	<tr>
		<th>Select</th>
		<th>Job Number</th>
		<th>Customer</th>
		<th>Size (MB)</th>
		<th>History</th>
		<th>To Opco</th>
		<th>User</th>
		<th>Checking Out?</th>
		<th>CheckOut Time</th>
		<th>Time on Queue</th>
		<th>Priority</th>
	</tr>
	[% FOREACH job IN checkoutqueue %]
	<TR>
		<td>[% IF job.checkingout == 0 %]<input type="checkbox" name="jobs" id="jobs" value="[% job.job_number %]">[% END %]</td>
		<TD><a href="jobflow.pl?action=showJob&jobid=[% job.job_number %]">[% job.job_number %]</a></TD>
		<td>[% job.customer %]</td>
		<TD>[% job.jobsize / (1024 * 1024) | format('%.2f') %]</TD>
		<TD><a href="jobflow.pl?action=viewHistory&jobid=[% job.job_number %]">View</a></TD>
		<TD>[% job.toopconame %]</TD>
		<TD>[% job.username %]</TD>
		<TD>[% IF job.checkingout == 0 %]No[% ELSE %]Yes &#160; <input type="checkbox" name="resetjobs" id="resetjobs" value="[% job.job_number %]"> [% END %]</TD>
		<TD>[% job.rec_timestamp %]</TD>
		<TD>[% job.timeonqueue %]</TD>
		<TD>[% job.priority %]</TD>
	</TR>
	[% END %]
	</table>
	</form>
</div>

<script>
$(document).ready(function() {
    $("#resetcheckAll").change(function () {
        $("input[name=resetjobs]").prop('checked', $(this).prop("checked"));
    });
});
</script>

[% INCLUDE ecm_html/footer.html %]

