[% SET extra_css = [ "ajaxpopup", "listusers", "sendCommon", "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<link rel="stylesheet" type="text/css" href="styles/sendCommon.css">
<style type="text/css">
.inputholder {
	padding:5px;
	margin:5px;
}
select {
	border-radius:.4em;
        height:30px;
        width:300px;
}
.ui-dialog .ui-dialog-buttonpane {
				border-width: 0;
}
</style>

<script type="text/javascript">

	<!-- use chdest_ prefix to make variables and functions distinct from other JF entities -->

	var singleSelect = 0;	// default is normal checkbox behaviour, but for Media Owner behave like radio box group.

	var lastMain = 0;
	var lastSub = 0;

	var chdest_selects = {
		'1' : { label: 'Adfast', action: 'sendByAdfast', include: [ 'high_res' ] },
		'2' : { label: 'Adgate', action: 'adgatedeliver', include: [ 'high_res' ] },
		'3' : { label: 'Email', subselect: 1, exclude: [ 'zip_dir' ], },
		'4' : { label: 'FTP',  action: 'sendByFTP', singleSelect: 1, include: [ 'high_res', 'zip_dir' ] },
		'5' : { label: 'Specl', action: 'sendBySpecl', include: [ 'high_res' ] }, 
		'6' : { label: 'Campaign', action: 'sendbyproject', include: [ 'lr_asset' ] },
	};

	var chdest_subselects = {
		'1' : { label: 'Client', action: 'sendByEmailClient', exclude: [ 'zip_dir' ] },
		'2' : { label: 'Media Owner', action: 'sendByEmailMediaOwner', singleSelect: 1, include: [ "high_res", "hires_crp_bleedbox_asset", "hires_crp_trimbox_asset", "aux_files", "split_pages" ], },
		'3' : { label: 'Vendor', action: 'sendByEmailVendor', include: [ 'high_res' ] },
		'4' : { label: 'Digital Link', action: 'sendByEmailDigital', hideFileOptions: 1, include: [ 'rendered_pdf' ] },
	};

	var chdest_asset_types = {
		[% FOREACH asset_type IN asset_list %]
			// [% IF asset_type.type != "rendered_pdf" %]
			'[% asset_type.type %]': { exists: [% asset_type.asset_exists %], enabled: [% asset_type.enabled %], checked: [% asset_type.checked %] },
			// [% END %]
		[% END %]
	}

	// Function called on initialise, to set the enabled/checked attributes for every option
	// We need to know (for each menu/sub menu, which asset types are enabled/checked

	function chdest_determine_enabled( entry ) {

		console.log( "chdest_determine_enabled called, entry " + JSON.stringify( entry ) );
		var result = {}; // object with key = asset type, value = hash { enabled, checked }

		if ( typeof(entry.exclude) == 'object' ) {
			Object.keys( chdest_asset_types ).forEach( function( key ) {
				if ( entry.exclude.indexOf( key ) == -1 ) {
					var e = chdest_asset_types[ key ];
					result[ key ] = { 
						enabled: ((e.enabled == 1 ) && (e.exists == 1)), 
						checked: ((e.enabled == 1) && (e.checked == 1) && (e.exists == 1)) }; 					
				}
			});
		} else if ( typeof(entry.include) == 'object' ) {
			Object.keys( chdest_asset_types ).forEach( function( key ) {
				if ( entry.include.indexOf( key ) != -1 ) {
					var e = chdest_asset_types[ key ];
					result[ key ] = { 
						enabled: ((e.enabled == 1 ) && (e.exists == 1)),
						checked: ((e.enabled == 1) && (e.checked == 1) && (e.exists == 1)) };
				}
			});

		} else { // neither exclude nor include

		} 

		if ( ( typeof(entry.singleSelect) != 'undefined' ) && ( entry.singleSelect == 1 ) ) {

			// Can only have one item checked, preferably high_res
			var count_checked = 0;
			var first_key = ""; // First key checked or high_res
			Object.keys( result ).forEach( function( key ) {
				var e = result[ key ];
				if ( e.checked == 1 ) {
					count_checked++;
					if (( key == 'high_res' ) || ( first_other == "" )) { 
						first_other = key;
					}
				}
			});
			if ( count_checked > 1 ) {
				// Clear all apart from first_other
				Object.keys( result ).forEach( function( key ) {
					if ( key != first_other ) {
						result[ key ].checked = 0;
					}
				});
			}
		}

		console.log( "chdest_determine_enabled returned: " + JSON.stringify( result ) );

		return result;
	}

	// add settings field for each menu / sub menu, each setting is hash { enabled 0 or 1, checked: 0 or 1 }
	function chdest_set_enabled() {
		// console.log( "chdest_set_enabled called, chdest_asset_types, " + JSON.stringify( chdest_asset_types ) );

		Object.keys( chdest_selects ).forEach( function( key ) {
			chdest_selects[ key ].settings = chdest_determine_enabled( chdest_selects[ key ] );
		});

		Object.keys( chdest_subselects ).forEach( function( key ) {
			chdest_subselects[ key ].settings = chdest_determine_enabled( chdest_subselects[ key ] );
		});
		// console.log( "chdest_set_enabled done" );
	}

	// Apply the settings for a particular menu or sub menu
	function chdest_set_enabled_checked( settings ) {
		// console.log( "chdest_set_enabled_checked called" );

		var t = $("#fileOptions table");

		// Disable all checkboxs and labels first
		$(t).find("input:checkbox:enabled").prop('disabled', true);
		$(t).find("input:checkbox:checked").prop('checked', false);
		$(t).find("span").prop('disabled', true);
	
		// Then set the ones we need
		Object.keys( settings ).forEach( function( key ) {
			var setting = settings[ key ];
			console.log( " key " + key + ", setting " + JSON.stringify( setting ) );
			if ( setting.enabled == 1 ) {
				$(t).find("input:checkbox[name='" + key + "']").prop( 'disabled', false );
				$(t).find("span[name='" + key + "']").removeClass("disabled");
			}
			if ( setting.checked == 1 ) {
				$("#fileOptions input[name='" + key + "']").prop('checked', true);
			}	
		});
	}

	// Uses supplied settings (to save settings of enabled fields)
	function chdest_save_settings() {
		// console.log( "chdest_save_settings called, lastMain " + lastMain + ", lastSub " + lastSub );

		var settings;
		if ( lastMain == 3 ) { // Email
			settings = chdest_subselects[ '' + lastSub ].settings;
		} else {
			settings = chdest_selects[ '' + lastMain ].settings;	
		}

		var t = $("#fileOptions table");

		Object.keys( settings ).forEach( function( key ) {
			var setting = settings[ key ];
			var checked = 0;
			if ( $(t).find("input:checkbox[name='" + key + "']").is( ':checked') ) { checked = 1; };
			settings[ key ].checked = checked;
		});
		if ( lastMain == 3 ) { // Email
			chdest_subselects[ '' + lastSub ].settings = settings;
		} else {
			chdest_selects[ '' + lastMain ].settings = settings;
		}
		// console.log( "chdest_save_settings done, settings " + JSON.stringify( settings ) );
	}

	// Common Action hash entry for menu/sub menu

	function chdest_Action_menu( h ) {
		// console.log( "chdest_Action_menu called" );

		singleSelect = h.singleSelect; // set global, for handler of checkbox changes
		if ( typeof( singleSelect ) == 'undefined' ) { singleSelect = 0 };

		if ( ( typeof( h.hideFileOptions ) == 'undefined' ) || ( h.hideFileOptions == 0 ) ) {
			$("#fileOptions").show();
		} else {
			$("#fileOptions").hide();
		}

		// Set action in form, for POST action
		if ( typeof( h.action ) == 'undefined' ) { 
			// console.log( "action undefined for " + h.label );
		} else {
			$('#myDialog #action').val( h.action );
		}

		// Clear all checkboxes, then enable according to h.settings
		chdest_set_enabled_checked( h.settings );

		// Show/hide digital error, only display for Digital Link
		if ( h.label == 'Digital Link' ) { 
			$("#digitalerror").show(); 
		} else {
			$("#digitalerror").hide();
		}
		// console.log( "chdest_Action_menu done" );
	}
 
	// Handle options for Email method
	function chdest_changeSubSelect( val ) {

		var h = chdest_subselects[ '' + val ];
		if ( typeof(h) == 'undefined' ) {
			console.log( "chdest_changeSubSelect: No entry for sub type " + val );
			return;
		}

		console.log( "chdest_changeSubSelect: Found entry for sub type " + val + ', ' + JSON.stringify( h ) );
		// attributes label, action, exclude, include, settings, singleSelect, hideFileOptions

		if ( lastSub != 0 ) {
			chdest_save_settings();
		}
		lastSub = val;

		chdest_Action_menu( h );

	};

	function chdest_changeMainSelect( val ) {

		var h = chdest_selects[ '' + val ];
		if ( typeof(h) == 'undefined' ) {
			console.log( "chdest_changeMainSelect: No entry for type " + val );
			return;
		}
		console.log( "chdest_changeMainSelect: Found entry for type " + val + ', label ' + h.label );

		if ( lastMain != 0 ) {
			chdest_save_settings();
		}
		lastMain = val;

		if ( ( typeof( h.subselect ) == 'undefined' ) || ( h.subselect == 0 ) ) {
			$('#subSelect').prop("disabled", true);
			chdest_Action_menu( h );
		} else {
			$('#subSelect').prop("disabled", false);
			newval = $('#subSelect').val();
			chdest_changeSubSelect( newval );
		}
	};

	function chdest_validateForm(event) {

		// add check for Digital Link
		var subSelect = $('#subSelect').val();
		var mainSelect = $('#mainSelect').val();
		if ( ( mainSelect == 3 ) && ( subSelect == 4 ) ) { return true; } // skip check for Digital Link

		$( "#validation_msgs" ).text( "Validating" );
		var allGood = true;
		var t = $("#fileOptions table");
		var c = $(t).find("input:checkbox:checked");
		if ( c.length == 0 ) {
			allGood = false;
			alert( "No file types selected" );
		}
		return allGood;
	};

	function chdest_countChecked() {
		var c = $("#fileOptions table").find("input:checkbox:checked");
		var button = $(".ui-dialog-buttonpane button:contains('OK')");
		button.disabled = ( c == 0 );
	}

	$(document).ready(function() {
		// console.log( "chdest document.ready" );

		$("#myDialog").append("<hr />");
		// the dialog
		$("#myDialog").dialog({
			width:500,
			// height:680,
			resize: "auto",
			autoOpen: true,
			modal: true,
			buttons: { 
[% IF ( ! errormessages.0 ) %]
				OK: function() { $('#chooseDestination').submit();},
[% END %]
				Cancel: function() { $(this).dialog("close"); } 
			},
			close: function () {
				// window.location = "[% applicationurl %]"+"?action=dashboard";
				window.location = "jobflow.pl?action=dashboard";
			},
			draggable: true
		});
		$('.ui-dialog-buttonset').find('.ui-button-text:contains(OK)').addClass('bluebtn');
		$('.ui-dialog-titlebar').hide();
		$( "form" ).submit( chdest_validateForm );

		chdest_set_enabled(); // determine asset types enabled/checked for each menu item

		// On initial display, the form action is "sendByEmailClient" which allows most asset types but not all
		chdest_changeMainSelect( '3' ); // Force 1st select to Email
	
		// handle select changes
		$('#mainSelect').change( function () { chdest_changeMainSelect( $(this).val() ) });

		// handle sub select
		$('#subSelect').change( function () { chdest_changeSubSelect( $(this).val() ) });

		chdest_countChecked(); // Enable/Disable OK button according to checked boxes

		// id something doesnt exist, so not sure what this is designed to do
		$('#something').change( chdest_countChecked ); // Enable/Disable OK button as user checks/unchecks

		// handle event when a checkbox is checked (so it behaves like a radio button group - why?)
		$("#fileOptions :checkbox").click(function() {
			var $this = $(this);

			if ($this.is(':checked')) {
				if ( singleSelect == 1 ) {
					// uncheck all checkboxes
					$("#fileOptions :checkbox").prop("checked", false);
					$this.prop("checked", true);
				}
			}
		});	// end checkbox checked

	});
</script>
	<span id="customerTypes" style="display:none;">Asset types [% customerfiletypes %]</span>
	<span style="display:none;">Studio [% opconame %]([% opcoid %])</span>

	<div id="myDialog" title="Send File(s)">
		<form id="chooseDestination" action="jobflow.pl" method="post">
		<input type="hidden" name="action" id="action" value="sendByEmailClient">
		<input type="hidden" name="selectVendor" id="selectVendor" value="yes">
		<input type="hidden" name="jobs" id="jobs" value="[% FOREACH j IN jobs %][% j %],[% END %]">
		<input type="hidden" name="customerId" id="customerId" value="[% customerId %]">
		<h2 style = "color: #817D7D;">Send File(s)</h2>
		<hr/>
[% IF errormessages.0  %]
	<h3>Send File Messages</h3>
	<hr/>
	[% FOREACH msg IN errormessages %]
		<h2 class="error">[% msg %]</h2>
	[% END %]
    [% IF warningmessages.0  %]
		<hr/>
		<h3>Send File Warnings</h3>
		[% FOREACH warn IN warningmessages %]
			<h3 class="warning">[% warn %]</h3>
		[% END %]
    [% END %]

[% ELSE %]

    [% IF warningmessages.0  %]
		[% FOREACH warn IN warningmessages %]
			<h3 class="warning">[% warn %]</h3>
		[% END %]
    [% END %]

		<fieldset>
			<h3>Select Method</h3>
			<div class="inputholder">
				<select name="mainSelect" id="mainSelect">
					<option value="1" disabled>Adfast</option>
					<option value="2" >Adsend</option>
					<option value="3" selected='selected'>Email</option>
					<option value="4">FTP</option>
					<option value="5" disabled>Specl</option>
					<option value="6">Projects & Campaigns</option>
				</select>
			</div>
			<div class="inputholder">
				<select name="subSelect" id="subSelect">
					<option value="1" selected='selected'>Client</option>
					<option value="2">Media Owner</option>
					<option value="3">Vendor</option>
					<option value="4">Digital Link</option>
				</select>
			</div>
		</fieldset>
		<div class="horzline"></div>

		<fieldset>
			<div class="inputholder">
				<div id="digitalerror" style="margin:5px;">
					<table>
					[% FOREACH de IN digital_link_errors %]
						<tr>
							<td colspan="2">
								<span style="color:red;"> [% de.error %] </span>
							</td>
						</tr>
					[% END %]
					</table>
				</div>
				<div id="fileOptions" style="margin:5px;">
					<table>
						[% FOREACH msg IN asset_errors %]
							<tr>
								<td colspan="2">
									<span style="color:red;"> [% msg.text %] </span>
								</td>
							</tr>
						[% END %]

						[% FOREACH asset_type IN asset_list %]
							[% IF (asset_type.type == "rendered_pdf") %]
								<input type="hidden" name="[% asset_type.type %]" class="cb_asset_type" value="off">
							[% ELSIF (asset_type.enabled == 0) OR (asset_type.asset_exists == 0) %]
								<!-- could just omit these options, but for the time being just disable them -->
								<tr><td style="width:15px;"><input type="checkbox" name="[% asset_type.type %]" class="cb_asset_type" disabled value="off"></td>
								<td><span name="[% asset_type.type %]" class="normal" disabled >[% asset_type.label %]</span></td></tr>
							[% ELSIF (asset_type.checked == 1) %]
								<tr><td style="width:15px;"><input type="checkbox" name="[% asset_type.type %]" class="cb_asset_type" value="on" checked="checked"></td>
								<td><span name="[% asset_type.type %]" class="normal" >[% asset_type.label %]</span></td><tr>
							[% ELSE %]
								<tr><td style="width:15px;"><input type="checkbox" name="[% asset_type.type %]" class="cb_asset_type" value="on"></td>
								<td><span name="[% asset_type.type %]" class="normal" >[% asset_type.label %]</span></td></tr>
							[% END %]
						[% END %]
					</table>
				</div>
			</div>
		</fieldset>
[% END %]
		</form>
	</div>

[% INCLUDE ecm_html/footer.html %]
