[% INCLUDE ecm_html/header.html %]

<!--<h1>Compare Job Versions</h1>
<h2>Select two versions to compare</h2>-->
[% IF formposted == "yes" %]
<h2>The selected versions have been sent for compare. <a href="jobflow.pl?action=dashboard">Home</a></h2>
[% END%]
<h2>[% message %]</h2>
<br>

<!--<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="selectVendor">
	<input type="hidden" name="compareJobs" value="yes">
	<input type="hidden" name="formPosted" value="yes">
	<input type="hidden" name="jobs" value="[% jobslist %]">
	<input type="hidden" name="jobid" value="[% jobid %]">
	<br>
	<br>
	<h2>Job: [% jobid %]</h2>
	<table border="1"> 
	<tr>
		<th>Select</th>
		<th>Filename</th>
	</tr>
	[% FOREACH versions IN versions %]
	<TR>
		<td><input type="checkbox" name="selectedversions" id="selectedversions" value="[% versions.versionid %]" [% IF selected1 == versions.versionid || selected2 == versions.versionid %]checked='checked'[% END %]></td>
		<td>[% versions.filename %]</td>
	</TR>
	[% END %]
	</table>
	[% IF formposted != "yes" %]
		[% IF gogobaby == 1 %]
		<input type="submit" value="Compare selected versions">
		[% END %]
	[% END %]
	</form>
</div>-->

[% INCLUDE ecm_html/footer.html %]

