[% SET extra_css = [ "ecmstyles", "resizableColumns", "joblist", "filter", "outsource_style", "ajaxpopup", "escompare", "newcommentbox", "one2edit" ] %]
[% INCLUDE ecm_html/header.html %]

<!-- dashboard.html -->

[% USE date %]
<div id= "right-content"></div>

<div id ="main-wrap">
	
        <div id="left-content">

		<!--<h1>Dashboard</h1>-->
		<div id="refresh" style="float:right;"></div>
		<div id="tblWrapperCompare" title="Compare Job(s)" style="display:none;"></div>
		<div id="tblWrapperRejectJob" title="Reject Job(s)" style="display:none;padding:0px;"></div>
		<div id="tblWrapperVersion" title="Version History" style="display:none;padding:0px;"></div>
		<div id="tblWrapperAsset" title="My Task" style="display:none;padding:0px;"></div>
		<div id="tblWrapperDocuments" title="My Task" style="display:none;padding:0px;"></div>
		<div id="tblWrapperdownload" title="Download File (v1.0)" style="display:none;padding:0px;"></div>
		<div id="tblWrapperupload" title="Upload File (v1.0)" style="display:none;padding:0px;"></div>
		<div id="tblWrappertakeJob" title="Take Job (v1.0)" style="display:none;padding:0px;"></div>
		<div id="tblWrapperAssignJob" title="Assign User" style="display:none;padding:0px;"></div>
        <div id="tblWrapperComment" title="Comment" style="display:none;padding:0px;"></div>
		<div id="tblWrapperreqJob" title="Request Job (v1.0)" style="display:none;padding:0px;"></div>
		<div id="tblWrapperhistory" title="History" style="display:none;padding:0px;"></div>		 		
		<div id="displayMsg" title="Message" style="display:none;padding:0px;"></div>
        <div id="applycommentdiv" name="applycommentdiv" style="display:none; padding:0px !important;"></div>
		<div id="dialog-confirm" title="Delete Files" style="display:none;padding:0px;">
			<p style="margin-top: 25px;"><span class="ui-icon ui-icon-alert" style="float:left; margin:10px 7px 20px 0;">
			</span>These file will be permanently deleted and cannot be recovered. Are you sure?</p>
		</div>
		[% INCLUDE ecm_html/escompare.html %]
		
		
		[% IF roleid == 8 %]
			<div>
				<p style="color:black; font-size:14px; font-weight:bold; line-height:30px;">Restricted Access</p>
				<p style="color:black; font-size:12px; line-height:15px;">You are not authorised to access 'jobdashboard/view'</p>
			</div>
		[% ELSIF roleid != 7 %]
			<div class="actions">
				<input type="button" id="myjobbtn" onClick="lhn_my_jobs('[% assignee %]')" value="My Jobs" class="myjobsbtn" />
				<input type="button" id="configure-btn"   class="menu-button" value="Configure" onclick="configure_swimlanes()" style="display:none;" />
			
				<input type="hidden" name="action" value="dashboard"/>
			
				<input type="button" class="menu-button left-button" value="Filter &#9660;" data-menu='filterby-menu' /
				><input type="button" class="menu-button right-button filter-button" onclick="showLoadFilter()"/>
			
				<input type="button" value="Sort &#9660;" class="menu-button" data-icon="arrow-d" data-menu='sortby-menu'/>
				
				<input type="button" value="Actions &#9660;" class="menu-button" data-menu="actions-menu" />
				
		                    
				<div class="search-bar">
					<input type="hidden" name="formPosted" value="yes" />
					<input type="hidden" name="action" value="dashboard"/>
				
					<select name="searchTypeId" id="searchTypeId" class="menu-button left-button">
						<option hidden style="display:none !important"></option>
						<option value="1" [% IF searchTypeId == 1 ||  searchTypeId == "" %] selected='selected' [% END %] >Job Number</option>
						<option value="2" [% IF searchTypeId == 2 %] selected='selected' [% END %] >Legacy</option>
						<option value="3" [% IF searchTypeId == 3 %] selected='selected' [% END %] >Business Unit Ref</option>
						<option value="4" [% IF searchTypeId == 4 %] selected='selected' [% END %] >URN / Agency Ref</option>
		    	        		<option value="5" [% IF searchTypeId == 5 %] selected='selected' [% END %] >Media Choice ID</option>
		    	            <option value="6" [% IF searchTypeId == 6 %] selected='selected' [% END %] >Edit Code</option>
			                <option value="7" [% IF searchTypeId == 7 %] selected='selected' [% END %] >Comments</option>
					</select
					><span class="menu-button left-button dropdown-arrow">&#x25bc;</span
				
					><input type='text' name="jobnumber" id="jobNumber" class="centre" placeholder='Job Number' /
				
					><span class="button right-button search-button"><img src='js/images/seachglass.png' /></span>
				</div>
			</div>
		
			<div class="actions minor">
				<span class="button" id="colmanagericon"><img src="images/Column_Manager.png" alt="Column Manager" onclick="showColumnManager()"></span>
				<span class="button"><img src="images/Refresh.png" alt="Refresh" onclick="refresh();"/></span>
				
				<input type="button" class="menu-button list-button hidden" id="list_view" title="List View"  onclick="show_list_view()"/>
				<input type="button" class="menu-button board-button" id="board_view" title="Board View"  onclick="show_kanban_view()" disabled="disabled" />
				<input type="button" class="menu-button board-button-disabled" id="board_view_disabled" title="Board View"  disabled="disabled"  />
			</div>
		[% END %]

		<div id="loading" style="display:none;"><img src="js/images/loading1.gif" alt="" /></div>
		<div id="timeoutdialog" style="display:none;margin:20px 0px 0px 50px;" title="Connection Timeout Error">
  			<p>Click OK to refresh the page</p>
			<button id="timeoutreload" class="btn" style="margin:20px 3px 0px 60px;">OK</button>
		</div>
		
		<input type="hidden" id="highlightjob" name="highlightjob" />
		
		<!--Table wrapper is covered in jquery ajax side so this is not required - Feroz -->
		<div id="joblist-view">
			<div id="joblist-controls"></div>
			<div id="joblist-contents"></div>
		</div>
		
		<div class="kanban_board_view">
			<div id="kanban_filter_info_block"></div>
			<div class="lane_info panel-right"></div>
			<div id="kanban_board"> </div>
		</div>
    </div>
    
   <div id="clear"></div>
</div>















<!-- Filter-by Menu entries -->
<div id="filterby-menu" class="menu-list"> <!--Code for menu starts here-->
	<h3 class="menu-list-header">
		<a href="javascript:void(0);" id="UNCHECK" class="uncheckbtn">Clear Filters</a>
		<a href="javascript:void(0);" id="applyfilters" class="btnapplyFilter" onclick="joblist_apply_filter()">Apply Filter</a>
		<a href="javascript:void(0);" id="btnSaveFilter" class="btnsaveFilter" name="btnSaveFilter" onclick="showSaveFilter()">Save Filter</a>
	</h3>
	<div class="menu-body">
		<p class="menu-group-header">Account Handler</p>
		<div id="newacchandler" class="menu-group"></div>

		<p class="menu-group-header">Advisory</p>
		<div id="newquerytype" class="menu-group"></div>

		<p class="menu-group-header">Archive Status</p>
		<div id="newArchiveStatus" class="menu-group"></div>

		<p class="menu-group-header">Assignee</p>
		<div id="newAssignID" class="menu-group"></div>

		<p class="menu-group-header">Booked By</p>
		<div id="newbook" class="menu-group"></div>

		<p class="menu-group-header">Client</p>
		<div id="newclientID"  class="menu-group" ></div>

		<p class="menu-group-header">Country</p>
		<div id="newcountrytype" class="menu-group"></div>

		<p class="menu-group-header">Customer</p>
		<div id="newcustID" class="menu-group" ></div>

		<p class="menu-group-header">Departments</p>
		<div id="newdept" class="menu-group"></div>

		<p class="menu-group-header">Format Size</p>
		<div id="newformatsize" class="menu-group"></div>
		
		<!-- Show from date only for Jobs not watchlist jobs   -->
		<div class="fromdate-filter">
			<p class="menu-group-header">From Date</p>
			<div id="newfromID" class="menu-group" ></div>
		</div>

		<p class="menu-group-header">Location</p>
		<div id="newLocationID" class="menu-group" ></div>

		<p class="menu-group-header">Media Choice ID</p>
		<div id="newmediachoiceid" class="menu-group"></div>

		<p class="menu-group-header">Media Owner</p>
		<div id="newmediaowner" class="menu-group"></div>

		<p class="menu-group-header">Media Type</p>
		<div id="newmediatype" class="menu-group"></div>

		<p class="menu-group-header">Operating Company</p>
		<div id="newOpcompany" class="menu-group" ></div>

		<p class="menu-group-header">Operator Status</p>
		<div id="newopID" class="menu-group"></div>


		<p class="menu-group-header">Preflight Status</p>
		<div id="newstatusID" class="menu-group"></div>

		<p class="menu-group-header">Producer</p>
		<div id="newproducertype" class="menu-group"></div>

		<p class="menu-group-header">Production Status</p>
		<div id="newprod" class="menu-group"></div>


		<p class="menu-group-header">Project/Campaign</p>
		<div id="newprojectID" class="menu-group"></div>

		<p class="menu-group-header">QC Status</p>
		<div id="newqcID" class="menu-group"></div>

		<p class="menu-group-header">Teams</p>
		<div id="newteam" class="menu-group"></div>

		<p class="menu-group-header">Work Type</p>
		<div id="newworktype" class="menu-group"></div>
	</div>
</div>  <!--Code for menu ends here-->


<!-- Sort-by menu entries -->
<div id="sortby-menu" class="menu-list">
    <h3 class="menu-list-header">
       <a href="javascript:void(0);" onclick="joblist_sort(get_sort_id(), 'asc')">Sort Ascending</a>
       <a href="javascript:void(0);" onclick="joblist_sort(get_sort_id(), 'desc')">Sort Descending</a>
    </h3>
    <div class="menu-body">
		<div class="expanded menu-group">
			<br>
			[% FOR e IN orderbylist %]
				[% IF e.sortmenu == 1 %]
					<label class=""><input type="radio" name="orderbyid" value="[% e.orderbyid %]" [% IF orderbyid == e.orderbyid %]checked[% END %]>[% e.column_label %]</label>
				[% END %]
			[% END %]
			<br>
		</div>
    </div>
    <h3 class="menu-list-footer">
        <a href="javascript:void(0);" name="Unsort" id="Unsort" onclick="joblist_unsort()">Unsort</a>
	</h3>
</div> <!-- Code for menu ends here -->


<!-- Actions menu entries -->
<form action="jobflow.pl" method="post" class="menu-list" id="actions-menu">
    <input type="hidden" name="menuation" value="Yes" />
    <input type="hidden" name="jobslist" id="jobslist" />
    <ul class="menu">
            <input type="button" name="addwatch" value="Add to Watch list" id="addwatch" class="textbtn"/><BR>
			 <input type="button" value="Apply to selection" id="applytoselection" class="textbtn" onclick="applytoSelection();"/><BR>

           <!-- 
			<input type="button" value="Advisory" id="actionquerytype" class="textbtn" onclick="showquerytypes();"/><BR>
            <input type="button" value="Apply" id="applypopup" class="textbtn" onclick="updatebroadcast();"/><BR>
            <input type="button" value="Apply Comments" id="applycomments" class="textbtn" onclick="showRichTextEditor('applycomment');"/><BR>
            <input type="button" value="Apply Dispatch Date & Time" id="applydatetime" class="textbtn" onclick="requireddatetime();"/><BR> 
			-->

        [% IF isjobassignment %]
                  [% IF (roleid == 2 || roleid == 4 || roleid == 6 || relaxroles == 1) %]
                <input type="button" id="menuassignjobs" value="Assign Job(s)" name="assignjobs" class="textbtn" /><BR>
                [% END %]
        [% END %]
            <input type="button" value="Assign to department" id="adddepartment" class="textbtn"  onClick="showdepartment();"/><BR>
            <input type="button" value="Assign to team" id="addteam" class="textbtn"  onClick="showteam();"/><BR>
            <input type="button" name="compareJobs" value="Compare" id="compareJobs" class="textbtn" /><BR>
            <input type="button" name="compareJobsES" value="Compare ES" id="compareJobsES" class="textbtn"/><br>
            <input type="button" name="compareJobsWeb" value="Compare Web" id="compareJobsWeb" class="textbtn"/><br>
        [% IF userinteractive == 1 %]
            <input type="button" id="renderpdf" onClick="return renderPdf(1);" value="Create Digital URL" name="renderpdf" class="textbtn"/><BR>
            <input type="button" id="rendertocmd" onClick="return sendRenderedPdfToCMD();" value="Digital URL to CMD" name="rendertocmd" class="textbtn"/><BR>
        [% END %]
	<!--
        [% IF roleid == 3 || roleid == 4 || roleid == 6 %]
            <input type="button" id="menuestimation" value="Estimation" name="menuestimation" class="textbtn" onclick="updateestimation();"/><BR>
        [% END %]
	-->
            <input type="button" class="grouping_action textbtn" id="grouping_action_28" value="Group by Media Choice" name="mediachoiceid" /><BR>
            <input type="button" class="grouping_action textbtn" id="grouping_action_29" value="Group by Project" name="project" /><BR>
        [% IF roleid == 3 || roleid == 4 || roleid == 1 || roleid == 6 %]
            <input type="button" id="menurejectjobs" value="Reject Jobs(s)" name="rejectjobsacctman" class="textbtn" /><BR>
        [% END %]
        [% IF roleid == 4 %]
            <input type="submit" id="repochkin" onClick="return ensureChecked();" value="Repository Check In" name="repoCheckIn" class="textbtn" /><BR>
            <input type="submit" id="repochkout" onClick="return ensureChecked();" value="Repository Check Out" name="repoCheckOut" class="textbtn" /><BR>
        [% END %]
        [% IF unlockjobpermission == 1 %]
            <input type="submit" onClick="return ensureChecked();" id="unlock" value="Reset Job" name="unlock" class="textbtn" /><BR>
        [% END %]
            <input type="submit" name="restoreJob" value="Restore job file(s)" id="restoreJob" class="textbtn" onClick="return ensureChecked();"/><BR>
        [% IF isjobassignment %]
            [% IF (roleid == 1 || roleid == 4 || relaxroles == 1) %]
                <input type="button" id="requestJob" value="Request Job" name="requestjob" class="textbtn" /><BR>
             [% END %]
        [% END %]
        [% IF sendtovendorpermission == 1 %]
            <input type="button" id="menurelease" onClick="chooseDestinationAction()" value="Send file(s)" name="chooseDestination" class="textbtn"/><BR>
        [% END %]
        [% IF usejobrepository == 1 && ( roleid == 4 || roleid == 3 || roleid == 6 ) %]
            <input type="submit" id="menurepoSendJobs" onClick="return ensureChecked();" value="Send Job(s) to Studio" name="repoSendJobs" class="textbtn" /><BR>
        [% END %]
            <input type="button" value="Send Message" id="sendmessage" class="textbtn"  onClick="showSendMessage();"/><BR>
		[% IF ( roleid == 3 || roleid == 4 || roleid == 6 ) %]
			<input type="button" value="Send to One2Edit" class="textbtn" onClick="one2edit_create_version();"/><br>
		[% END %]
            <input type="button" name="stopwatch" value="Stop Watching" id="stopwatch" class="textbtn"/><BR>
        [% IF isjobassignment %]
             [% IF (roleid == 1 || roleid == 4 || relaxroles == 1) %]
                <input type="button" value="Take Job" id="takejob" name="takejob" class="textbtn" /><BR>
             [% END %]
        [% END %]
            <input type="button" value="Upload" id="upload" class="textbtn"/><BR>
		<input type="button" id="view_index_page" value="View index page" name="view_index_page" class="textbtn" onclick="digital_index_page([% assignee %])"  disabled="disabled" /><BR>
    </ul>
    <input type="hidden" name="action" value="selectVendor" />
</form>

<div id="popupbox" style="display:none">
<h3 style="color:#fff">Message Received</h3>
</div>
<div class="bgoverlay" style="display:none"></div>
[% INCLUDE ecm_html/footer.html %]
