[% INCLUDE ecm_html/header.html %]

<h1>Download Asset(s)</h1>

[% IF errormsg %]
	<h2>[% errormsg %]</h2>
[% ELSE %]
<a href="[% vendordownloadurl %]?action=sendfile&id=[% id %]&vendorId=[% vendorId %]&joblist=[% joblist %]">Click here to download file</a>
[% username %]

[% END %]

[% INCLUDE ecm_html/footer.html %]



