[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Download File(s)</h1>

[% IF error %]
	<h2>[% error %]</h2>
[% ELSE %]
	<div id="downLoad" name="downLoad" style="width:380px; max-width:380px;">
		<h1 style="padding:10px;">Job Asset Download</h1><hr>

		<div style="max-height:500px; height:500px; overflow-y:scroll">
			<br/><span>Click on a link below to download individual assets</span><br/><br/>
			<span>For Job number: [% job_number %]</span><br/><br/>
			[% FOREACH j IN assets %]
				<a href="[% bundle_url %]?asset=[%j.asset%]&bundleid=[%bundle_id%]&rnd_no=[%rnd_no%]&sessionid=[%sessionid%]"> [% j.label %]</a><br><br>	
			[% END %]	
		</div>	
	</div>

	<script>
    	$(document).ready(function() {
			if($("#downLoad").length){
				$("#downLoad").dialog({
					width:400,
					autoOpen: true,
					modal: true,
					buttons: {
						Close: function() { $(this).dialog("close"); }
					},
					draggable: true,
					open: function(event, ui) {
						$(this).siblings('.ui-dialog-titlebar').hide();
						$(this).siblings('.ui-dialog-buttonpane').show();
					},
				});
			}
    	});
	</script>
[% END %]

[% INCLUDE ecm_html/footer.html %]



