[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Edit Operating Company ([% opconame %])</h1>
<br>


[% IF imageworkflow == 1 %]
<!--- Image Work Flow --->

   <div class="container">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Main</li>
            <li class="tab-link" data-tab="tab-2">Image Workflow</li>
        </ul>
        <div id="tab-1" class="tab-content current">
            [% INCLUDE ecm_html/editoperatingcompany_main.html %]
        </div>
        <div id="tab-2" class="tab-content">
            [% INCLUDE ecm_html/editoperatingcompany_image.html %]
        </div>
  </div><!-- container -->

[% ELSE %]

    [% INCLUDE ecm_html/editoperatingcompany_main.html %]
	
[% END %]


[% INCLUDE ecm_html/footer.html %]
