<style>
.advisoryHeader TH{
    font-weight: bold;
	font-size: 15px;
	text-align: left;
	    padding-bottom: 10px;
}
</style>
<div style="float:left">
<div id="tblWrapper" style="height:auto;float:left;">
<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editoperatingcompany" />
	<input type="hidden" name="formPosted" value="yes" />
	<input type="hidden" name="opcoid" value="[% opcoid %]" />
	<input type="hidden" name="opconame" value="[% opconame %]" />
	<input type="hidden" name="ftpserver" value="[% ftpserver %]" />
	<input type="hidden" name="ftpusername" value="[% ftpusername %]" />
	<input type="hidden" name="ftppassword" value="[% ftppassword %]" />
	[% anbu %]

	<table width="100%" cellpadding="0" cellspacing="0">
	[% IF error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">Operating Company updated</td>
	</tr>
	[% ELSE %]
	<tr>
		<td colspan="2" class="error">[% error.opcoid %] [% error.opconame %]</td>
	</tr>	
	[% END %]
	<tr>
		<td>Operating Company</td>
		<td>[% opconame %] ([% opcoid %])</td>
	</tr>
	<tr>
		<td>Twist Root</td>
		<td><input type="text" name="rootpath" value="[% rootpath %]" size="60" /></td>
	</tr>
	<tr>
		<td>WIP Path</td>
		<td><input type="text" name="wippath" value="[% wippath %]" size="60" /></td>
	</tr>
        <tr>
                <td>Mount Path</td>
                <td><input type="text" name="mountpath" value="[% mountpath %]" size="60" /></td>
        </tr>
	<tr>
		<td>Preflight In</td>
		<td><input type="text" name="preflightin" value="[% preflightin %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Passed</td>
		<td><input type="text" name="preflightpassed" value="[% preflightpassed %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Fail</td>
		<td><input type="text" name="preflightfail" value="[% preflightfail %]" size="30" /></td>
	</tr>
	<tr>
		<td>Preflight Warning</td>
		<td><input type="text" name="preflightwarning" value="[% preflightwarning %]" size="30" /></td>
	</tr>
	<!---
        <tr>
		<td>BW</td>
		<td><input type="checkbox" name="bwdef" [% IF bwdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>BW Cropped</td>
		<td><input type="checkbox" name="bwcroppeddef" [% IF bwcroppeddef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Low Res Cropped</td>
		<td><input type="checkbox" name="lowrescroppeddef" [% IF lowrescroppeddef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Low Res</td>
		<td><input type="checkbox" name="lowresdef" [% IF lowresdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Hi Res</td>
		<td><input type="checkbox" name="hiresdef" [% IF hiresdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Proof Only</td>
		<td><input type="checkbox" name="proofonlydef" [% IF proofonlydef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>RGB</td>
		<td><input type="checkbox" name="rgbdef" [% IF rgbdef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>RGB Cropped</td>
		<td><input type="checkbox" name="rgbcroppeddef" [% IF rgbcroppeddef %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>RGB Jpeg</td>
		<td><input type="checkbox" name="rgbjpegdef" [% IF rgbjpegdef %]checked='checked'[% END %] /></td>
	</tr>
        --->
	<tr>
		<td>Colour Managed</td>
		<td>
			<input type="checkbox" name="colourmanagedef" [% IF colourmanagedef %]checked='checked'[% END %] />
			<label for="colourmanage_isactive">Default value:</label>
			<input type="radio" name="colourmanage_isactivedef" value="enabled" [% IF colourmanage_isactivedef %]checked[% END %]>Enabled
			<input type="radio" name="colourmanage_isactivedef" value="disabled" [% IF !colourmanage_isactivedef %]checked[% END %]>Disabled
		</td>
	</tr>
	<tr>
		<td>Optimised</td>
		<td>
			<input type="checkbox" name="optimisedef" [% IF optimisedef %]checked='checked'[% END %] />
			<label for="optimise_isactive">Default value:</label>
			<input type="radio" name="optimise_isactivedef" value="enabled" [% IF optimise_isactivedef %]checked[% END %]>Enabled 
			<input type="radio" name="optimise_isactivedef" value="disabled" [% IF !optimise_isactivedef %]checked[% END %]>Disabled
		</td>
	</tr>
	<tr>
		<td>Filename Config</td>
		<td><input type="text" name="filenameconfig" value="[% filenameconfig %]" size="30" /></td>
	</tr>
	<tr>
		<td>Path type</td>
		<td>
			<select name="pathtype" id="pathtype">
				<option value="1" [% IF pathtype == 1 %]selected="selected"[% END %] >1</option>
				<option value="3" [% IF pathtype == 3 %]selected="selected"[% END %] >3</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Jobfolder Opener Enabled</td>
		<td><input type="checkbox" name="jobfolderenabled" [% IF jobfolderenabled %]checked='checked'[% END %] /></td>
	</tr>
	<tr>
		<td>Preflight Profile</td>
		<td>
			<select name="preflightprofile" id="preflightprofile">
				<option value="-" [% IF preflightprofile == "-" %]selected="selected"[% END %]>[ None ]</option>
				<option value="TAGLONDON" [% IF preflightprofile == "TAGLONDON" %]selected="selected"[% END %]>TAGLONDON</option>
				<option value="WILLIAMSLEA" [% IF preflightprofile == "WILLIAMSLEA" %]selected="selected"[% END %]>WILLIAMSLEA</option>
			</select>
		</td>
	</tr>
	<tr>
		<td>Quality Control Enabled</td>
		<td>
			<input type="checkbox" name="qcenabled" [% IF qcenabled %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Filename Override Enabled</td>
		<td>
			<input type="checkbox" name="filenameoverride" [% IF filenameoverride %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>FTP Enabled</td>
		<td>
			<input type="checkbox" name="ftpenabled" [% IF ftpenabled %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Job Assignment</td>
		<td>
			<input type="checkbox" name="jobassignment" [% IF jobassignment %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>View High Res?</td>
		<td>
			<input type="checkbox" name="viewhighres" [% IF viewhighres %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Enable Creative?</td>
		<td>
			<input type="checkbox" name="creative" [% IF creative %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Job Pool Assign?</td>
		<td>
			<input type="checkbox" name="jobpoolassign" [% IF jobpoolassign %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Publishing?</td>
		<td>
			<input type="checkbox" name="publishing" [% IF publishing %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Domain Name</td>
		<td>
			<input type="text" name="domainname" value="[% domainname %]">
		</td>
	</tr>
	<tr>
		<td>Enable TTP File Upload?</td>
		<td>
			<input type="checkbox" name="ttpupload" [% IF ttpupload %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Remote Temp Folder</td>
		<td>
			<input type="text" name="remotetempfolder" value="[% remotetempfolder %]" size="40">
		</td>
	</tr>
	<tr>
		<td>Remote TTP Folder</td>
		<td>
			<input type="text" name="remotettpfolder" value="[% remotettpfolder %]" size="40">
		</td>
	</tr>
	<tr>
		<td>Use Job Repository?</td>
		<td>
			<input type="checkbox" name="usejobrepository" [% IF usejobrepository %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Use Asset Repository?</td>
		<td>
			<input type="checkbox" name="useassetrepository" [% IF useassetrepository %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Repository Sync On?</td>
		<td>
			<input type="checkbox" name="repositorysync" [% IF repositorysync %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Sync Start (HH:MM)</td>
		<td><input type="text" name="syncstart" size="5" value="[% syncstart %]">&nbsp;(GMT)</td>
	</tr>
	<tr>
		<td>Sync End (HH:MM)</td>
		<td><input type="text" name="syncend" size="5" value="[% syncend %]">&nbsp;(GMT)</td>
	</tr>
	<tr>
		<td>Enable Adgate Delivery?</td>
		<td>
			<input type="checkbox" name="adgatesend" [% IF adgatesend %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Enable Thumbnail View?</td>
		<td>
			<input type="checkbox" name="thumbview" [% IF thumbview %]checked='checked'[% END %]>
		</td>
	</tr>
	<tr>
		<td>Enable Estimate</td>
		<td><input type="checkbox" name="estimateon" [% IF estimateon %]checked='checked'[% END %]></td>
	</tr>
	<tr>
		<td>DEPARTMENTS</td>
		<td>
			[% FOREACH a IN departmentchecklist %]
							[% IF a.id != 0 %] <!-- Default 0 is not required to show in list -->
									[% IF a.checked == 1%]
										<input type="checkbox" id='[% a.name %]' name='[% a.id %]' value=[% a.id %] checked='checked' />
									[% ELSE %]
										<input type="checkbox" id='[% a.name %]' name='[% a.id %]' value=[% a.id %] />
									[% END %]
									<label>[% a.name %]</label><BR>
							[% END %]
			[% END %]
		</td>
	</tr>
    <tr>
        <td>TEAMS</td>
        <td>
            [% FOREACH b IN teamchecklist %]
                            [% IF b.id != 0 %] <!-- Default 0 is not required to show in list -->
                                    [% IF b.checked == 1%]              
                                        <input type="checkbox" id='[% b.name %]' name='[% b.name %]' value=[% b.id %] checked='checked' />
                                    [% ELSE %]                          
                                        <input type="checkbox" id='[% b.name %]' name='[% b.name %]' value=[% b.id %] />
                                    [% END %]                           
                                    <label>[% b.name %]</label><BR>     
                            [% END %]                   
            [% END %]   
        </td>   
    </tr>
	<tr>
        <td>Enable Local File Upload?</td>
        <td>
            <input type="checkbox" name="enablelocalupload" [% IF enablelocalupload %]checked='checked'[% END %]>
        </td>
    </tr>
	<tr>
        <td>Set Local File Upload Source</td>
        <td>
            <input type="text" name="localuploadsource" value="[% localuploadsource %]" size="40">
        </td>
    </tr>
	<tr>
        <td>Set Local File Upload Destination</td>
        <td>
            <input type="text" name="localuploaddestination" value="[% localuploaddestination %]" size="40">
        </td>
    </tr>
	<tr>
		<td></td>
		<td><input type="Submit" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" /></td>
	</tr>
	</table>
</div>

<div id="editAdvisoryColour" class="advisoryHeader" style="clear:both;padding-top:20px;">
	<h2>Advisory Colour Edit</h2>
	<table>
		<tbody>
			<tr>
				<th>Advisory</th><th>Color Palette</th>
			</tr>
			[% FOREACH advisory IN advisorysColourDetails %]
			<tr>
				[% IF advisory.ADVISORYNAME == "-" %]
					<!-- Nothing to do -->	
				[% ELSE %]
					<td id="advisory_[% advisory.ID %]" name="advisory">[% advisory.ADVISORYNAME %]</td>
					<td><input id="advisoryColor[% advisory.ID %]" name="advisoryColor_[% advisory.ID %]" class="jscolor" value="[% advisory.COLOUR %]"></input></td>
					[% IF advisory.FLAG == 1 %]
					<td><input type="checkbox" id="advisoryColorCheckbox_[% advisory.ID %]" name="advisoryColorCheckbox_[% advisory.ID %]" checked="checked"></input></td>
					[% ELSE %]
					<td><input type="checkbox" id="advisoryColorCheckbox_[% advisory.ID %]" name="advisoryColorCheckbox_[% advisory.ID %]"></input></td>
					[% END %]
				[% END %]
				
			</tr>
			[% END %]
		</tbody>
	</table>
	<hr>
</form>
</div>
	
<div id="tblWrapper" style="clear:both;height:auto">
<h1>Vendors Assigned to [% opconame %]</h1>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th>Vendor</th><th>Email</th>
		</tr>
		[% FOREACH v IN vendors %]
		<tr>
			<td>[% v.name %]</td><td>[% v.email %]</td>
		</tr>
		[% END %]
	</table>
</div>


<form  action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editoperatingcompanyvendors" />
	<input type="hidden" name="opcoid" value="[% opcoid %]" />
	<input type="submit" value="Edit" style="margin:10px 0px;"/>
</form>
</div>

