[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Edit Outsource Destination</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editoutsource" />
	<input type="hidden" name="formPosted" value="yes" />
	<input type="hidden" name="srcopcoid" value="[% srcopcoid %]" />
	<input type="hidden" name="dstopcoid" value="[% dstopcoid %]" />
	<table style="width:600px;"> 
	[% IF error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">Outsource destination updated</td>
	</tr>
	[% END %]
	<tr>
		<td>Source Operating Company</td>
		<td>
			[% srcopconame %]
		</td>
	</tr>
	<tr>
		<td>Destination Operating Company</td>
		<td>
			[% dstopconame %]
		</td>
	</tr>
	[% IF error.dstopco.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.dstopco %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>TTP Folder</td>
		<td>
			<input type="text" name="ttpfolder" id="ttpfolder" value="[% ttpfolder %]" size="50" />
		</td>
	</tr>
	[% IF error.ttpfolder.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.ttpfolder %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Update Outsource Destination" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

