[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Edit Customer FTP for [% customerName %]</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editcustomerftp" />
	<input type="hidden" name="ftpid" value="[% ftpid %]" />
	<input type="hidden" name="formPosted" value="yes" />
	<table border="1">
	[% IF error.oktogo == 1 && message.length %]
	<tr>
		<td colspan="2" class="updated">[% message %]</td>
	</tr>
	[% END %]
	<tr>
		<td>Label  [% formPosted %] [% error.oktogo %]</td>
		<td>
			<input type="text" name="label" id="label" size="50" value="[% label %]">
		</td>
	</tr>
	[% IF error.label.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.label %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>FTP Path level 1</td>
		<td><input type="text" name="level1" id="level1" size="40" value="[% level1 %]" ></td>
	</tr>
	[% IF error.level1.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.level1 %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>FTP Path level 2</td>
		<td><input type="text" name="level2" id="level2" size="40" value="[% level2 %]" ></td>
	</tr>
	<tr>
		<td>FTP Path level 3</td>
		<td><input type="text" name="level3" id="level3" size="40" value="[% level3 %]" ></td>
	</tr>
	<tr>
		<td>Username</td>
		<td><input type="text" name="username" id="username" size="20" value="[% username %]" ></td>
	</tr>
	[% IF error.username.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.username %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Password</td>
		<td><input type="text" name="password" id="password" size="20" value="[% password %]" ></td>
	</tr>
	[% IF error.password.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.password %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Domain/IP Address</td>
		<td><input type="text" name="domainname" id="domainname" size="40" value="[% domainname %]" ></td>
	</tr>
	[% IF error.domainname.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.domainname %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Update Customer FTP" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>


[% INCLUDE ecm_html/footer.html %]

