[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Edit Company</h1>
<br>


<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editcompany">
	<input type="hidden" name="formPosted" value="yes">
	<input type="hidden" name="id" value="[% id %]">
	<input type="hidden" name="name" value="[% name %]">
	
	<table>
	<tr>
		<td>Company</td>
		<td>[% name %]</td>
	</tr>
	<tr>
		<td>Type</td>
		<td>
			<select name="typeid">
				[% FOREACH t IN companyTypes %]
				<option value="[% t.id %]" [% IF t.id == typeid %]selected='selected'[% END %]>[% t.type %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	<tr>
		<td>Address 1</td>
		<td><input type="text" name="address1" value="[% address1 %]" size="45"></td>
	</tr>
	[% IF error.address1.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.address1 %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Address 2</td>
		<td><input type="text" name="address2" value="[% address2 %]" size="45"></td>
	</tr>
	[% IF error.address2.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.address2 %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Town / City</td>
		<td><input type="text" name="towncity" value="[% towncity %]" size="30"></td>
	</tr>
	[% IF error.towncity.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.towncity %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Postcode</td>
		<td><input type="text" name="postcode" value="[% postcode %]" size="30"></td>
	</tr>
	[% IF error.postcode.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.postcode %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Tel num</td>
		<td><input type="text" name="telnum" value="[% telnum %]" size="30"></td>
	</tr>
	[% IF error.telnum.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.telnum %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td><input type="Submit" value="Update"></td>
	</tr>
	</table>
	</form>
</div>


[% INCLUDE ecm_html/footer.html %]

