[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<script>
    $(function(){
      // bind change event to select
      $('#dynamic_select').bind('change', function () {
          var opcoid = $(this).val(); // get selected value
          if (opcoid) { // require operating company id
              window.location.href = "jobflow.pl?action=opcoadmincmd&opcoid=" + opcoid; // redirect
          }
          return false;
      });
    });
</script>


<style type="text/css">
label{
float: left;
width: 200px;
}

input[type="text"]{
width: 400px;
margin-bottom: 5px;
}

br{
clear: left;
}
</style>

<div style="padding-left:10px;">
<h1>Edit CMD Operating Company</h1> 
	<select id="dynamic_select">
	  [% FOREACH opco IN opcos %]
	  <option value="[% opco.opcoid %]">[% opco.opconame %]</option>
	  [% END %]
	</select>

	<form method="POST" action="[% coldfusionserver %]/tagcmd/Tracker/excel/accounts_reports/Batch/OpcoAdminServiceUpdate.cfm">
		<input type="hidden" name="opCoID" value="[% opCoID %]" />
		<input type="hidden" name="opCustID" value="[% opCustID %]" />
		<input type="hidden" name="opName" value="[% opName %]" />

		<div id="tblWrapper">
			<h1>[% opName %]</h1>
			<br>
			
			<label for="opType">Opco Type</label>
			<input type="text" name="opType" value="[% opType %]" /><br />

			<label for="opServer">Production Server</label>
			<input type="text" name="opServer" value="[% opServer %]" /><br />
			
			<label for="opType">Opco Type</label>
			<input type="text" name="opType" value="[% opType %]" /><br />

			<label for="opMBRoot">Media Bar Root</label>
			<input type="text" name="opMBRoot" value="[% opMBRoot %]" /><br />

			<label for="opMBTemplate">Media Bar Template</label>
			<input type="text" name="opMBTemplate" value="[% opMBTemplate %]" /><br />

			<label for="opArchiveRoot">Archive Root</label>
			<input type="text" name="opArchiveRoot" value="[% opArchiveRoot %]" /><br />

			<label for="opDaysRetainedBeforeArchive">Days Retained Before Archive</label>
			<input type="text" name="opDaysRetainedBeforeArchive" value="[% opDaysRetainedBeforeArchive %]" /><br />

			<label for="opManifestPathExport">Manifest Path Export</label>
			<input type="text" name="opManifestPathExport" value="[% opManifestPathExport %]" /><br />

			<label for="opManifestPathImport">Manifest Path Import</label>
			<input type="text" name="opManifestPathImport" value="[% opManifestPathImport %]" /><br />

			<label for="opArchiveRestoreEmail">Archive Restore Email</label>
			<input type="text" name="opArchiveRestoreEmail" value="[% opArchiveRestoreEmail %]" /><br />

			<label for="opArchiveServer">Archive Server</label>
			<input type="text" name="opArchiveServer" value="[% opArchiveServer %]" /><br />

			<label for="opArchiveRestorePath">Archive Restore Path</label>
			<input type="text" name="opArchiveRestorePath" value="[% opArchiveRestorePath %]" /><br />

			<label for="opPdfWorkFlowSettings">PDF WorkFlow Settings</label>
			<input type="text" name="opPdfWorkFlowSettings" value="[% opPdfWorkFlowSettings %]" readonly /><br />

			<label for="opArchiveRestorePath">Archive Restore Path</label>
			<input type="text" name="opArchiveRestorePath" value="[% opArchiveRestorePath %]" /><br />

			<label for="opPdfWorkFlowSettings">PDF WorkFlow Settings</label>
			<input type="text" name="opPdfWorkFlowSettings" value="[% opPdfWorkFlowSettings %]" readonly /><br />

			<input type="submit" name="update" id="update" value="Update" />
		</div>
	</form>
</div>
[% INCLUDE ecm_html/footer.html %]
