[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Edit News</h1>
<br>
<br>
<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editnews" />
	<input type="hidden" name="formPosted" value="yes" />
	<input type="hidden" name="id" value="[% id %]" />
	<table border="1">
	[% IF formPosted == "yes" && error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">News Updated</td>
	</tr>
	[% END %]
	<tr>
		<td>Subject</td>
		<td>
			<input type="text" name="subject" id="subject" size="100" value="[% subject %]">
		</td>
	</tr>
	[% IF error.subject.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.subject %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td valign="top">Content</td>
		<td>
			<textarea name="content" id="content" rows="5" cols="100">[% content %]</textarea>
		</td>
	</tr>
	[% IF error.newsitem.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.newsitem %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Update News" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>


[% INCLUDE ecm_html/footer.html %]

