[% INCLUDE ecm_html/header.html %]


<h1>Edit User</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="edituser" />
	<input type="hidden" name="formPosted" value="yes" />
	<input type="hidden" name="id" value="[% userid %]" />
	<input type="hidden" name="username" value="[% username %]" />
	<table style="width:600px;"> 
	[% IF error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">User updated</td>
	</tr>
	[% END %]
	<tr>
		<td>Username</td>
		<td>[% username %]</td>
	</tr>
	<tr>
		<td>Operating Company</td>
		<td>
			<select name="opcoid">
				<option value="0" [% IF opcoid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH o IN opcos %]
				<option value="[% o.opcoid %]" [% IF opcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	<tr>
		<td>Company (Vendor) [% companyid %]</td>
		<td>
			<select name="companyid">
				<option value="0" [% IF companyid == 0 %]selected='selected'[% END %] >[ None ]</option>
				[% FOREACH c IN companies %]
				<option value="[% c.id %]" [% IF companyid == c.id %]selected='selected'[% END %] >[% c.name %]</option>
				[% END %]
			</select>
		</td>
	</tr>
	<tr>
		<td>Firstname</td>
		<td>
			<input type="text" name="fname" id="fname" value="[% fname %]" />
		</td>
	</tr>
	[% IF error.fname.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.fname %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Lastname</td>
		<td>
			<input type="text" name="lname" id="lname" value="[% lname %]" />
		</td>
	</tr>
	[% IF error.lname.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.lname %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Password</td>
		<td>
			<input type="password" name="password" id="password" />
		</td>
	</tr>
	[% IF error.password.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.password %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Email</td>
		<td>
			<input type="text" name="email" id="email" value="[% email %]" size="50" />
		</td>
	</tr>
	[% IF error.email.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.email %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Employeeid</td>
		<td>
			<input type="text" name="employeeid" id="employeeid" value="[% employeeid %]" size="50" />
		</td>
	</tr>
	<tr>
		<td>Role</td>
		<td>
			<SELECT NAME="roleid">	
			[% FOREACH r IN roles %]
			<option value="[% r.id %]" [% IF roleid == r.id %]selected='selected'[% END %] >[% r.role %]</option>
			[% END %]
			</SELECT>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Update User" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

