[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<h1>Edit Customer [% customerName %]</h1>
<div style="float:left;width:80%">
	<form action="jobflow.pl" method="post" ENCTYPE="multipart/form-data">
		<input type="hidden" name="action" value="editcustomer" />
		<input type="hidden" name="id" value="[% id %]" />
		<input type="hidden" name="formPosted" value="yes" />
		<div id="tblWrapper" style="float:left">
			<table >
			<tr>
				<td>Filename</td>
				<td><input type="text" name="filename" size="50" value="[% filename %]">
			</tr>
			[% SET x = 1 %]
			[% FOREACH add IN addresses %]
			<tr>
				<td>Address: [% x %]</td>
				<td><input type="text" name="address[% x %]" value="[% add %]" size="50"></td>
			</tr>
			[% SET x = x + 1 %]
			[% END %]
			[% WHILE x <= 10 %]
			<tr>
				<td>Address: [% x %]</td>
				<td><input type="text" name="address[% x %]" value="" size="50">(Ex : test@123.com)</td>
			</tr>
			[% SET x = x + 1 %]
			[% END %]
			<tr>
				<td>Job Pool Assign?</td>
				<td><input type="checkbox" name="jobpoolassign" [% IF jobpoolassign == 1 %]checked='checked'[% END %]></td>
			</tr>
			<tr>
				<td>Autocheckin?</td>
				<td><input type="checkbox" name="autocheckin" [% IF autocheckin == 1 %]checked='checked'[% END %]></td>
			</tr>
			<tr>
				<td>Agency ref as filename?</td>
				<td><input type="checkbox" name="useagencyrefasfilename" [% IF useagencyrefasfilename == 1 %]checked='checked'[% END %]></td>
			</tr>
			<tr>
				<td>Use Job Repository?</td>
				<td>
					<input type="checkbox" name="usejobrepository" [% IF usejobrepository %]checked='checked'[% END %]>
				</td>
			</tr>
                        <tr>
                                <td>Repo Auto-Archive?</td>
                                <td>
                                        <input type="checkbox" name="repoautoarchive" [% IF repoautoarchive %]checked='checked'[% END %]>
                                </td>
                        </tr>
			<tr>
				<td>Use Asset Repository?</td>
				<td>
					<input type="checkbox" name="useassetrepository" [% IF useassetrepository %]checked='checked'[% END %]>
				</td>
			</tr>
			<tr>
				<td>Repository Sync On?</td>
				<td>
					<input type="checkbox" name="repositorysync" [% IF repositorysync %]checked='checked'[% END %]>
				</td>
			</tr>
			<tr>
				<td>Sync Start (HH:MM) </td>
				<td><input type="text" name="syncstart" size="5" value="[% syncstart %]">&nbsp;(GMT)</td>
			</tr>
			<tr>
				<td>Sync End (HH:MM) </td>
				<td><input type="text" name="syncend" size="5" value="[% syncend %]">&nbsp;(GMT)</td>
			</tr>
			<tr>
				<td>Enhanced FTP Release</td>
				<td>
					<input type="checkbox" name="enhancedftp" [% IF enhancedftp %]checked='checked'[% END %]>
				</td>
			</tr>
		<!-- PD-3502 This dropdown has been removed because we are removing estimation. For estimation only we need this dropdown
			<tr>
				<td>Media Types</td>
				<td>
					<SELECT id="mediaselectid" name="mediaid" onChange="updatemediaestimation([% opcoid %], [%id%])">
						[% FOREACH media IN mediatypes %]
							[% IF mediaid == media.mediaid %]
								<OPTION value="[% media.mediaid %]" selected>[% media.medianame %]</OPTION>
							[% ELSE %]
								<OPTION value="[% media.mediaid %]">[% media.medianame %]</OPTION>
							[% END %]
						[% END %]
					</SELECT>
				</td>
			</tr>
			<tr>
				<td>Default Estimate (hours) </td>
				<td><input type="text" id="estimatetxt" name="estimate" size="5" value="[% estimate %]">&nbsp;(hours e.g. 0.5)</td>
			</tr>
			<tr>
				<td>Enable Estimate</td>
				<td><input type="checkbox" name="estimateon" [% IF estimateon %]checked='checked'[% END %]></td>
			</tr>
		-->
			<tr>
				<td>Enable PDF Compare?</td>
				<td><input type="checkbox" name="pdfcomparedef" [% IF pdfcomparedef %]checked='checked'[% END %]></td>
			</tr>
			<tr>
				<td>Enable ES Compare?</td>
				<td><input type="checkbox" name="es_compare" [% IF es_compare %]checked='checked'[% END %]></td>
			</tr>
			<tr>
				<td>Disable Preflight Check before send?</td>
				<td><input type="checkbox" name="pfc_disable" [% IF pfc_disable %]checked='checked'[% END %]></td>
			</tr>
			<tr>
                <td>Enable Products?</td>
                <td><input type="checkbox" name="enableproducts" [% IF enableproducts %]checked='checked'[% END %]></td>
            </tr>
			<tr>
                <td>Enable One2Edit?</td>
                <td><input type="checkbox" name="enable_one2edit" [% IF enable_one2edit %]checked='checked'[% END %]></td>
            </tr>
            <tr>
                <td>Enable Delete comments?</td>
                <td><input type="checkbox" name="enabledelete" [% IF enabledelete %]checked='checked'[% END %]></td>
            </tr>
			<tr>
				<td>Document Upload Limit</td>
				<td>
					<select id="docSizeLimit" name="documentmaxsize" class="docsize">
					[% FOREACH size IN  maxdocsizes %]
						[% IF documentmaxsize == size.docmaxsize %]
							<option selected>[% size.docmaxsize %]</option>
						[%ELSE%]
							<option>[% size.docmaxsize %]</option>
						[% END %]
					[% END %]
					</select>&nbsp;(MB)
				</td>
			</tr>
			<tr>
				<td>Digital Upload Limit</td>
                <td>
                    <select id="digitalUploadSizeLimit" name="digitalUploadSizeLimit" class="digitalSizeSelect">
                    [% FOREACH digitalSize IN  digitalSizeList %]
                        [% IF currDigitalAssetMaxSize == digitalSize.size_range %]
                            <option selected>[% digitalSize.size_range %]</option>
                        [%ELSE%]
                            <option>[% digitalSize.size_range %]</option>
                        [% END %]
                    [% END %]
                    </select>&nbsp;(MB)
                </td>
             </tr>
			<tr>
				<td>Customer Logo</td>
				<td><input type="file" id="customerlogo" name="customerlogo" value="Upload" accept="image/*"> [% customerlogo_name %] &nbsp; <span style="float:right; margin-top:9px"> [% logouploadlog %]  </td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Update Customer" id="updateCustomer"></td>
			</tr>
			</table>
		</div>
		
		<!-- table for file types -->
		<div id="filetypes" style="float:left;margin-left:50px;">
			

			<h2>Default Format Settings</h2>
				<table>
				<tr>
					<td>BW</td>
					<td><input type="checkbox" name="bwdef" [% IF bwdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>BW CROPPED</td>
					<td><input type="checkbox" name="bwcroppeddef" [% IF bwcroppeddef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>LOW RES CROPPED</td>
					<td><input type="checkbox" name="lowrescroppeddef" [% IF lowrescroppeddef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>LOW RES</td>
					<td><input type="checkbox" name="lowresdef" [% IF lowresdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>HI RES</td>
					<td><input type="checkbox" name="hiresdef" [% IF hiresdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>PROOF ONLY</td>
					<td><input type="checkbox" name="proofonlydef" [% IF proofonlydef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>RGB</td>
					<td><input type="checkbox" name="rgbdef" [% IF rgbdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>RGB CROPPED</td>
					<td><input type="checkbox" name="rgbcroppeddef" [% IF rgbcroppeddef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>RGB JPEG</td>
					<td><input type="checkbox" name="rgbjpegdef" [% IF rgbjpegdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>HI RES CROPPED BLEEDBOX</td>
					<td><input type="checkbox" name="hirescroppedbleedboxdef" [% IF hirescroppedbleedboxdef %]checked='checked'[% END %] /></td>
				</tr>
				<tr>
					<td>HI RES CROPPED TRIMBOX</td>
					<td><input type="checkbox" name="hirescroppedtrimboxdef" [% IF hirescroppedtrimboxdef %]checked='checked'[% END %] /></td>
				</tr>
			</table>
			
           <hr/>
		<h2>Alternative File Releases</h2>	
			<table>
				<tr>
					<td>Enable additional file types?</td>
					<td><input type="checkbox" name="additionalfiletypes" [% IF additionalfiletypes == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>BW PDF</td>
					<td><input type="checkbox" name="bw_asset" [% IF bw_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>CROPPED BW PDF</td>
					<td><input type="checkbox" name="bw_crp_asset" [% IF bw_crp_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>LOW RES PDF</td>
					<td><input type="checkbox" name="lr_asset" [% IF lr_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>CROPPED LOW RES PDF</td>
					<td><input type="checkbox" name="lr_crp_asset" [% IF lr_crp_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>RGB PDF</td>
					<td><input type="checkbox" name="rgb_asset" [% IF rgb_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>CROPPED RGB PDF</td>
					<td><input type="checkbox" name="rgb_crp_asset" [% IF rgb_crp_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>RGB JPG</td>
					<td><input type="checkbox" name="rgb_jpg_asset" [% IF rgb_jpg_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>HI RES CROPPED BLEEDBOX</td>
					<td><input type="checkbox" name="hires_crp_bleedbox_asset" [% IF hires_crp_bleedbox_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>HI RES CROPPED TRIMBOX</td>
					<td><input type="checkbox" name="hires_crp_trimbox_asset" [% IF hires_crp_trimbox_asset == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>ALTERNATIVE FILE FORMATS</td>
					<td><input type="checkbox" name="aux_files" [% IF aux_files == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>SPLIT PAGES</td>
					<td><input type="checkbox" name="split_pages" [% IF split_pages == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>JOB ASSETS</td>
					<td><input type="checkbox" name="open_assets" [% IF open_assets == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>HIGH RES ALSO REQUIRED</td>
					<td><input type="checkbox" name="high_res" [% IF high_res == 1 %]checked='checked'[% END %]></td>
				</tr>
				<tr>
					<td>MULTIPLE FILES</td>
					<td><input type="checkbox" name="zip_dir" [% IF zip_dir == 1 %]checked='checked'[% END %]></td>
				</tr>

			</table>
		</div>
	</form>
<br>
<br>
<br>
<div style="clear:both;float:left;margin:30px 0px;">
[ <a href="jobflow.pl?action=addcustomerftp&customerid=[% id %]">Add FTP</a>]
</div>
<br>
<br>
<div style="clear:both"></div>
<div id="tblWrapper">
<table>
<tr>
	<th>Label</th>
	<th>Level 1</th>
	<th>Username</th>
	<th>Domain Name</th>
	<th>Edit</th>
</tr>
[% FOREACH ftp IN customerftps %]
<tr>
	<td>[% ftp.label %]</td>
	<td>[% ftp.level1 %]</td>
	<td>[% ftp.username %]</td>
	<td>[% ftp.domainname %]</td>
	<td><a href="jobflow.pl?action=editcustomerftp&ftpid=[% ftp.id %]">Edit</a></td>
</tr>
[% END %]
</table>
</div>


<div id="customerUsers">
[ <a href="jobflow.pl?action=addcustomeruser&customerid=[% id %]">Add User(s) to customer</a> | <a href="jobflow.pl?action=removecustomeruser&customerid=[% id %]">Remove User(s) from customer</a> ]
</div>
<h2>Existing Users:</h2>
<div id="existingUsers" style="float:left;padding:10px;">
[% FOREACH u IN	 customerusers %]
	<div class="usersmall" style="float:left;width:100px;height:20px;border:1px solid #ccc; padding:5px;margin:5px;">[% u.username %] ([% u.userid %]) </div>
[% END %]
</div>
</div>
[% INCLUDE ecm_html/footer.html %]

