[% SET extra_css = [ "ecmstyles", "ajaxpopup", "listusers" ] %]
[% INCLUDE ecm_html/header.html %]


<style type="text/css">
body {
    	background: #fff;
}
div {
    	background: #fff;
}
.highlighted {
    	background: #0066cc;
    	color: #ffffff;
}
/* buttons */
input[type=submit] {
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius:5px;
	margin:3px;
}
form label { 
	width:150px;
	display: inline-block;
	line-height:25px;
	text-align: left;
	border: 0px solid blue;
	float:left;
} 

form .inputtext {
	margin-top:5px;
	margin-bottom:5px;
	border: 1px solid #ccc;
	border-radius:3px;
	width:225px;
}
.horzline {
	border-bottom: 1px solid #ccc;
	width:80%;
	margin:20px;
}
/* buttons */
input[type=button] {
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	background-color: #006dcc;
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius:5px;
	margin:3px;
}
</style>
<script type="text/javascript" src="js/settings.js"></script>

<h1>Edit Settings</h1>
<br>
<br>

<div id="settingsDialog" title="Settings">
	<form id="settings" method="post" action="jobflow.pl">
	<input type="hidden" name="userid" id="userid" value="[% userid %]">
	<input type="hidden" name="action" value="changeroleid">
	<input type="hidden" name="home" id="home" value="[% applicationurl %]">
	  <fieldset>
		<div class="inputholder">
			<label>First Name</label>
			<input type='text' name='fname' id='fname' size='30' class="inputtext" readonly="readonly" value="[% fname %]">
		</div>
		<div class="inputholder">
			<label>Last Name</label>
			<input type='text' name='lname' id='lname' size='30' class="inputtext" readonly="readonly" value="[% lname %]">
		</div>
	  <div class="horzline"></div>
		<div class="inputholder">
			<labeL>Operating Company</label>
			<select name="newopcoid" id="newopcoid" [% IF useropcos.size == 0 %]disabled='disabled'[% END %]>
				[% FOREACH o IN useropcos %]
					<option value="[% o.opcoid %]" [% IF currentopcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
				[% END %]
			</select>
		</div>
	  </fieldset>
	  <div class="horzline"></div>
	  <fieldset>
		<div class="inputholder">
		<label>Role</label>
		    <select id="newroleid" name="newroleid">
			[% FOREACH role IN useropcoroles %]
			<option value='[% role.roleid %]' [% IF currentroleid == role.roleid %]selected='selected'[% END %]>[% role.role %]</option>
			[% END %]
		    </select>
		</div>
	  </fieldset>
	  <fieldset>
	  <div class="horzline"></div>
		<div class="inputholder">
			<input type="submit" id="change" value="Change" onclick="lhn_clearlocalstorage()">
		</div>
		<div id="feedback">
			[% IF ( useropcoroles.length == 0 ) OR ( useropcoroles.length == 1 AND useropcoroles.0.rolename == '' )  %]
			<span class="error">No roles defined for this operating company</span>
			[% END %]
		</div>
	  </fieldset>
	  </form>
</div>

[% INCLUDE ecm_html/footer.html %]

