[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Edit Report</h1>


<div id="tblWrapper">
<form action="jobflow.pl" method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="editreport" />
	<input type="hidden" name="formposted" value="yes" />
	<input type="hidden" name="reportid" value="[% reportid %]" />
	<table border="1"> 
	<tr>
		<td>Title</td>
		<td>
			<input type="text" name="title" value="[% title %]">
		</td>
	</tr>
	[% IF error.title.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.title %]
		</td>
	</tr>
	[% END %]
	
	[% IF images.size %]
	<tr>
		<td colspan="2"><h3>Images</h3></td>
		</tr>
		[% IF error.firsttime.length %]
		<tr>
			<td colspan="2" class="error">
				[% error.firsttime %]
			</td>
		</tr>
		[% END %]
	[% END %]
	
	[% FOREACH i IN images %]
	<tr>
		<td>Associate Image:</td>
		<td>
			<input type="file" name="[% i.name %]" /><br><br>
			Original filename: '[% i.shortpath %]'
		</td>
	</tr>
	[% END %]
	<tr>
		<td>Export formats:</td>
		<td>
			<input type="checkbox" name="pdfexport" id="pdfexport" disabled="disabled" checked="checked"><label for="pdfexport">PDF</label><br>
			<input type="checkbox" name="xmlexport" id="xmlexport" [% IF xmlexport %]checked="checked"[% END %]><label for="xmlexport">XML</label><br>
			<input type="checkbox" name="xlsxexport" id="xlsxexport" [% IF xlsxexport %]checked="checked"[% END %]><label for="xlsxexport">XLS (Excel)</label><br>
			<input type="checkbox" name="xlsexport" id="xlsexport" [% IF xlsexport %]checked="checked"[% END %]><label for="xlsexport">XLS (Legacy Excel)</label><br>
			<input type="checkbox" name="htmexport" id="htmexport" [% IF htmexport %]checked="checked"[% END %]><label for="htmexport">HTML</label><br>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Edit" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

