[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Edit Operating Company Vendors</h1>
<br>

<form action="jobflow.pl" method="post">
<input type="hidden" name="opcoid" value="[% opcoid %]">
<input type="hidden" name="formPosted" value="yes">
<input type="hidden" name="action" value="editoperatingcompanyvendors">
[% IF formPosted == "yes" %]
<table>
<tr>
	<td class="updated">Vendors updated for Operating Company</td>
</tr>
</table>
<br><br>
[% END%]

<div id="editopcovendors">
[% FOREACH v IN vendors %]
<div>
<input type="checkbox" value="[% v.id %]" [% IF selectedVendors.exists(v.id) %]checked='checked'[% END %] name="companyid" >[% v.name %]
</div>
[% END %]
<input type="submit" value="Update" id="updateopcovendor">
</div>
</form>

[% INCLUDE ecm_html/footer.html %]


