<div id="tblWrapper">


<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="editimageworkflow" />
	<input type="hidden" name="tabFormPosted" value="yes" />
	<input type="hidden" name="opcoid" value="[% opcoid %]" />
	
<table width="100%" cellpadding="0" cellspacing="0">
    
	[% IF error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">Operating Company updated</td>
	</tr>
	[% ELSE %]
	<tr>
		<td colspan="2" class="error">[% error.opcoid %] [% error.opconame %]</td>
	</tr>	
	[% END %]
	
    <tr>
		<td>Booking Form</td>
		<td><input type="checkbox" name="bookingform" [% IF bookingform %]checked='checked'[% END %]></td>
	</tr>
	<tr>
		<td>Image Ingestion (Host)</td>
		<td><input type="text" name="ingestionhost" size="30" value="[% ingestionhost %]"></td>
	</tr>
	<tr>
		<td>Image Ingestion (Path)</td>
		<td><input type="text" name="ingestionpath" size="60" value="[% ingestionpath %]"></td>
	</tr>
	<tr>
		<td>Image Ingestion (Protocol)</td>
		<td><input type="text" name="ingestionprotocol" size="10" value="[% ingestionprotocol %]"></td>
	</tr>
	<tr>
		<td>Image Ingestion (username)</td>
		<td><input type="text" name="ingestionusername" size="60" value="[% ingestionusername %]"></td>
	</tr>
	<tr>
		<td>Image Ingestion (password)</td>
		<td><input type="text" name="ingestionpassword" size="60" value="[% ingestionpassword %]"></td>
	</tr>
	<tr>
		<td>XMP Creation (Path)</td>
		<td><input type="text" name="xmppath" size="60" value="[% xmppath %]"></td>
	</tr>
	<tr>
		<td>Temp File Upload (Path)</td>
		<td><input type="text" name="tmppath" size="60" value="[% tmppath %]"></td>
	</tr>
		<tr>
		<td>Batchserver</td>
		<td><input type="text" name="batchserver" size="60" value="[% batchserver %]"></td>
	</tr>
	<tr>
        <td>Complete Job (Masters and Sync)</td>
        <td><input type="checkbox" name="Mastersync" [% IF Mastersync %]checked='checked'[% END %]></td>
    </tr>
	<tr>
        <td>Complete Job (Auto-checkin)</td>
        <td><input type="checkbox" name="Autocheckin" [% IF Autocheckin %]checked='checked'[% END %]></td>
    </tr>
    <tr>
        <td>Auto-checkout</td>
        <td><input type="checkbox" name="Autocheckout" [% IF Autocheckout %]checked='checked'[% END %]></td>
    </tr>
    <tr>
        <td>Auto-checkouttime</td>
	<td>
		<select name = "Autocheckouttime">
			<option value="0" [% IF Autocheckouttime == "0" %]selected="selected"[% END %] >0.00</option>
			<option value="0.00" [% IF Autocheckouttime == "0" %]selected="selected"[% END %] >0.00</option>
			<option value="4.00" [% IF Autocheckouttime == "4" %]selected="selected"[% END %] >4.00</option>
			<option value="8.00" [% IF Autocheckouttime == "8" %]selected="selected"[% END %] >8.00</option>
			<option value="12.00" [% IF Autocheckouttime == "12" %]selected="selected"[% END %] >12.00</option>
			<option value="16.00" [% IF Autocheckouttime == "16" %]selected="selected"[% END %] >16.00</option>
			<option value="20.00" [% IF Autocheckouttime == "20" %]selected="selected"[% END %] >20.00</option>
			<option value="23.59" [% IF Autocheckouttime == "23" %]selected="selected"[% END %] >23.59</option>
		</select>
	</td>
    </tr>
    <tr>
        <td>Auto-checkout OPCOID</td>
        <td>
                <select name="AutocheckoutOPCOID">
                        [% FOREACH op IN opcos %]
                        	<option value="[% op.opcoid %]" [% IF op.opcoid == AutocheckoutOPCOID %]selected='selected'[% END %]>[% op.opconame %]</option>
                        [% END %]
                </select>
        </td>

    </tr>
</table>	

<input type="Submit" value="Update" />

</form>	
	
</div>
