
<!-- email_notifications.html, included by send_by_email.html, send_by_publication.html -->

<div id="notificationOptions" style="border-style:dotted;border-width:1px;padding:5px; margin:5px;">
	<h3>Notification Options</h3><br>Include custom message with e-mail (optional):<br>
	<textarea name="custommessage" rows="8" cols="40" >[% custommessage %]</textarea>
	<br><br>Also notify:<br><br>
	<div id="tblWrapper">
		<table>
			<tr>
				<th>Select</th><th>Email</th>
			</tr>
[% FOREACH r IN recipients %]
			<tr>
				<td><input type="checkbox" name="recipient" value="[% r.id %]"></td><td>[% r.email %]</td>
			</tr>
[% END %]
		</table>
	</div>
</div>

