<div id="compareESDialog" title="Select Job versions to compare" style="display: none;" >
	<div id="esCompareJobList"></div> 
	<hr/> 
	<div id="esCompareOtherJob">
		<label for="otherjobno">Other Job Number: </label>
		<input type="text" id="otherjobno" />
		<button onclick="otherESJob()">Search</button>
	</div>
	<hr/>
	<div id="esCompareStatus"></div>
	<div id="esLaunch"></div>
</div>

<div id="wait-for-dialog-viewer" title="Wait for Dalim ES dialog viewer?" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
    </span>The Dalim ES Dialog Viewer is open, close the viewer when finished or click Cancel to stop waiting</p>
</div>

<div id="VersionsESDialog" title="Select Job version comparison to view" style="display: none;" >
	<div id="esCompareVersionsList"></div> 
</div>

<div id="ComparisonExistsESDialog" title="Selected comparison already exists" style="display: none;" >
	<div id="esCompareExistsDetails"></div> 
</div>

