
	<!-- file_name_overrides.html -->
	<div id="filenameOptions" style="[% IF filenameoverride == 0 %]display:none;[% END %]">
	<table>
		<thead>
			<tr>
				<th class="jobnumberHeader">Job Number</th>
				<th class="filenameHeader">Filename</th>
				<th class="renameHeader">Rename</th>
			</tr>
		</thead>
		<tbody>
			[% FOREACH j IN jobs %]
			<tr>
				<td class="jobnumberField">[% j %]</td>
				<td class="filenameField">[% filenames.$j %]</td>
				<td><input type="text" class="validate renameField" name="overridefn_[% j %]" size="60" value="[% fn_overrides.$j %]"></td>
				<input type="hidden" name="fn_[% j %]" value="[% filenames.$j %]">
			</tr>
			[% END %]		
		</tbody>
	</table>
		[% FOREACH e IN filenameerror %]
			<div class="error" >[% e %]</div>
		[% END %]
		[% IF filenameoverride == 0 %](filename override not available)
		[% ELSE %]
			<div class="filenameChars" >
				<span>Hint: Use A to Z, underscores and 0 to 9</span>
			</div>
		[% END %]
	</div>
	
