[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="tblWrapper">
	<br><br>
	<a href="jobflow.pl?action=fixJobs">REFRESH</a>
	<br><br>
	<form action="jobflow.pl" method="post">
		<button name="action" value="retryjob">Retry Checkin/checkout</button>
		<button name="action" value="fixrepojob">Set to in Repo</button>
		<button name="action" value="resetrepojob">Completely Reset Job(s)</button><br>
		<table>
			<tr>
				<th><input type="checkbox" disabled="disabled"></th>
				<th>Job Number</th>
				<th>Status</th>
				<th>Current Location</th>
			</tr>
		
			[% FOREACH job IN jobs %]
				<tr>
					<td><input type="checkbox" name="jobid[]" value="[% job.job_number %]">
					<td>[% job.job_number %]</td>
					<td>[% IF job.checkoutstatus == 1 %]Checking out to[% ELSIF job.checkoutstatus == 3 %]Checking in from[% END %]</td>
					<td>[% job.location.opconame %] ([% job.location.opcoid %])</td>
					<td>
						[% IF job.location.opcoid == 15 OR job.location.opcoid == 16 %]
						[% ELSE %]
							[% IF job.checkoutstatus == 1 %]
							<a href="jobflow.pl?action=retryjob&jobid=[% job.job_number %]">Retry Checkout</a>
							[% ELSIF job.checkoutstatus == 3 %]
							<a href="jobflow.pl?action=retryjob&jobid=[% job.job_number %]">Retry Checkin</a>
							[% END %]
						[% END %]
					</td>
					<td><a href="jobflow.pl?action=fixrepojob&jobid=[% job.job_number %]">Set to in Repo</a></td>
					<td><a href="jobflow.pl?action=resetrepojob&jobid=[% job.job_number %]">Completely reset job</a></td>
				</tr>
			[% END %]
		</table>
	</form>
</div>


</div>
[% INCLUDE ecm_html/footer.html %]

