[% # Including joblist for the button styling bc I don't have time to figure the repercusions of moving the button styling elsewhere %]
[% # Feel free to fix this later %]
[% SET extra_css = [ "ecmstyles", "ajaxpopup", "joblist" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="forms" name="forms">
	<h1>Jobflow Forms</h1>

	<br>

	<div style="float: left; display: inline;">
		<div class="formtitle" title="Click to open the form" onclick="viewabinbevform()">AB InBev Form</div>
	</div>
</div>

[% INCLUDE ecm_html/footer.html %]

