[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="loginBox">
<h1>An Error Has Occurred</h1>

<div id="errormessage">[% errormessage %]</div>

<h3>We apologise for your inconvenience. TAG Worldwide support have been informed about this problem.</h3>
</div>


[% INCLUDE ecm_html/footer.html %]


