[% INCLUDE ecm_html/header.html %]


<h1>Generating Files</h1>
<br>
<br>
The files you requested are being generated.<br>
<br>
[% FOREACH file IN filenames %]
[% IF file.error != '' %]
<span style="color:red;" >Download file for [% file.type %] failed, [% file.error %]</span>
[% ELSE %]
<a href="[% downloadurl %]?action=sendfile&id=[% file.filename %]&useassetrepo=[% useassetrepo %]">Download file for [% file.type %]</a><br>
[% END %]
[% END %]
[% IF assetsCopied == 0 ]
No asset files were copied
[% ELSE %]
[% assetsCopied %] asset(s) were copied
[% END %]
[% IF assetsFailed != 0 %]
Failed to copy [% assetsFailed %] asset(s)
[% END %]
An email will be sent to you once complete.

[% INCLUDE ecm_html/footer.html %]

