[% INCLUDE ecm_html/header.html %]

<h1>Download Low Res zip file</h1>
<br>
	<div id="lowresholder" style="float:left">
	<a href="[% jobflowserver %]/stream/streampdf.pl?filename=[% filename %]&type=zip">Download Low Res Zip</a>
	</div>

[% INCLUDE ecm_html/footer.html %]

