<input type="hidden" id="kanban_filter_info" value="[% IF error == "" %] Filter : [% filtername %] ([% kanbanjobscount %]) [% END %]" />
[% IF error != "" %]
	<div class="errorlog_div">
		[% error %]
	</div>
[% END %]

[% FOREACH active_lane IN lanes %]
[% column = active_lane   %]
<div class="parent-column" id="parent_column_[% column %]">
    <div class="column-header">
        <p>
			<span class="heading3dots" title="[% column %]">[% column %]</span>
			<span> [% IF kanbanjobs.$column && kanbanjobs.$column.size > 0 %]([%  kanbanjobs.$column.size  %])[% END %] </span>
			<span>
				<a class="text-right" onclick="hide_column('[% column %]')"> <img class="kanban-icons" src="images/eye.png" />  </a>
			</span>
		</p>
    </div>
[% IF orderby_id !=7 && orderby_id != 3  %]
<div class="column" id="[% column %]">
[% ELSE %]
<div class="disable-column" id="[% column %]">
[% END %]
	[% FOREACH jobs IN kanbanjobs.$column.keys.sort("job_number") %]
		[% job_traffic_class = "" %]
		[% IF lane_conf.$column %] [% job_traffic_class = "portlet-header-advisory" %] [% END %]

    <div class="portlet" data-jobnumber="[% kanbanjobs.$column.$jobs.job_number %]" data-type="[% kanbanjobs.$column.$jobs.lane_type %]" data-trafficdate="[% kanbanjobs.$column.$jobs.traffic_date %]">
		<div class="portlet-header [% IF lane_conf.$column %] portlet-header-advisory [% END %]">
			<div class="header-container"> 
				<div class="div-left add3Dots" title="[% kanbanjobs.$column.$jobs.$header %]">
					[% kanbanjobs.$column.$jobs.$header %]  
				</div>
				<div class="div-right">
					<input name="jobs" id="jobs" class="jobsregular-checkbox kanban_checkbox" value="[% kanbanjobs.$column.$jobs.job_number %]" type="checkbox">
				</div>
			</div>
		</div>
        <div class="portlet-content add3Dots" title="[% line1 %]"> [% kanbanjobs.$column.$jobs.$line1 %]  </div>
        <div class="portlet-content add3Dots" title="[% line2 %] "> [% kanbanjobs.$column.$jobs.$line2 %]  </div>
        <div class="portlet-content add3Dots" title="[% line3 %]"> [% kanbanjobs.$column.$jobs.$line3 %]  </div>
		<!-- user configured line-4 option will be set as title to identify which date is showing in the card -->
        <div class="portlet-content add3Dots" title="[% line4 %]"> 
			<span>[% kanbanjobs.$column.$jobs.traffic_date %]</span>
		 	<span class="total-prod-estimation" title="Total estimation of products">([% kanbanjobs.$column.$jobs.total_prod_estimation %] Unit)</span>
		</div>
		<br>
		<div class="portlet-content">
			<a class="kanban-icons avatar-icon" onclick="assign_user([% kanbanjobs.$column.$jobs.job_number %])" data-html="true" title="[% pixel_count = 0 %]
    <div class='assignee_product_details'> <span class='add3Dots_tooltip'>Assignee : [% kanbanjobs.$column.$jobs.assignee_name %]</span> </div>
[% FOREACH assignee IN kanbanjobs.$column.$jobs.product_assignee %]
    [% FOREACH details IN assignee %]
        <div class='assignee_product_details' ><span> [% details %]</span> </div>
    [% END %]
[% END %]
">
				<img src="images/avatar.png" class="assignee-details" data-html="true" width="15" height="15" />
			</a>  
			<a class="kanban-icons comment-icon"  title="To show/add/delete brief comments">
				<img class="editbtn" src="images/comment.png" onclick="showBoardviewBriefComments([% kanbanjobs.$column.$jobs.job_number %])" id="show_boardview_brief_comments">	
			</a>
			<a class="kanban-icons comment-icon"  title="">
				[% IF kanbanjobs.$column.$jobs.media_type	== "BROADCAST" %]
				<img src="images/comments.png" class="statusnotes" id="[% kanbanjobs.$column.$jobs.job_number%]_statusnotes" onclick="geteditStatusNotesView([% kanbanjobs.$column.$jobs.job_number %])" onmouseover="setClickableTooltip([% kanbanjobs.$column.$jobs.job_number %], '[% kanbanjobs.$column.$jobs.status_note_title %]', 'BOARD');" width="15" height="15" />
				[% ELSE %]
				<img src="images/comments.png" class="statusnotes" id="[% kanbanjobs.$column.$jobs.job_number%]_statusnotes" onmouseover="setClickableTooltip([% kanbanjobs.$column.$jobs.job_number %],'', 'BOARD');" width="15" height="15" />
				[% END %]
			</a> 
			<a title="Detail View">
				<img src="images/card_icon.png" style="margin-left:5px;height:19px; width:18px;" id="[% kanbanjobs.$column.$jobs.job_number%]_statusnotes" onclick="showDetailView([% kanbanjobs.$column.$jobs.job_number %])"  width="15" height="15" />
			</a>
			<a class="kanban-icons clock-icon"  title="Product Task View"  onclick="LoadTaskProductsdetail([% kanbanjobs.$column.$jobs.job_number %]);" >
                <img src="images/clock_icon.png"  id="[% kanbanjobs.$column.$jobs.job_number%]_producttask"  width="17" height="17" />
            </a>
			<a class="kanban-icons job_bag_icon"  title="Job Bag"  onclick="jobbag([% kanbanjobs.$column.$jobs.job_number %],[% opcoid %]);" >
                <img src="images/job_bag.png"  id="[% kanbanjobs.$column.$jobs.job_number%]_jobbag"  width="20" height="17" />
            </a>
		
		</div>
    </div>
	[% END %]
</div>
</div>
[% END %]
<div id="exclude-confirm" title="Exclude Task">
</div>
