<!-- lefthandnav.html, styles in simple-sidebar.css -->

<script language="javascript">
	/* In Operator role when visiting any of the Admin page left-side-menu it throws syntax error when framing the below object 
	   because 'userid' value was not sent in vars. so the condition has been added newly to check for userid.
	*/
	var lhn_user_details = {
							[% IF userid AND userid != '' %] 
								userid: [% userid %],
							[% END %]
							username: "[% username %]",
							roleid: [% roleid %],
							rolename: "[% rolename %]",
						};
</script>

[% IF (noleftpanel != 1) AND (roleid !=2) # Not vendors %]
	<div id="sidebar-wrapper" title="role [% roleid %]">
		[%IF (roleid !=8) # Not visitor %]
			<ul class="resource_menu sidebar-nav">
				<li><a data-view="Resource">Resource</a></li>
				
				[% IF is_explorer %]
				<li><a data-view="jobimport" href="#" onclick="lhn_jobflowaction({ action : 'viewjobimport', sidemenu: 'jobimport' })">Job Import</a></li>
				[% END %]
			</ul>
		[%END%]
		<ul class="SidepanelJob sidebar-nav">
			[% IF (roleid != '') AND (roleid != 7) # Not external users (i.e. yes forms) %]
				<li><a onclick="lhn_production_jobs()" id="production_list" data-view="Production">Production List</a></li>
			[% END %]
			[% IF (roleid != '') AND (roleid != 7) AND (roleid != 8) AND (roleid != 2) %]  [%# Watch List - All bar External and Visitor AND Vendor %]
				<li><a id="SidepanelJob" class="sb_sub_menu" href="#" onclick="lhn_watched_jobs()" data-view="Watchlist" >Watching <span id="watchlistcnt">(0)</span></a></li>
			[% END %] [%# Watchlist %]
			[% IF (roleid != '') AND (roleid != 7) # Note external users (i.e. yes forms) %]
				<li><a onClick="lhn_my_jobs('[% assignee %]')" data-view="Assigned" >Assigned to me <span id="assigntomecnt">([% assigntomecnt %])</span></a></a></li>
				<li><a onClick="lhn_jobs_created_by()" data-view="Created">Created by me <span id="createdbycnt">([% createdbycount %])</span></a></li>
			[% END %]
			[% IF (roleid != '') AND (roleid == 7) %] [%# External (Forms) only %]
		        <li><a href="#" onclick="calljobflow('forms','forms', '' )" [% IF sidemenu == "forms" %] class="arrow_box" [% END %] >Forms</a></li>
		        <li><a href="#" onclick="calljobflow('listforms','listforms', '' )" [% IF sidemenu == "listforms" %] class="arrow_box" [% END %] >List Forms</a></li>
            [% END %]
			[% IF (roleid != '') AND (roleid != 7) # Not external users (i.e. yes forms) %]
                <li>My Filters</li>
					<div id="myfilterpinningID">
						[% FOREACH data IN pinnedfilters %]
							[% IF data.pinningstatus == 1 AND data.ownertype == 1 %]
								<li id="ownerpin_[% data.pinningID %]"><a class="add3Dots" onclick="loadFilter(this)" data-view="Pinned" data-owner="[% data.owner %]"  data-filtername="[% data.filtername %]">[% data.filtername %]</a></li>
							[% END %]
						[% END %]
					</div>
            [% END %]
            [% IF (roleid != '') AND (roleid != 7) # Not external users (i.e. yes forms) %]
                <li>Shared with Me</li>
					<div id="sharedpinningID">
						[% FOREACH data IN pinnedfilters %]
							[% IF data.pinningstatus == 1 AND data.ownertype ==0 %]
								<li id="sharedpin_[% data.pinningID %]"><a class="add3Dots" onclick="loadFilter(this)" data-view="Pinned" data-owner="[% data.owner %]" data-filtername="[% data.filtername %]">[% data.filtername %]</a>
							[% END %]
						[% END %]
				</div>
            [% END %]
		</ul>
<!-- Admin menu-->
		[% IF (roleid != '') AND (roleid != 7) AND (roleid != 8) AND (roleid != 2) %] [%# Admin menu - All bar External, Visitor and Vendor %]
            <ul class="admin sidebar-nav">
				<li><a href="#" onclick="calljobflow('activity','admin','activity')">Activity</a></li>
                <li><a href="[% amonurl %]">Archive Monitor</a></li>
				[% IF roleid == 4 %] [%#  Admin only %]
				<li><a href="#" onclick="calljobflow('archivescheduler','resources','archivescheduler')">Archive Scheduler</a></li>
				<li><a href="#" onclick="calljobflow('opcoadmincmd','resources','opcoadmincmd')">CMD OpCo Admin</a></li>
				[% END %] [%# Admin only %]
				<li><a href="#" onclick="calljobflow('changeFtp','admin','changeFtp')">Change FTP</a></li>
				<li><a href="#" onclick="calljobflow('checklist','admin','checklist')">Checklist</a></li>
				<li><a href="#" onclick="calljobflow('checkinqueue','admin','checkinqueue')" >Checkin Queue</a></li>
				<li><a href="#" onclick="calljobflow('checkoutqueue','admin','checkoutqueue')" >Checkout Queue</a></li>
				<li><a href="#" onclick="calljobflow('checkinqueuehistory','admin','checkinqueuehistory')" >Checkin Queue History</a></li>
				<li><a href="#" onclick="calljobflow('listoperatingcompanies', 'companies', 'listop')">Companies<i class="right"></i></a>
				 	<ul class="sub-menu">
				 		<li><a href="#" onclick="calljobflow('listoperatingcompanies', 'companies', 'listop')">Operating Companies</a></li>
						<li><a href="#" onclick="calljobflow('addoperatingcompany','companies','addop')">New Op Company</a></li>
						<li><a href="#" onclick="calljobflow('listcompanies', 'companies', 'listcomp')">List Companies</a></li>
						<li><a href="#" onclick="calljobflow('addcompany', 'companies', 'addcomp')">New Company</a></li>
						<li><a href="#" onclick="calljobflow('listcustomers', 'companies', 'listcust')">List Customers</a></li>
						<li><a href="#" onclick="calljobflow('addcustomer', 'companies', 'addcust')">New Customers</a></li>
					</ul>
				</li>
				<li><a href="#" onclick="calljobflow('daemons','admin','daemons')">Daemons</a></li>
				<li><a href="#" onclick="calljobflow('showlogs','showlogs', '' )">Logs</a></li>
				<li><a href="#" onclick="calljobflow('listreports', 'reports', 'listreports')">Reports<i class="right"></i></a>
					<ul class="sub-menu">
						<li><a href="#" onclick="calljobflow('listreports', 'reports', 'listreports')">List Reports</a></li>
				    	<li><a href="#" onclick="calljobflow('addreport', 'reports', 'addreport')">Add Report</a></li>
				    </ul>
				</li>
				<li><a href="#" onclick="calljobflow('listusers','User Details', 'listusers' )">User Details<i class="right"></i></a>
					<ul class="sub-menu">
						<li><a href="#" onclick="calljobflow('listusers','User Details', 'listusers' )">List Users</a></li>
						<li><a href="#" onclick="lhn_add_user()">Add user</a></li>
						<li><a href="#" onclick="calljobflow('addvendor','User Details', 'addvendor' )">Add Vendor</a></li>
					</ul>
				</li>
				
				[% IF is_explorer %]
				<li><a href="#" onclick="calljobflow('viewjobimportsettings','Job Import Settings', '' )">Job Import Settings<i class="right"></i></a>
					<ul class="sub-menu">
						<li><a href="#" onclick="calljobflow('viewjobimportsettings','Mapping Fields', 'mappingfields' )">Mapping Fields</a></li>
						<li><a href="#" onclick="calljobflow('viewjisubstitutions','Edit Substitutions', 'editsubstitutions' )">Edit Substitutions</a></li>
					</ul>
				</li>				
				[% END %]
            </ul>
            [% END %] [%# Admin %]

	 	<div class="report_problem">
    		<p onclick="calljobflow('support', 'contact', 'support')">Report a Problem</p>
		</div>
	</div>

[% END %]
