[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>News Items</h1>
<br>

<script type="text/javascript">
function makesure() {	
  if (confirm('Are you sure?')) {
    return true;
  }
  else {
    return false;
  }
}

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th width="400">Subject</th>
		<th>Date</th>
		<th colspan="2"></th>
	</tr>
	[% FOREACH n IN newsitems %]
	<TR>
		<TD>[% n.subject %]</TD>
		<TD>[% n.timestamp %]</TD>
		<td><a href="jobflow.pl?action=editnews&id=[% n.id %]">Edit</a></td>
		<td></td>		
	</TR>
	[% END %]
	</table>
</div>

<div id="overlay">
     <div>
          <p>Are you sure you wish to delete this user?</p>
          Click here to [<a href='#' onclick='overlay()'>close</a>]
     </div>
</div>

[% INCLUDE ecm_html/footer.html %]

