[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>List Reports</h1>
<br>

<script type="text/javascript">
function makesure() {	
  if (confirm('Are you sure?')) {
    return true;
  }
  else {
    return false;
  }
}

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

<div id="search">
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="showreport">
Search: <input type="text" name="report">
<input type="submit" value="Search">
</form>
</div>


<div id="tblWrapper">
	<table border="1">
	<tr>
		<th>Title</th>
		<th>Uploaded by</th>
		<th>Time</th>
		<th></th>
		<th></th>
		<th></th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	
	[% FOREACH r IN reports %]
	<TR>
		<TD>[% r.title %]</TD>
		<TD>[% r.updatedbyuser %]</TD>
		<TD>[% r.timestamp %]</TD>
		<TD> - </TD>
		<TD><a href="jobflow.pl?action=showreport&reportid=[% r.id %]">Generate</a></TD>
		<TD> - </TD>
		<TD><a href="jobflow.pl?action=editreport&reportid=[% r.id %]">Edit</a></TD>
		<TD><a href="jobflow.pl?action=deletereport&reportid=[% r.id %]" onclick=" return makesure();" >Delete</a></TD>
	</TR>
	[% END %]
	</table>
</div>

<div id="overlay">
     <div>
          <p>Are you sure you wish to delete this report?</p>
          Click here to [<a href='#' onclick='overlay()'>close</a>]
     </div>
</div>

[% INCLUDE ecm_html/footer.html %]

