[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Companies</h1>
<br>

<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th>Company</th>
		<th></th>
		<th>Action</th>
	</tr>
	[% FOREACH company IN companies %]
	<TR>
		<TD>[% company.name %]</TD>
		<TD> - </TD>
		<TD><a href="jobflow.pl?action=editcompany&id=[% company.id %]">Edit</a></TD>
	</TR>
	[% END %]
	</table>
</div>

[% INCLUDE ecm_html/footer.html %]

