[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Operating Companies</h1>
<br>

<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th>Operating Company</th>
		<th></th>
		<th>Action</th>
	</tr>
	[% FOREACH opco IN opcos %]
	<TR>
		<TD>[% opco.opconame %]</TD>
		<TD> - </TD>
		<TD><a href="jobflow.pl?action=editoperatingcompany&opcoid=[% opco.opcoid %]">Edit</a></TD>
	</TR>
	[% END %]
	</table>
</div>

[% INCLUDE ecm_html/footer.html %]

