[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Daemons</h1>
<br>

<div id="tblWrapper">
	<br>
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="daemons">
	<input type="hidden" name="formPosted" value="yes">
	<br>
	<table border="1"> 
		<tr>
			<th>Daemon</th><th>Server 1</th><th>Server 2</th><th>Server 3</th>
		</tr>
		[% x = 1 %]
		[% FOREACH d IN daemons %]
			[% IF x == 1 %]<tr>[% END %]	
			[% IF x == 1 %]
			<td>[% d.name %]</td>
			[% END %] 
			[% IF x < 4 %]
				<td><input type="checkbox" name="d_[% d.id %]" id="d_[% d.id %]" [% IF d.onoff == 1 %]checked='checked'[% END %]>&nbsp;&nbsp;&nbsp;<input type="text" name="sd_[% d.id %]" id="sd_[% d.id %]" size="3" value=[% d.sleepdelay %]>&nbsp;&nbsp;&nbsp; Seen: [% d.lastseen %]&nbsp;([% d.id %])</td>
			[% END %]

			[% IF x == 3 %]</tr>[% END %]
			[% x = x + 1 %]
			[% IF x == 4 %][% x = 1 %][% END %]
		[% END %]

	</table>
	<input type="Submit" value="Update">
	</form>
</div>

[% INCLUDE ecm_html/footer.html %]

