[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Customers</h1>
<br>

<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th>Customer</th>
		<th>Operating Company</th>
		<th>Action</th>
	</tr>
	[% FOREACH cust IN customers %]
	<TR>
		<TD>[% cust.customer %]</TD>
		<TD>[% cust.opconame %]</TD>
		<TD><a href="jobflow.pl?action=editcustomer&id=[% cust.id %]">Edit</a></TD>
	</TR>
	[% END %]
	</table>
</div>

[% INCLUDE ecm_html/footer.html %]

