[% SET extra_css = [ "ecmstyles", "ajaxpopup", "joblist" ] %]
[% INCLUDE ecm_html/header.html %]

<!-- see styles/listusers.css for styles -->

<div id="topwrapper" style="float:right; width:85%;border: 0px solid black;">
	<h1>Jobflow Forms</h1>

    <br>

	<div id="search">
		<form action="jobflow.pl" method="post">
			<input type="hidden" name="action" value="listforms">
			<input type="hidden" name="sidemenu" value="ListForms">
			<input type="hidden" name="sidesubmenu" value="listforms">
			Search Form Id: <input type="text" id="formid" name="formid">
			<input name="buttontype" type="submit" value="Search">
		</form>
	</div>

	<br>


	<div id='tblWrapper' style='height:700px;overflow-y:scroll;float:left;border: 0px solid green;'>
		<table id='formList' border="1" width="100%"> 
			<tr>
            	<th width="5%">Form Id</th>
				<th width="15%">Component Name</th>
				<th width="15%">Brand</th>
				<th width="10%">Job Number</th>
				<th>User Name</th>
				<th width="10%">RFFS No</th>
				<th width="10%">FTP Date</th>
				<th width="15%">Barcode EAN</th>
				<th width="5%">Primay Format</th>
				<th width="15%">Brand Owner</th>
				<th width="25%">Recorded Time</th>
				<th width="5%">Edit</th>
			</tr>


			[% FOREACH f IN forms %]
			<tr>
				<td> [% f.id  %] </td>
				<td> [% f.component_name %] </td>
				<td> [% f.brand %] </td>
				<td> [% f.job_number %] </td>
				<td> [% f.USERNAME %] </td>
				<td> [% f.rffs_no %] </td>
				<td> [% f.ftp_date %] </td>
				<td> [% f.barcode_ean %] </td>
				<td> [% f.primary_format %] </td>
				<td> [% f.brand_owner %] </td>
				<td nowrap="true"> [% f.rec_timestamp %] </td>
				<td><span style="cursor:pointer; pointer:hand" onclick="editForm( [% f.id %])"><u>Edit</u></span></td>
			</tr>
			[% END %]
		</table>
	</div>
</div>

<script>

	$(document).ready(function() {

	});

</script>

[% INCLUDE ecm_html/footer.html %]

