[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>List Outsources</h1>
<br>

<script type="text/javascript">
function makesure() {	
  if (confirm('Are you sure?')) {
    return true;
  }
  else {
    return false;
  }
}

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

<div id="search">
<form action="jobflow.pl" method="post">
<input type="hidden" name="action" value="listoutsource">
Source OpCo:
	<select name="srcopcofilter">
		<option value="">[ None ]</option>
		[% FOREACH o IN opcos %]
		<option value="[% o.opcoid %]">[% o.opconame %]</option>
		[% END %]
	</select>
Destination OpCo:
	<select name="dstopcofilter">
		<option value="">[ None ]</option>
		[% FOREACH o IN opcos %]
		<option value="[% o.opcoid %]">[% o.opconame %]</option>
		[% END %]
	</select>
TTP Folder: <input type="text" name="ttpfolderfilter">
<!--
Outsource pairing:
	<select name="pairingfilter">
		<option value="none" selected="selected">Any</option>
		<option value="uni">Uni-directional (incomplete) only</option>
		<option value="bi">Bi-directional (complete) only</option>
	</select>
-->
<input type="submit" value="Search">
</form>
</div>


<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th>Source OpCo</th>
		<th>Destination OpCo</th>
		<th>Userid</th>
		<th>TTP Folder</th>
		<th>Status</th>
		<th>Timestamp</th>		
	</tr>
	[% FOREACH o IN outsource %]
	<TR>
		<TD>[% o.srcopco %] ([% o.srcopcoid %])</TD>
		<TD>[% o.dstopco %] ([% o.dstopcoid %])</TD>
		<TD>[% o.username %] ([% o.userid %])</TD>
		<TD>[% o.ttpfolder %]</TD>
		<TD>[% o.status %]</TD>
		<TD>[% o.timestamp %]</TD>
		<TD><a href="jobflow.pl?action=editoutsource&srcopcoid=[% o.srcopcoid %]&dstopcoid=[% o.dstopcoid %]">Edit</a></TD>
		<TD><a href="jobflow.pl?action=deleteoutsource&srcopcoid=[% o.srcopcoid %]&dstopcoid=[% o.dstopcoid %]" onclick=" return makesure();" >Delete</a></TD>
	</TR>
	[% END %]
	</table>
</div>

<div id="overlay">
     <div>
          <p>Are you sure you wish to delete this outsource?</p>
          Click here to [<a href='#' onclick='overlay()'>close</a>]
     </div>
</div>

[% INCLUDE ecm_html/footer.html %]

