[% SET extra_css = [ "ecmstyles", "listusers", "ajaxpopup" ] %]
[% INCLUDE ecm_html/header.html %]

<!-- see styles/listusers.css for styles -->

<script type="text/javascript" src="js/listusers.js"></script>

<input type="button" id="createuser" name="createuser" value="Create User" style="display:none"  >
<br>
<div id="search">
	<form action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="listusers">
		<input type="hidden" name="sidemenu" value="User Details">
		<input type="hidden" name="sidesubmenu" value="listusers">
		By <select name="searchById" id="searchById">          
				<option value="1" [% IF searchById == 1 %] selected='selected' [% END %] >Surname</option>
				<option value="2" [% IF searchById == 2 %] selected='selected' [% END %] >First name</option>
				<option value="3" [% IF searchById == 3 %] selected='selected' [% END %] >User name </option>
				<option value="4" [% IF searchById == 4 %] selected='selected' [% END %] >Email</option>
				<option value="5" [% IF searchById == 5 %] selected='selected' [% END %] >Employee ID</option>
		</select>
		Search: <input type="text" name="lname">
		<input name="buttontype" type="submit" value="Search">
		<input name="buttontype" type="submit" value="Me">
	</form>
</div>

<br>
<!--<div id="topwrapper" style="width:1200px;border: 0px solid black;float:left;">
	<div id='tblWrapper' style='height:700px;overflow-y:scroll;float:left;border: 0px solid green;width:100%;margin-right:20px;'>-->
<div id="topwrapper">
	<div id="tblWrapper" style="margin-right:20px;float:left">
		<table id="userList" border="1" width="100%"> 
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Email</th>
			<th>OpCo</th>
			<th>Role</th>

			<!--
			<th>Company</th>
			<th>Username</th>
			<th>Userid</th>		
			<th>Joined</th>
			<th></th>
			<th>Action</th>
			<th>Delete</th>
			-->
		</tr>
		[% FOREACH u IN users %]
		<tr>
			<td class="fname" userid="[% u.id %]" opcoid="[% u.opcoid %]">[% u.fname %]</td>
			<td class="lname" >[% u.lname %] ([% u.id %])</td>
			<td class="theemail">[% u.email %]</td>
			<td>[% u.opconame %]</td>
			<td>[% u.role %]</td>

			<!--
			<td>[% u.companyname %]</td>
			<td>[% u.username %]</td>
			<td>[% u.id %]</td>
			<td>[% u.timestamp %]</td>
			<td> - </td>
			<td><a href="jobflow.pl?action=edituser&id=[% u.id %]">Edit</a></td>
			<td><a href="jobflow.pl?action=deleteuser&id=[% u.id %]" onclick=" return makesure();" >Delete</a></td>
			-->
		</tr>
		[% END %]
		</table>
	</div>


	<div id="AccountSettingsDialog" title="Account Settings">
		<form id="accountsettings">
			<input type="hidden" name="acctroleids" id="acctroleids" value="">
			<input type="hidden" name="acctcustomerids" id="acctcustomerids" value="">
			<input type="hidden" name="acctopcoidhidden" id="acctopcoidhidden" value="">
			<fieldset>
			<div class="inputholder">
				<label>User name</label>
				<input type='text' name='acctusername' id='acctusername' size='30' class="inputtext" readonly="readonly">
			</div>
			<div class="inputholder">
				<label>Operating Company</label>
				<select id="acctopcoid" class="inputtext"></select>
				<div id="acctopconame" class="inputtext" style="float:left;"></div>
			</div>
			<!--<div class="inputholder">
				<label>Department</label>
				<input type='text' name='acctdepartment' id='acctdepartment' size='30' class="inputtext">
			</div>-->
			</fieldset>
			<div class="horzline"></div>
			<fieldset>
			<div class="inputholder">
				<label>Roles</label>
				<select id="acctroleid">
					<option value='1'>Operator</option>
					<option value='2'>Vendor</option>
					<option value='3'>Account Manager</option>
					<option value='4'>Administrator</option>
					<option value='5'>Print Buyer</option>
					<option value='6'>Studio Manager</option>
				</select>
				&nbsp;&nbsp;<input type="button" id="addrole" name="addrole" value="+ Add">
			</div>
			<div class="inputholder" style="height:100px;overflow-y:scroll;border:1px solid #ccc;border-radius:5px;margin-top:20px;">
				<ul id='roleslist'></ul>
			</div>
			</fieldset>
			<div class="horzline"></div>
			<fieldset>
			<div class="inputholder">
				<label>Customers</label>
				<select id="acctcustomerid">
				</select>
				&nbsp;&nbsp;<input type="button" id="addcustomer" name="addcustomer" value="+ Add">
			</div>
			<!-- <div class="inputholder"> -->
			<div class="inputholder" style="height:100px;overflow-y:scroll;border:1px solid #ccc;border-radius:5px;margin-top:20px;">
				<ul id='customerslist'></ul>
			</div>
			</fieldset>
		</form>
	</div>

	<!--- we start our tabs here --->

	<div id="myTabs" style='float:left;display:none;border:0px solid red;'>
		<h1 id="fullname"></h1>
		<div id="saving" style="display:none">Saving ...</div>
		<ul>
			<li><a id="Details_tab"  href="#userDetail">Details</a></li>
			<li><a href="#userDetail2" id="accountsTab">Accounts</a></li>
			<li><a href="#userDetail3" id="passwordTab">Password</a></li>
			<li><a href="#userDetail4" id="passwordTab">Media</a></li>
			<li><a href="#userDetail5" id="passwordTab">Skills</a></li>
		</ul>

		<div id='userDetail' style='float:left;display:none;border:0px solid red;width:100%;padding-left:0px !important' class="usersubtab">

			<form action="jobflow.pl?action=saveuser" method="post">
				<input type="hidden" name="userid" id="userid" />
				<table width="80%">
					<tr>
						<td>
						<label>First Name</label>
						</td>
						<td>	
						<input id="fname" name="fname" type="text" class="inputtext" required autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Last Name</label>
						</td>
						<td>	
						<input id="lname" name="lname" type="text"	class="inputtext" required autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Username</label>
						</td>
						<td>
						<input id="username" name="username"  type="text" class="inputtext" required autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Email</label>
						</td>
						<td>	
						<input id="email" name="email" type="text" class="inputtext" onblur="emailvalidate(this.value,1)" required autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Deputy Email</label>
						</td>
						<td>	
						<input id="deputyemail" name="deputyemail" type="text" class="inputtext" onblur="emailvalidate(this.value,0)" autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Employee Id</label>
						</td>
						<td>	
						<input id="employeeid" name="employeeid" type="text" required  class="inputtext" autofocus />
						</td>
					</tr>
					<tr>
						<td>	
						<label>Default Role</label>
						</td>
						<td>	
						<select id="defroleid" name="defroleid">
                                                [% FOREACH r IN roles %]
                                                        <option value="[% r.id %]">[% r.role %]</option>
                                                [% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>
						<label>Department</label>
						</td>
						<td>
						<select id="departmentid" name="departmentid" style="width:125px;">
							[% FOREACH dep IN departments %]
							<option value=[% dep.id %]>[% dep.name%]</option>
							[% END %]
						</select>
						</td>
					</tr>
					<tr>
						<td>	
						<label>Active</label>
						</td>
						<td>	
						<input type="checkbox" id="userstatus" class="inputext" name="userstatus" />
						</td>
					</tr>
					<tr>
						<td>
						<label>Cost Centre</label>
						</td>
						<td>
						<input id="costid" name="costid" type="text" class="inputtext"	onkeypress="return blockSpecialChar(event)" autofocus />
						</td>
					</tr>
					<tr>
						<td>
						<label>Contracted Hours (Week)</label>
						</td>
						<td>
						<input id="contractid" name="contractid" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="inputtext" autofocus />
						</td>
					</tr>
					<tr style="border-top: 1px solid #cccccc">
						<td>
						<label>Working Hours</label>
						</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
						 Start HH:MM &nbsp;  <input id="workhrsstart" name="workhrsstart" type="text" onkeypress="return isNumber(event)" class="inputtext"	style ="width:60px;" autofocus placeholder="HH" maxlength="2"  /> :
						<input id="workhrsstart_min" name="workhrsstart_min" type="text" onkeypress="return isNumber(event)" class="inputtext"	style ="width:60px;" autofocus placeholder="MM" maxlength="2"   /> <br>

						  Finish HH:MM &nbsp; <input id="workhrsend" name="workhrsend" type="text" onkeypress="return isNumber(event)" class="inputtext" style ="width:60px;" autofocus placeholder="HH" maxlength="2"  /> :
						<input id="workhrsend_min" name="workhrsend_min" type="text" onkeypress="return isNumber(event)" class="inputtext" style ="width:60px;" autofocus placeholder="MM" maxlength="2"  />
						</td>
					</tr>
				</table>
			</form>
		</div>	<!--- end User detail 1 --->


		<!--- Media Tab --->
		<div id="userDetail4" style="float:left;display:none;border:0px solid red;" class="usersubtab">
			 <div id="media">
                                        <h2>Media</h2>
                        [% FOREACH m IN mediatypes %]
                                        <div class="inputattributeholder">
                                                <input type="checkbox" class="medialist" id=media_[% m.mediaid.replace('\.', '_') %] name=[% m.medianame.replace('\.', '_') %] >
                                                <label class="attributelabel" id="medianame">[% m.medianame %]</label>
                                        </div>
                        [% END %]
			</div>	
		</div>

		<!--- Skills Tab --->
		 <div id="userDetail5" style="float:left;display:none;border:0px solid red;" class="usersubtab">
			<div id="skill">
                                        <h2>Skill</h2>
                        [% FOREACH u IN userskills %]
                                        <div class="inputattributeholder">
                                                <input type="checkbox" class="user_skills"      id=[% u.skillsid %] name=[% u.skillsid %]>
                                                <label class="attributelabel" id="userskills">[% u.skillstype %]</label>
                                        </div>
                        [% END %]

                 </div>
		</div>


		<!--- Accounts tab --->
		<div id='userDetail2' style='float:left;display:none;border:0px solid red;' class="usersubtab">
			<input type="button" id="assignaccount" name="assignaccount" value="Assign Account" style="float:left;">
			<table id="opcos">
				<tr>
					<th></th><th>Operating Company</th><th></th><th></th>
				</tr>
			</table>
			<br>
			<!---
			<input type="button" id="changedefaultopcoid" name="changedefaultopcoid" value="Change Default Op Co" style="float:left;">
			--->
		</div>
		<!--- end Accounts tab --->
		<!--- Password tab --->
		<div id='userDetail3' style='float:left;display:none;border:0px solid red;width:100%' class="usersubtab">
			<h2>Password</h2>
			<form id="changepasswordform" method="post" action="">
			<fieldset>
				<div class="inputholder">
					<label>New password</label>
					<input type="password" id="newpassword" class="inputtext">
				</div>
				<div class="inputholder">
					<label>Confirm new password</label>
						<input type="password" id="newpassword2" class="inputtext">
				</div>
				<div class="inputholder">
					<br>
					<input type="button" id="changepassword" name="changepassword" value="Change Password">
				</div>
			</fieldset>
			</form>
		</div>
		<!--- end Password tab --->


		<div class="horzline" style="clear:both;margin:20px 0px !important"></div>
                <input type="button" id="mainsave" name="mainsave"     value="Save">
                <input type="button" name="mainclose" id="mainclose" value="Close">


	</div>	<!--- end tabs DIV --->
</div>

<div id="overlay">
	<div>
		<p>Are you sure you wish to delete this user?</p>
		Click here to [<a href='#' onclick='overlay()'>close</a>]
	</div>
</div>
<script>

	$(document).ready(function() {

		[% IF newuser %]
		listUsersAddUser(); // Displays empty edit settings panel
		[% ELSIF edituser %]
		listUserEditUser( [% edituser %] ); // Displays edit settings for a specific setting
		[% ELSE %]
		listUsersNormal(); // Normal mode list users with edit settings hidden
		[% END %]

	});

</script>

[% INCLUDE ecm_html/footer.html %]

