[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<script>
$( document ).ready(function() {
      localStorage.clear();
      sessionStorage.clear();
	$('.header_section').hide();
	$('.wltlogo').hide();
	localStorage.setItem("selectedheadmenu","#SidepanelJob");	
});
</script>

<div id="loginBox">
<h1>Login</h1>
	<form action="jobflow.pl" method="post">
		<input type="hidden" name="queryString" value="[% queryString %]">
		<input type="hidden" name="action" value="processLogin">
		<fieldset>
			[% IF message.defined %]
			<div class="error">
			[% message %]
			</div>
			[% END %]
			<div class="row">
				<label>Username:</label>
				<input type="text" id="username" name="username" size="30" class="auth" />
			</div>
			<div class="row">
				<label>Password:</label>
				<input type="password"id="password" name="password" size="30" class="auth" />
			</div>
			[% IF ad_enable == 1 %]
			<div class="row">
				<label>Authentication system:</label>
				<select name="authid">
					[% FOREACH as IN authlist i%]
					<option value="[% as.id %]"[% IF authid == as.id %] selected[% END %] title="[% as.auth_title %]">[% as.auth_name %]</option>
					[% END %]
				</select>
			</div>
			[% ELSE %]
				<input type="hidden" name="authid" size="1" value="1" />
			[% END %]
			<hr/>
			<div class="row">
				<input type="submit" value="Login" id="login" class="btn" />
			</div>
			<!-- history -->
			<div>
				[% FOREACH h IN history i%]
					<span>[% h %]</span><br>
				[% END %]
			</div>
			[% IF ad_enable == 1 %]
			<hr/>
			<span>Please note:</span><br>
			<span>When using Active Directory details to login, multiple failed attempts may lock out your account.</span><br><br> 
			<span>For users using their DHL Active Directory credentials:</span><br>
			<ul>
			<li>If you need your password reset, then contact Service Desk 
				<ul style="list-style: circle inside; line-height: 3.0em;">
					<li>UK and EMEA +44 845 680 9990</li>
					<li>Scottsdale	ITSC Help Desk: +1.800.434.5767</li>
					<li>Prague	ITSC Help Desk: +420.2888.88888</li>
					<li>Cyberjaya	ITSC Help Desk: +60.383.158.000</li>
					<li>Germany	Help Desk: +49.6103.765.6300</li>
				</ul> 
			<li>You can reset your password online at </span><a href="https://password.dhl.com">password.dhl.com</a>
			but you must also enrol there first to record answers to security questions.</li>
			</ul>
			[% END %]	
		</fieldset>
	</form>
</div>

[% INCLUDE ecm_html/footer.html %]


