[% INCLUDE ecm_html/header.html %]

<!-- login_create_confirm -->

<div id="users-contain" class="ui-widget">
	<h1>Create New Jobflow User Confirmation</h1>

	<form action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="processLogin">
		<input type="hidden" name="subaction" value="create_confirm">
	</form>

	<div id="dialog-message" title="Created new Jobflow user" style="display: none;">
	  <p>
	    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Jobflow username [% username %] has been created <br>
		and associated with your [% auth_name %] credentials.<br><br>
		You can now log on with either<br> 
		a) Your account name [% sam_account_name %] OR<br>
		b) Your email address [% email %]<br>
	  </p>
	  <p>A confirmation email has been sent to [% email %]</p>
	  <p>Click on the Ok button to continue to log on.</p>
	</div>
	<p>Test message at bottom</p>
</div>

<script>

	$(document).ready(function() { 

		$( "#dialog-message" ).dialog({
			modal: true,
			height : 400,
			width: 700,
			buttons: {
				Ok: function() {
					$( "form" ).submit();
					$( this ).dialog( "close" );
				}
			}
		});
	});
</script>

[% INCLUDE ecm_html/footer.html %]


