[% INCLUDE ecm_html/header.html %]

<!-- login_create.html -->

<div id="users-contain" class="ui-widget">
	<h1>Create New Jobflow User</h1>

	<form id="createuser" action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="processLogin">
		<input type="hidden" name="subaction" value="create">
	</form>

	<div id="dialog-confirm" title="Create a Jobflow User?">
	  <p>
	    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Create a Jobflow User using the details below?<br><br>
		<table>
		<tr><td>First name</td><td>[% details.fname %]</td></tr>
		<tr><td>Last name</td><td>[% details.lname %]</td></tr>
		<tr><td>Email</td><td>[% details.email %]</td></tr>
		<tr><td>Employee ID</td><td>[% details.employeeid %]</td></tr>
		<tr><td>SAM account name</td><td>[% details.samaccount %]</td></tr>
		<tr><td>Display name</td><td>[% details.displayname %]</td></tr>
		</table>
	  </p>
	</div>

</div>

<script>

$(document).ready(function() {
	$( "#dialog-confirm" ).dialog({
		resizable: false,
		height:400,
		width: 600,
		modal: true,
		buttons: {
			"Create": function() {
				$( "form#createuser" ).submit();
				$( this ).dialog( "close" );
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
} );

</script>

[% INCLUDE ecm_html/footer.html %]


