[% INCLUDE ecm_html/header.html %]

<!-- login_associate.html -->

<div id="users-contain" class="ui-widget">
	<h1>Jobflow Login</h1>
	<div id="dialog-confirm" title="Jobflow Login - Associate credentials">
	  <p>
	    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
		Your credentials match one or more of the Jobflow accounts listed below<br><br>
	  </p>
		<table id="users" class="ui-widget ui-widget-content" >
			<thead>
				<tr class="ui-widget-header">
					<th>Select</th>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Employee ID</th>
				</tr>
			</thead>
			<tbody>
			[% FOREACH r IN candidates %]
				<tr title="userid [% r.id %], default role [% r.rolename %]" id="userid_[% r.id %]">
					<td><input type="radio" name="account" value="[% r.id %]"/></td>
					<td>[% r.fname %] [% r.lname %]</td>
					<td>[% r.username %]</td>
					<td>[% r.email %]</td>
					<td>[% r.employeeid %]</td>
				</tr>
			[% END %]
			</tbody>
		</table>
		<br><span>Please click on one of the rows above to select an account, then click on Associate</span><br>
		<span>Tip: Hover over each option to see the details</span><br>
	</div>
</div>

<div id="dialog-confirm-2" title="Associate this Jobflow user?" style="display: none;">

	<!-- add password for confirmation -->
	<label for="password">Password for existing account <span id="dialog-confirm-account"></span></label>
	<input type="password" name="password" id="password">

  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  This Jobflow account will be associated with your AD credentials. Are you sure?<br><br>
  Please use the password that you use when you logon on with the account that you are trying to associate rather than your DHL AD password.
  </p>
</div>

<div id="dialog-message" title="Login Associate" style="display: none;">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
    <span id="message-content">Message goes here.</span>
  </p>
</div>

[% INCLUDE ecm_html/footer.html %]


