[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Logs</h1>

<div id="tblWrapper">
	<table border="1"> 
	<tr>
		<th>Username</th>
		<th>Table</th>
		<th>Id</th>
		<th>Change</th>
		<th>Date/Time</th>
	</tr>
	[% FOREACH x IN logs %]
	<TR>
		<TD>[% x.username %]</TD>
		<TD>[% x.tablename %]</TD>
		<TD>[% x.rowid %]</TD>
		<TD>[% x.changelog %]</TD>
		<TD>[% x.datetime %]</TD>
	</TR>
	[% END %]
	</table>
</div>

[% INCLUDE ecm_html/footer.html %]

