[% SET extra_css = [ 'ecmstyles', 'newdashboard', 'ajaxpopup' ] %]
[% INCLUDE ecm_html/header.html %]

<script type="text/javascript" src="js/listusers.js"></script>

<script type="text/javascript">

$(document).ready(function(){

    var today	= moment().format('dddd, D/MM/YYYY');
	var opcoid	= $('#newdbopcoid').val();
	// Change Date from top right of the dashboard
        if (!Date.now) {
          Date.now = function() {
                return new Date().getTime();
          }
        }
        var theDate = Date.now();
        var ondate = getTheDate(theDate);
        //document.getElementById('change_date').innerText = ondate;
        get_selected_date(theDate);
        document.getElementById('change_date').innerHTML = "today";
        document.getElementById('change_date').disabled = true;
        $('#change_date').css("background-color", "#e6e6e6");
		document.getElementById('prev').addEventListener("click", function() {
                if(theDate > new Date()){
                        theDate -= 86400000;
					get_selected_date(theDate);
                }if(theDate < new Date()){
                    document.getElementById('change_date').innerHTML = "today";        
                    document.getElementById('change_date').disabled = true;
                    $('#change_date').css("background-color", "#e6e6e6");
                }
        })
        document.getElementById('next').addEventListener("click", function() {
                theDate += 86400000;
			    get_selected_date(theDate);
            document.getElementById('change_date').disabled = false;
            $('#change_date').css("background-color", "#fefefe");
            //$("#showdate").text(monthNames[d.getMonth()] +" "+ d.getDate() +", "+ d.getFullYear());
        })
     document.getElementById('change_date').addEventListener("click", function() {
        get_selected_date(Date.now());
        theDate = Date.now();
        document.getElementById('change_date').disabled = true;
        $('#change_date').css("background-color", "#e6e6e6"); 

        })

	function getTheDate(getDate) {
         var theCDate = new Date(getDate);
         var months = ["January", "February", "March",
        "April", "May", "June", "July", "August",
        "September", "October", "November", "December"
      ]
         $("#showdate").text(months[theCDate.getMonth()] + ' '+('0'+(theCDate.getDate()) ).slice( -2 )+', '+ theCDate.getFullYear());
         return ('0'+theCDate.getDate()).slice(-2) + '/' + ('0'+(theCDate.getMonth()+1)).slice(-2) + '/' + theCDate.getFullYear();
	}
	
	function get_selected_date(theDate) {
		var newDate = getTheDate(theDate);
		opcoid = $('#newdbopcoid').val();
		$("#selected_date").val(format_given_date(newDate));
		$(".boxselected_date").val(format_given_date(newDate));
		updateResource(opcoid, format_given_date(newDate),"DashboardSkillFilter");
		load_calc();
	}
function format_given_date(date) {
        date = date.trim();
	return date.split("/").reverse().join("-");
}
});
</script>

<body onload = "showGraph('[% estimatedHrs %]', '[% actualHrs %]')">
</body>
<input type="hidden" id="selected_date" value="" />

<div  style="height: 60;min-width: 300px;margin-left:15px;">
	<table>
        <tr>
			<td style="padding:10px 0px; float:left">
				<H4 style="font-weight: normal !important;" >Location</H4><BR>
				<select name="opcoid" id="newdbopcoid" [% IF useropcos.size == 0 %]disabled='disabled'[% END %]>
					[% FOREACH o IN useropcos %]
					    <option value="[% o.opcoid %]" [% IF actopcoid == o.opcoid %]selected='selected'[% END %] >[% o.opconame %]</option>
					[% END %]
				</select>
			</td>
			<td style="float:left;">
				<input type="button" value="Filter &#9660;" id="DashboardFilterButton" class="btn" />
				<div id="DashboardFilterMenu" class="menu-list"> <!--Code for menu starts here-->
                        <h3 style="background-color:#F2F2F2" >
                            Select
                            <input type="button" value="Clear all" id="DASHBOARDUNCHECK" class="uncheckbtn"/>
                        </h3>

                        <p class="menu-group-header">Customer</p>
                        <div id="DashboardNewcustID" class="menu-group" >
                        </div>

                        <p class="menu-group-header">Departments</p>
                        <div id="DashboardNewDeptID"  class="menu-group" >
                        </div>

                        <p class="menu-group-header">Media</p>
                        <div id="DashboardNewMediaID" class="menu-group">
                        </div>

                        <p class="menu-group-header">Skill</p>
                        <div id="DashboardNewSkillID" class="menu-group" >
                        </div>
				</div>
			</td>
		</tr>
	</table>
</div>

<div id="dashBoaardData" style="margin-top:25px;margin-left:15px;">
	 <h3 id="planner_h3" onclick="load_calc()" class="planning_header">Planner</h3>
    	<div class="dashboard-calendar">
	       <div id='calendar'></div>
    	</div>

<!-- resources -->
	<h3 id="resourceHeader" class="planning_header" >Resource <span id="resource-count">([% resourcescnt %])<span></h3>
  	<div id="dashboardUserFooter_container">
        <div id="mainblock">
            <H2 id ="showdate" style="padding:5px 0 10px 0;" ></H2>
            <div id="display-date">
                        <div id="change_date"></div>
                        <button id="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
                        <button id="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
               </div>
            <div style="height: 100px;margin-bottom:15px; clear:both;">
		<input type="hidden" class="boxselected_date" value="" />
                 <table>
                    <tr>
                        <td>
                            <form method="post" action="jobflow.pl?action=dashboard&newoperatorstatusFilter=U,A&boxop=[% opcoid %]&mode=json&allflg=0&fromId=1">
                            <div id="pendingdiv" class="defstatusbtn">
                                <font >Pending</font> <BR>
                                <font id="pendingid" size="4">[% pending %]</font> <BR>
                                <font id="pendingEstHrsID" size="1">([% pendingEstimateHrs %] hours)</font>
                            </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="jobflow.pl?action=dashboard&newoperatorstatusFilter=W&boxop=[% opcoid %]&mode=json&allflg=0&fromId=1">
                            <div id="progressdiv" class="defstatusbtn">
                                <font >In Progress</font> <BR>
                                <font id="progressid" size="4">[% inprogress %]</font> <BR>
                                <font id="progressEstHrsID" size="1">([% inprogressEstimateHrs %] hours)</font>
                            </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="jobflow.pl?action=dashboard&newqcstatusFilter=3&newoperatorstatusFilter=&boxop=[% opcoid %]&mode=json&allflg=0&fromId=1">
                            <div id="rejectdiv" class="defstatusbtn">
                                <font >QC Rejected</font> <BR>
                                <font id="rejectid" size="4">[% rejected %]</font> <BR>
                                <font id="rejectEstHrsID" size="1">([% rejectedEstimateHrs %] hours)</font>
                            </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="jobflow.pl?action=dashboard&newqcstatusFilter=1&newoperatorstatusFilter=&boxop=[% opcoid %]&mode=json&allflg=0&fromId=1">
                            <div id="waitqcdiv" class="defstatusbtn">
                                <font >Awaiting QC</font> <BR>
                                <font id="waitqc" size="4">[% waitingforQC %]</font> <BR>
                                <font id="waitqcEstHrsID" size="1">([% waitingforQCEstimateHrs %] hours)</font>
                            </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="#">
                            <div id="totaljobsdiv" class="defstatusbtn" style="background: #fefefe;border: 1px solid #000;">
                                <font style="color: #666;">Total Jobs</font> <BR>
                                <font id="totaljobsid" style="color: #666;" size="4">[% totalJobs %]</font> <BR>
                                <font id="totaljobsEstHrsID" style="color: #666;" size="1">([% FILTER format('%.2f')%] [% totalJobsEstHrs %] [% END %] hours)</font>
                            </div>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="#">
                            <div id="overschdiv" class="defstatusbtn" style="background:red">
                                <font >Over Schedule</font> <BR>
                                <font id="overschid" size="4">[% overschedule %]</font> <BR>
                                <font id="overschEstHrsID" size="1">([% overscheduleEstimateHrs %] hours)</font>
                            </div>
                            </form>
                        </td>
                     </tr>
                </table>
            </div>
        </div>
		<div id="dashboardUser_header">
        	<table id="dashboardUser_header_table" broder="1" width="100%" class="usersHeader">
            	<tbody>
                	<tr>
						<td  width="20%" align="left" class="usersHeader">User</td>
						<!-- PD-3515 Removed Time Logged column until we get sensible values to display -->
						<!-- <td  width="15%" align="middle">Time<br> Logged In</td> -->
 						<td align="middle" width="15%">Jobflow</br> Logged In</td><td width="8%" align="middle">Resource</br> Hours</td>
 						<td width="8%" align="middle">Assigned</br> Hours</td><td width="8%" align="middle">Available</br> Hours</td>
 						<td align="left" width="15%" style="padding-left: 15px;">Location</td><!--<td align="middle" width="15%" >Cost Code</td>-->
                	</tr>
				</tbody>
			</table><hr>
		</div>
		<div id="dashboardUser_details">
		<table id="dashboardUser_details_table" broder="1" width="100%" class="usersHeader" >
			<tbody>
				[% SET user_skills = "" %]
				[% SET resourceHoursTotal 	= "" %]
				[% SET assignedHoursTotal 	= "" %]
				[% SET availableHoursTotal 	= "" %]


				[% FOREACH a IN resources %]
					[% IF a.userlogin  %]

					<tr>
						<td onclick="gotoUserSettings([% a.USERID %])" align="left" width="20%">
							<form id="userSettingsForm_[% a.USERID %]" action="jobflow.pl" method="post">
								<input type="hidden" name="action" value="listusers">
								<input type="hidden" name="sidemenu" value="User Details">
								<input type="hidden" name="sidesubmenu" value="listusers">
								<input type="hidden" name="searchByuserID" value="YES">
								<input type="hidden" name="userID" value="[% a.USERID %]">
								<input name="buttontype" type="submit_[% a.USERID %]" style="display:none">
							</form>

							<form id="userAssignedJobs_[% a.USERID %]" action="jobflow.pl" method="post">
								<input type="hidden" name="formPosted" value="yes" />
								<input type="hidden" name="action" value="dashboard" />
								<input type="hidden" name="assigneeFilter" value="[% a.USERID %]" />
								<input type="hidden" name="myjobsFlg" value="Yes" />
								<input type="submit" id="submit_[% a.USERID %]" style="display:none" />
							</form>

							<span style="color:[% a.colour %]; font-size:20px; font-weight:bold;">&#124;</span>

						<a><span><img class="digitaldesaturate" title="[% a.userSkill.replace(",", "&#013") %]" src="js/images/dashboad_user_img.jpg" height="20px" width="20px"></img></span>&#160;
						<span>[% a.username %]</span></a>
					</td>
					<!-- PD-3515 Removed Time Logged column until we get sensible values to display -->
					<!-- <td onclick="gotoAssignedJob([% a.USERID %])" align="middle" width="15%"><a>[% a.LAST_OS_LOGGEDIN %] </a> </td> -->
					<td onclick="gotoAssignedJob([% a.USERID %])" align="middle" width="15%"><a>[% a.LAST_LOGGEDINTIME %]</a></td>
					<td onclick="gotoAssignedJob([% a.USERID %])" align="right" width="8%"><a>[% a.RESOURCE_HOURS %]</a></td>
					<td onclick="gotoAssignedJob([% a.USERID %])" align="right" width="8%"><a>[% a.ASSIGNED_HOURS %]</a></td>
					<td onclick="gotoAssignedJob([% a.USERID %])" align="right" width="8%"><a>[% a.AVAILABLE_HOURS %]</a></td>
					<td style="padding-left: 25px;" onclick="gotoAssignedJob([% a.USERID %])" align="left" width="15%"><a>[% a.OPCONAME %]</a></td>
					[% resourceHoursTotal     = resourceHoursTotal + a.RESOURCE_HOURS %]
                    [% assignedHoursTotal     = assignedHoursTotal + a.ASSIGNED_HOURS %]
                    [% availableHoursTotal    = availableHoursTotal + a.AVAILABLE_HOURS %]
					[% END %]
				<!-- </form> -->
				</tr>
				[% END %] 
			</tbody>
		</table>
		</div>
		</br><hr>

		<div>
			<table id="dashboardUser_footer" broder="1" width="100%">
				<tbody>
					<tr>
						<td align="left" width="20%"></td>
                    	<td align="middle" width="32%">Total:</td>
                    	<td id="resourceHoursTotal" align="right" width="0%"></td>
                    	<td id="assignedHoursTotal" align="right" width="11%"></td>
                    	<td id="availableHoursTotal" align="right" width="11%"></td>
                    	<td align="left" width="15%"></td>
                    	<td align="middle" width="15%"></td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
<!-- As we are not going to have any analytics for the release.
	 <h3 id="analytics_h3" aria-selected="false" >Analytics</h3>
		<div id="dashboard_analytics_content">
        	<h3 class = "job">
            	<span>Job Analytics</span>
	            <span class = "circle" style = "margin-left:500px; background-color :#006699;"></span>
    	        <span>&nbspEstimated Hours</span>
        	    <span class = "circle" style = "margin-left:30px; background-color:#66CCFF;"></span>
            	<span>&nbspActual Hours</span>
	        </h3>
    	    <div id ="graphContainer"><canvas id="myChart" width="800" height="380" style = "float:left"></canvas></div>
		</div>
-->
	</div>
  </div>
</div>
	<div id="loading" style="display:none;"><img src="js/images/loading1.gif" alt="" />Loading!</div>

