[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

[% USE date %]

<h1>News</h1>
<br>

<div id="tblWrapper">
	<table border="1"> 
	[% FOREACH n IN newsitems %]
	<TR>
		<TD width="600"><h3>[% n.subject %]</h3></TD>
	</TR>
	<TR>
		<td width="600" style="line-height:20px;">[% n.content %]</td>		
	</TR>
	<TR>
		<TD style="font-size:10px;font-style:italic;">[% date.format(n.timestamp, '%d-%m-%y') %]</TD>
	</TR>
	[% END %]
	</table>
</div>

[% INCLUDE ecm_html/footer.html %]

