[% SET extra_css = [ "ecmstyles" ] %]

<!-- To display contact page for vendor-->
[% IF roleid == 2%]
	[% INCLUDE ecm_html/support.html %]
[% ELSE %]
	[% INCLUDE ecm_html/header.html %]
	<div id="loginBox">
		<h1>Restricted Access</h1>
		<h3>[% message || 'You do not have permission to view this page' %]</h3>
	</div>
	[% INCLUDE ecm_html/footer.html %]
[% END %]

