[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Reject Jobs</h1>

Jobs: [% FOREACH j IN jobs %][% j %],[% END %]<br><br>
[% message %]
<br>
<form action="jobflow.pl" method="post" onsubmit="return xSubmit(this);">
<input type="hidden" name="action" value="selectVendor">
<input type="hidden" name="rejectjobsacctman" value="rejectjobsacctman">
<input type="hidden" name="jobs" value="[% FOREACH j IN jobs %][% j %],[% END %]">
<input type="hidden" name="formPosted" value="yes">


<div id="rejtblWrapper">
<table>
	<tr>
		<td colspan="2">These Job(s) will be rejected:
			[% FOREACH j IN jobs %][% j %],[% END %]	
		</td>
	</tr>
	<tr>
		<td>
			<strong>Reason:</strong><br>
			<select name="commentid" style="width:300px">
				[% currentctype = "R" %]
				<option value = "0">[ Select rejection reason ]</option> 
				[% FOR c IN commentslist %]
					[% IF c.ctype != currentctype %]
					<option value = "0">&nbsp; </option>
					<option value = "0">[ Select advisory reason ]</option>
					[% END %]
					[% currentctype = c.ctype %]
					<option value="[% c.id %]">[% c.comment %]</option>
				[% END %]

			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">Comment:</td>
	</tr>
	<tr>
		<td colspan="2">
			<textarea name="rejectionReason" rows="5" cols="70"></textarea>
		</td>
	</tr>
	
</table>
</div>

<input type="submit" value="Reject Job(s)" [% IF oktogo == 0 || formPosted == "yes"  %]disabled='disabled'[% END %]>
</form>

[% INCLUDE ecm_html/footer.html %]

