[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<div id="pagewrapper">

<h1>Job [% jobid %] has been rejected</h1>
<br>
[% IF message.length > 0 %]
<h4>[% message %]</h4>
[% END %]
<br>
<br>
Please request another job:<br>
<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="selectVendor" />
	<input type="submit" value="Request Job" name="requestjob" class="btn">
</form>
</div>


[% INCLUDE ecm_html/footer.html %]

