[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Check-OUT from Repository requested for the following jobs:</h1>


Jobs:<h2> [% FOREACH j IN jobs %][% j %],[% END %] </h2><br>

[% IF message.length > 0 %]
<h2>[% message %]</h2>
[% END %]

<br>

[% INCLUDE ecm_html/footer.html %]

