[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<form action="jobflow.pl" method="post">
<h1>Check In Jobs into the Repository</h1>
[% IF cancheckin.size > 0 %]
These jobs can be checked in:
<ul>
[% FOREACH j IN cancheckin %]
	<li>
		[% j.job_number %]
		[% IF j.shards.size() %]([% FOREACH shard IN j.shards %]
			<input type='checkbox' checked="checked" id="[% j.job_number %]-[% shard %]" name="[% j.job_number %]-[% shard %]">
			<label for="[% j.job_number %]-[% shard %]">[% shard %]</label>
		[% END %])[% END %]
	</li>
[% END %]
</ul>
[% END %]
<br><br>

[% IF cantcheckin.size > 0 %]
These jobs will <strong>not</strong> be checked in: [% FOREACH j IN cantcheckin %][% j %],[% END %]<br>
[% END %]

[% IF message.length > 0 %]
<h2>[% message %]</h2>
[% END %]

<br>
<input type="hidden" name="action" value="processRepoCheckIn">
<input type="hidden" name="jobs" value="[% FOREACH j IN cancheckin %][% j.job_number %],[% END %]">

<br>
<br>
<input type="submit" value="Check In" [% IF cancheckin.size == 0 || oktogo == 0 %]disabled="disabled"[% END %] >
</form>

[% INCLUDE ecm_html/footer.html %]

