[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Check OUT Jobs from the Repository</h1>

<form action="jobflow.pl" method="post">
[% IF cancheckout.size > 0 %]
These jobs can be checked out:
<ul>
[% FOREACH j IN cancheckout %]
	<li>
		[% j.job_number %]
		[% IF j.shards.size() %]([% FOREACH shard IN j.shards %]
			<input type='checkbox' checked="checked" id="[% j.job_number %]-[% shard %]" name="[% j.job_number %]-[% shard %]">
			<label for="[% j.job_number %]-[% shard %]">[% shard %]</label>
		[% END %])[% END %]
	</li>
[% END %]
</ul>
[% END %]
<br><br>

[% IF cantcheckout.size > 0 %]
These jobs will <strong>not</strong> be checked out: [% FOREACH j IN cantcheckout %][% j %],[% END %]<br>
[% END %]

[% IF message.length > 0 %]
<h2>[% message %]</h2>
[% END %]

<br>
<input type="hidden" name="action" value="processRepoCheckOut">
<input type="hidden" name="jobs" value="[% FOREACH j IN cancheckout %][% j.job_number %],[% END %]">
<br>
<strong>Destination:</strong>&nbsp;
<select name="opcoid">
	[% FOREACH opco IN locations %]
		<option value="[% opco.opcoid %]">[% opco.opconame %]</option>
	[% END %]
</select>
<br>
<br>
<input type="submit" value="Check Out" [% IF cancheckout.size == 0 || oktogo == 0 %]disabled="disabled"[% END %] >
</form>

[% INCLUDE ecm_html/footer.html %]

