[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<div id="topwrapper" style="float:left; width:85%;border: 0px solid black;">
<h1>Send Job(s) to a Studio</h1>


<form action="jobflow.pl" method="post">
[% IF cancheckout.size > 0 %]
These jobs can be sent:
<ul>
[% FOREACH j IN cancheckout %]
	<li>
		[% j.job_number %]
		[% IF j.shards.size() %]([% FOREACH shard IN j.shards %]
			<input type='checkbox' id="[% j.job_number %]-[% shard %]" name="[% j.job_number %]-[% shard %]">
			<label for="[% j.job_number %]-[% shard %]">[% shard %]</label>
		[% END %])[% END %]
	</li>
[% END %]
</ul>
[% END %]
<br><br>

[% IF cantcheckout_jobs != "" %]
These jobs will <strong>not</strong> be sent: 
<span style="word-wrap: break-word;">
[% cantcheckout_jobs %]
</span>
<br>
[% END %]

[% IF message != "" %]
<h2>[% message %]</h2>
[% END %]

<br>
<input type="hidden" name="action" value="processRepoSendJobs">
<input type="hidden" name="jobs" value="[% FOREACH j IN cancheckout %][% j.job_number %],[% END %]">
<br>
<strong>Destination:</strong>&nbsp;
<select name="opcoid">
	[% FOREACH opco IN locations %]
		<option value="[% opco.opcoid %]">[% opco.opconame %]</option>
	[% END %]
</select>
<br>
<br>
<!--<input type="submit" value="Send Job(s) to selected Studio" [% IF cancheckout.size == 0 || oktogo == 0 %]disabled="disabled"[% END %] >-->
<input type="submit" value="Send Job(s) to selected Studio">
</form>
</div>
[% INCLUDE ecm_html/footer.html %]

