[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="sendjobs_requested_container">
	<h1>'Send Jobs' requested for the following jobs:</h1>
	<!-- Jobs:<h2> [% FOREACH j IN jobs %][% j %], [% END %] </h2><br> -->
	Jobs:<h2>[% requested_jobslists %]</h2><br>
	[% IF message != "" %]
	<h2>[% message %]</h2>
	[% END %]
	<br>
</div>

[% INCLUDE ecm_html/footer.html %]

