[% INCLUDE ecm_html/header.html %]


<div id="pagewrapper">

<h1>Request Job</h1>
<br>
[% IF message.length > 0 %]
<h4>[% message %]</h4>
[% END %]
<br>
<br>
[% IF jobid > 0 %]
Go to job: <a href="jobflow.pl?action=showJob&jobid=[% jobid %]">[% jobid %]</a>
[% END %]

</div>


[% INCLUDE ecm_html/footer.html %]

