[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Restore Jobs</h1>

[% IF success == 1 %]
<h3>[%message%]</h3>
[% END %]
[% IF failure == 1 %]
<br><br>
<h3>[%warning%]</h3>
[% END %]

[% INCLUDE ecm_html/footer.html %]

