[% SET extra_css = [ "sendCommon", "sendByEmail", "sendByFtp", "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<!-- send_by_email.html -->

<style media="screen" type="text/css">
	.disabled { color: grey; }
	#header h2, hr{margin-left:20px;}
</style>
<link rel="stylesheet" type="text/css" href="styles/sendCommon.css">
<link rel="stylesheet" type="text/css" href="styles/sendByEmail.css">
<link rel="stylesheet" type="text/css" href="styles/file_name_overrides.css">

<script type="text/javascript">

	// Called the first time the user clicks the Add button, gets the list of potentail recipients & shows the hidden text field
	var populateReceipList = function() { // initial ajax call to get list of email id/addresses for customer
		console.log( "populateReceipList called" );
		$.getJSON('ajax/getcustomeraddresses.pl?customerid=[% customerId %]',
			function( data ) {
				console.log( "populateReceipList received " + data.length + " items" );
				$("#notificationOptions").append( '<select id="addRecipient" style="display:none"></select>' );
				$.each(data, function(index, object) {
					$('#addRecipient').append( '<option value="' + this['id'] + '">' + this['email'] +'</option>' );
				});
				$('#addRecipientText').show();
			} 
		);
	} 

	// Returns a list (array of hash) of the remaining potential recipients
	var remainingRecipients = function () {
		children = $( "#addRecipient" ).children( "option" );
		console.log("remainingRecipients: children " + children.length );
		var listOfRecipients = [];
		for( i = 0; i < children.length; i++ ) { 
			var recipObj = {};
			recipObj['label'] = children[i].text; 
			recipObj['value'] = children[i].value;
			listOfRecipients.push(recipObj);
		};
		return listOfRecipients;
	}

	// Handles the click on the Remove popup menu item
	var emailUnselector = function(event) {
		id = $(this).attr("id").split("recip_");
		id = id[1];
		email = $(this).find("figure").find("figcaption").text();
		$('#addRecipient').append( '<option value="' + id + '">' + email +'</option>' ); // add the user back to the select list
		$(this).remove(); // remove from the list of those selected, along with its input checkbox
	};

	// Add the selected email (& corresponding id) to the list of those selected
	// - adds a hidden input to pass the selection back on form post
	// displays an icon with users email addess & caret for pop up menu (with just Remove option)
	var addEmailAndId = function( id, email ) {
		console.log( "addEmailAndId id " + id + ", email " + email );

		// the previous way with figure and figcaption, it was usable, but not like CMD v5
		content = '<input type="hidden" name="recipient" value="' + id + '">';
		content = content + '<figure><img class="usericon" src="images/200.jpg" ><figcaption>' + email + '</figcaption></figure>';
		content = '<div id="recip_' + id + '" class="recipuser" >' + content + '</div>';

		$('#sendToRecipients > ul').append( content ); // add to selected list
		$("#addRecipient").find('option[value="'+id+'"]').remove(); // Remove from selectable list
		$('div#recip_' + id).click( emailUnselector ); // Remove from selected list if user clicks on icon or text
	}

	var removeEmail = function( event ) { // Handle when the user clicks on the minus button to remove extra To/CC fields
		console.log( "removeEmail called" );
		$(event.target).closest('tr').remove(); // remove the table row containing the button and input email field
	}

	var validateForm = function(event) {
		var allGood = true;
		var errors = [];
		var rename_re = /^\w+$/;
		fields = $("#mid-panel").find(".validate");
		for (var i = 0; i < fields.length; i++ ) {
			f = fields[i]; val = f.value; fielderror = false;
			classes = f.className.split(' ');
			for( var j = 0; j < classes.length; j++ ) {
				switch ( classes[ j ] ) {
					case  "validate":
						break;
					case "required":
						if ( val == "" ) {
							fielderror = true;
						}
						break;
					case "renameField":
						if (( val != "" ) && ( ! rename_re.test( val ) ) ) {
							fielderror = true;
						}
						break;
					default:
						break;
				}
			}
			if ( fielderror ) {
				$(f).addClass( "error" );
				$(f).css({'border-color' : "red"});
					
			} else {
				$(f).removeClass( "error" );
				$(f).css({'border-color' : "lightgrey"});
			}
			if ( fielderror ) {
				allGood = false;
			}
		}
		return allGood;
	};

	$(document).ready(function() {

		//$('#addRecipientBtn').click( function() { 
		//	$(this).hide(); // Hide Add Button
		//	e = $('#addRecipient');
		//	if ( e.length ) {
		//		$('#addRecipientText').val(''); // clear field before showing
		//		$('#addRecipientText').show(); // show addRecipientText text field
		//	} else {
		//		populateReceipList(); // which also enables addRecipientText when done
		//	} 
		//} );

		//$('#addRecipientText').autocomplete( {
		//	source: function( request, response ) {
		//		if ( request.term == '' ) {
		//			response( $.grep( remainingRecipients(), function( item ) { return true; } ) );
		//		} else {
		//			var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
		//			response( $.grep( remainingRecipients(), function( item ) { return matcher.test( item['label'] ); } ) );
		//		} },
		//	minLength: 0,
		//	//autofocus: true,
		//	select: function( event, ui ) {
		//		//console.log("autocomplete.select: ui.item.label " + ui.item.label + " value " + ui.item.value );
		//		addEmailAndId( ui.item.value, ui.item.label ); // id=ui.item.value, email=ui.item.label
		//		// Hide the input text and display the + Add button
		//		$('#addRecipientText').hide();
		//		$('#addRecipientBtn').show();
		//		return false; // we dont want value appearing in text field
		//	}
		//});

		$('#addTo').click( function() {
			//console.log("addTo called" );
			content = '<td class="emaillabel">&nbsp;</td>';
			content = content + '<td><input type="email" name="email" class="validate emailfield required" value="[% email %]" placeholder="Enter Email Address" ></td>';
			content = content + '<td><button type="button" class="add_email" onclick="removeEmail(event);">-</button></td>';
			content = '<tr>' + content + '</tr>';
			$('#toContainer tbody').append( content );
		});

		$('#addCc').click( function() {
			//console.log("addCc called" );
			content = '<td class="emaillabel">&nbsp;</td>';
			content = content + '<td><input type="email" name="emailcc" class="validate emailfield" value="[% email %]" placeholder="Enter Email Address" ></td>';
			content = content + '<td><button type="button" class="add_email" onclick="removeEmail(event);">-</button></td>';
			content = '<tr>' + content + '</tr>';
			$('#ccContainer tbody').append( content );
		});

		$( "form" ).submit( validateForm );
	});
</script>
	
<div id="filedeliveryheader" style="float:top">

	<h2><span class="filedellabel">File Delivery - &nbsp;</span><span class="filedeltype">Email</span></h2>

	[% IF (subaction != "Digital") && (subaction != "Index") %]
		<h2><span class="filetypeslabel">File Types:&nbsp;</span><span class="filetypeslist">[% file_type_list %]</span></h2>
	[% END %]

[% IF errormessages.0 OR warningmessages.0 %]
	</hr>
	<h2>File Delivery Messages</h2>
	[% FOREACH msg IN errormessages %]
		<h3 class="error">[% msg %]</h3>
	[% END %]
	[% FOREACH msg IN warningmessages %]
		<h3 class="warning">[% msg %]</h3>
	[% END %]
	
[% END %]

</div> <!-- end of filedeliveryheader -->

<br>

<form action="jobflow.pl" id="sendemail" method="post" accept-charset="utf-8">

[% IF NOT errormessages.0  %] [%# If an errors just display Cancel button %]

	<input type="hidden" name="jobs" value="[% joblist %]">
	<input type="hidden" name="customerId" value="[% customerId %]">
	<input type="hidden" name="uuidstr" value="[% uuidstr %]">
	<input type="hidden" name="action" value="sendByEmail">
[% IF subaction != "" %]
	<input type="hidden" name="subaction" value="[% subaction %]">
	<input type="hidden" name="formPosted" value="yes">
[% END %] 
[% FOREACH ft IN file_types_for_display %]
	[% IF ft.checked == 1 %]
	<input type="hidden" name="[% ft.name %]" value="on" >
	[% END %]
[% END %]
<br>
[% IF subaction == "" %]
	<div id="mid-panel" style="float:left">

		<div id="selectSubaction" >
			<select name="subaction">
			<option value="" selected>Please Select</option>
			<option value="Client">Client</option>
			<option value="MediaOwner">Media Owner</option>
			<option value="Vendor">Vendor</option>
			<option value="Digital">Digital Link</option>
			</select>
		</div>

		<!-- let user select the subaction and display available file types-->
		[% SET additionalfiletypes = 1 %]
		[% INCLUDE ecm_html/addn_file_options.html %] 
	</div>
[% ELSE %] 
	<div id="mid-panel" style="float:top" >

		 <!--  INCLUDE ecm_html/email_notifications.html -->
		<div id="notifications" style="float:right" >
 			<div id="notificationOptions">
				<span>NOTIFICATIONS</span>
			</div>
			<div id="sendToRecipients">
				<table>
					<!--<thead>
						<th>Select</th><th>Email</th>
					</thead> -->
					<tbody>
					[% FOREACH r IN recipients %]
					<tr>
						<td><input type="checkbox" name="recipient" class = "cbx cbx-sm" value="[% r.id %]"></td><td class = "filedeltype">[% r.email %]</td>
					</tr>
					[% END %]
					</tbody>
				</table>
			</div>
		</div>

		<div id="emailDelivery">
[% IF ( subaction == "Vendor" ) %]
			<label for="vendorId" class="emaillabel">To&nbsp; &nbsp;</label>
			<select name="vendorId" id="vendorId" [% IF ( oktogo == 0 ) %]disabled='disabled'[% END %]>
				[% FOREACH vendor IN vendors %]
				<option value="[% vendor.id %]" [% IF ( vendorId == vendor.id ) %] selected [% END %]>[% vendor.companyname %] ([% vendor.email %])</option>
				[% END %]
			</select>
[% ELSIF ( subaction == "MediaOwner" ) %]
			<label for="MediaOwnerId" class="emaillabel">To&nbsp; &nbsp;</label>
[% IF publicationemail == "" %]
			<select name="publicationEmail" id="MediaOwnerId" >
				[% FOREACH entry IN publicationemaillist %]
				<option value="[% entry.email %]">[% entry.email %] ([% entry.country %])</option>
				[% END %]
			</select>
[% ELSE %]
			<input type="text" name="publicationEmail" class="emailfield" id="MediaOwnerId" value="[% publicationemail %]" readonly>
[% END %] [%# end if publicationemail == "" %]
[% ELSIF ( subaction == "Client" || subaction == "Digital") || (subaction == "Index") %]

			<div id="toContainer" >
				<table>
					<tr>
						[%# Always display the 1st TO element %]
						<td class="emaillabel">To</td>
						<td><input type="email" name="email" id="ClientId" class="validate emailfield required" value="[% emailto.0 %]" placeholder="Enter Email Address" ></td>
						<td><button type="button" class="add_email" id="addTo">+</button></td>
					</tr>
				[% FOREACH item IN emailto %]
				[% NEXT IF loop.first %]
					<tr>
						<td class="emaillabel">>&nbsp;</td>
						<td><input type="email" name="email" class="validate emailfield required" value="[% item %]" placeholder="Enter Email Address" ></td>
						<td><button type="button" onclick="removeEmail(event);">-</button></td>
					</tr>
				[% END %]
				</table>
			</div>
[% ELSE %]
			<!-- Other sub action such as '' -->
[% END %] [%# end if subaction = ... for TO section %]
[% IF ( subaction == "Client") || (subaction == "Digital") || (subaction == "MediaOwner") || (subaction == "Index") %]
			<div id="ccContainer">
				<table>
					<tr>
						<td class="emaillabel">cc</td>
						<td><input type="email" name="emailcc" id="ClientIdCC" class="validate emailfield" value="[% emailcc.0 %]" placeholder="Enter Email Address" ></td>
						<td><button type="button" class="add_email" id="addCc">+</button><span> &nbsp; </span></td>
						[%# Perhaps should use Vimals regular-checkbox here but it currently displays a small checkbox %]
						<td><label class="sendlinkcc"><input type="checkbox" name="sendlinkcc" class="cbx cbx-sm"/>Send link to cc recipients</label></td>
					</tr>
				[% FOREACH item IN emailcc %]
				[% NEXT IF loop.first %]
					<tr>
						<td class="emaillabel">&nbsp;</td>
						<td><input type="email" name="emailcc" class="validate emailfield required" value="[% item %]" placeholder="Enter Email Address" ></td>
						<td><button type="button" onclick="removeEmail(event);">-</button></td>
					</tr>
				[% END %]
				</table>
			</div>

[% END %] [%# end if subaction = ... for CC section %]
		</div>  <!-- end of emailDelivery -->

		<label for="emailsubject" class="emaillabel">Subject:</label>
		<input type="text" name="emailsubject" class="emailsubject input_rounded" id="emailsubject" value="[% emailsubject %]" ><br>

		<textarea rows="16" id="emailcontent" name="emailcontent" class="input_rounded" >[% emailcontent %]</textarea><br>

		<span>&nbsp;</span>

		<br>
   		[% IF subaction != "Index" %]
			[% INCLUDE ecm_html/file_name_overrides.html %]
    	[% END %]
		<br>

	</div> [%# end of mid panel %]
[% END %] [%# end if action == '' %]
[% END %] [%# end if NOT errormessages.0 %]

		<br><hr/><br>
		[% IF errormessages.0 %]
			<!-- Just display Cancel button -->
		[% ELSIF subaction == "" %]
		<input type="submit" id="sendBtn" value="Next" class="ui-corner-all bluebtn">
		[% ELSE %]
		<input type="submit" id="sendBtn" value="Send" class="ui-corner-all bluebtn">
		[% END %]
		<a href="[% applicationurl %]?action=dashboard">
			<input type="button" id="cancelBtn" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="Cancel" />
		</a>
	
</form>

[% INCLUDE ecm_html/footer.html %]
