[% SET extra_css = [ "ecmstyles", "ajaxpopup", "joblist" ] %]
[% INCLUDE ecm_html/header.html %]


<h1>Jobs Sent for FTP Delivery</h1>

The jobs sent: [% joblist %]<br>
<br>
<br>
The selected jobs (listed above) have been packaged and have been queued for FTP delivery.<br>
<br>

<h3>Summary of jobs sent</h3>
	[% FOREACH msg IN messages %]
		<h4>[% msg %]</h4>
	[% END %]


[% INCLUDE ecm_html/footer.html %]

