[% INCLUDE ecm_html/header.html %]

<!-- send_by_publication.html -->

<style media="screen" type="text/css">
	.disabled { color: grey; }
</style>

<h1>File Delivery</h1>
	[% FOREACH msg IN errormessages %]
		<h2 class="error">[% msg %]</h2>
	[% END %]

<div id="wrapper">

	<form action="jobflow.pl" method="post" accept-charset="utf-8">
	<input type="hidden" name="action" value="sendByPublication">
	<input type="hidden" name="jobs" value="[% joblist %]">
	<input type="hidden" name="customerId" value="[% customerId %]">
	<input type="hidden" name="formPosted" value="yes">
	<input type="hidden" name="uuidstr" value="[% uuidstr %]">

	<div id="leftPanel" style="float:left">

		<div id="emailDelivery" style="border-style:solid;border-width:1px;padding:10px; margin:10px;">
			<h3>Publication name: [% publicationName %]</h3>
			<hr/>
			<h3>Email: [% publicationEmail %]</h3>
			<br>
			<input type="submit" id="sendToVendorBtn" value="Email To Publication" [% IF ( oktogo == 0) %]disabled='disabled'[% END %] class="btn"  >
		</div>

		[% INCLUDE ecm_html/addn_file_options.html %] 

	</div>

	<div id="rightPanel" style="float:left;">
		[% INCLUDE ecm_html/file_name_overrides.html %]
		[% INCLUDE ecm_html/email_notifications.html %]
	
		<textarea name="emailPreview" rows=10 cols=80 >[% emailbody %]</textarea>

	</div>

	</form>

</div>

[% INCLUDE ecm_html/footer.html %]

