[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<!--
<h1>Jobs Sent to [% targettype %] [% targetname %]</h1>

The jobs sent: [% joblist %]<br>
<br>
!-->
<br>
<!--
[% IF (targettype == "Digital") || (targettype == "Index") %]
The selected job asset has been attached to the email.
[% ELSE %]
The selected jobs (listed above) have been packaged and are now available for download to the [% targettype %].<br>
[% END %]
!-->

[% IF subaction == "Digital" %]
	<span style="color:black; font-size:16px;">Digital link has been sent for following jobs: [% joblist %]</span>	
[% END %]

[% IF subaction == "Index" %]
	<span style="color:black; font-size:16px;">Index link has been sent for following jobs: [% joblist %]</span>
[% END %]

<br><br>
[% IF (subaction != "Digital") && (subaction != "Index") %]
	<span style="color:black; font-size:16px;">The selected jobs are now available for download</span>
	<br><br>
	<table align="left" width="80%" class="table_border">
		<tr class="table_border table_header">
			<td align="center" width="20%" class="table_border" nowrap="true">Job Number</td>
			<td align="center" class="table_border">Assets</td>
		</tr>
		[% FOREACH bl IN bundlelinks %]
			<tr class="table_border">
				<td align="left" class="table_border">
					<a title="Click to view asset types" href="[% bundle_url %]?action=downloadbundle&bundleid=[% bl.bundle_uuid %]">[% bl.job_number %]</a>
				</td>
			
				<td align="left" class="table_border">[% bl.asset_labels %]</td>
			</tr>
		[% END %]
	</table>
	<br><br>
[% END %]

<table width="100%"><tr><td><br></td></tr></table>
<table width="100%">
<tr>
<td>
[% IF (targettype == "Client") || (targettype == "Digital") || (targettype == "Index") %]

An email has been sent to the following addresses<br>
[% FOREACH email IN emailto %]
To [% email %]<br>
[% END %]

<br>

[% IF emailcc.0 %]
The following addresses have been copied in.<br>
[% FOREACH email IN emailcc %]
CC [% email %]<br>
[% END %]

[% IF sendlinkcc == "on" %]
and they have been sent a copy of the link also.<br>
[% END %]
[% END %]

[% ELSE %]
An email has been sent to [% email %] with the download link.
[% END %]
</td>
</tr>
</table>
[% INCLUDE ecm_html/footer.html %]

