[% SET extra_css = [ "sendByFtp", "sendByEmail", "sendCommon", "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<!-- send_by_ftp.html -->

<style media="screen" type="text/css">
	.disabled { color: grey; }
	#header h2, hr{margin-left:20px;}
</style>
<link rel="stylesheet" type="text/css" href="styles/sendCommon.css">
<link rel="stylesheet" type="text/css" href="styles/sendByFtp.css">
<link rel="stylesheet" type="text/css" href="styles/file_name_overrides.css">

<script type="text/javascript">

	var validateForm = function(event) {
		var allGood = true;
		var errors = [];
		var rename_re = /^\w+$/;
		fields = $("#left-panel").find(".validate");
		for (var i = 0; i < fields.length; i++ ) {
			f = fields[i]; val = f.value; fielderror = false;
			classes = f.className.split(' ');
			for( var j = 0; j < classes.length; j++ ) {
				switch ( classes[ j ] ) {
					case  "validate":
						break;
					case "required":
						if ( val == "" ) {
							fielderror = true;
						}
						break;
					case "renameField":
						if (( val != "" ) && ( ! rename_re.test( val ) ) ) {
							fielderror = true;
						}
						break;
					default:
						break;
				}
			}
			if ( fielderror ) {
				$(f).addClass( "error" );
			} else {
				$(f).removeClass( "error" );
			}
			if ( fielderror ) {
				allGood = false;
			}
		}
		return allGood;
	};

	$(document).ready(function() {

		// Enable the send button if user changes FTP destination
		$("[type='select'][name][name='ftpid']").change(function(event) {
			console.log( "Select changed " + $(this).val()  );
			$("#deliverViaFTPBtn").attr( "disabled", false );
			return false;
		});

		$( "form" ).submit( validateForm );
	
	});

</script>
	
<div id="header" style="float:top">
	<h2><span class="filedellabel">File Delivery - &nbsp;</span><span class="filedeltype">FTP</span></h2>
	<h2><span class="filetypeslabel">File Types:&nbsp;</span><span class="filetypeslist">[% file_type_list %]</span></h2>
</div>
[% IF errormessages.0 %]
	<hr/> [%# If there are any error messages, just display then and the Cancel button %]
	<h3>File Delivery Messages</h3>
	[% FOREACH msg IN errormessages %]
		<h2 class="error">[% msg %]</h2>
	[% END %]
	[% FOREACH msg IN warningmessages %]
		<h2 class="warning">[% msg %]</h2>
	[% END %]
	<a href="[% applicationurl %]?action=dashboard">
		<input type="button" id="cancelBtn" class="ui-corner-all whitebtn" value="Cancel" />
	</a>
[% ELSE %]
	[% FOREACH msg IN warningmessages %]
		<h2 class="warning">[% msg %]</h2>
	[% END %]
<hr/>

<form action="jobflow.pl" method="post" accept-charset="utf-8">
	<input type="hidden" name="jobs" value="[% joblist %]">
	<input type="hidden" name="customerId" value="[% customerId %]">
	<input type="hidden" name="formPosted" value="yes">
	<input type="hidden" name="action" value="sendByFTP">
[% FOREACH ft IN file_types_for_display %]
	[% IF ft.checked == 1 %]
	<input type="hidden" name="[% ft.name %]" value="on" >
	[% END %]
[% END %]

	<div id="left-panel" style="float:left">
		<div id="ftpDelivery">
			<br>
			<label for="ftpid">Select FTP Server:&nbsp; &nbsp;</label>
			<select name="ftpid" id="ftpid" [% IF ( customerId == 0 ) %]disabled='disabled'[% END %]>
				[% FOREACH ftp IN ftpdeliveries %]
					<option value="[% ftp.id %]" [% IF ( ftpid == ftp.id ) %] selected [% END %]>[% ftp.label %]</option>
				[% END %]
			</select>
		</div>

		[% INCLUDE ecm_html/file_name_overrides.html %]
	</div> <!-- end of left_panel -->

	<div id="right-panel" style="float:left;">
		 <!--  INCLUDE ecm_html/email_notifications.html -->
		<div id="notifications" style="float:right" >
 			<div id="notificationOptions">
				<span>NOTIFICATIONS</span>
			</div>
			<div id="sendToRecipients">
				<table>
					<!--<thead>
						<th>Select</th><th>Email</th>
					</thead> -->
					<tbody>
					[% FOREACH r IN recipients %]
					<tr>
						<td><input type="checkbox" name="recipient" class = "cbx cbx-sm" value="[% r.id %]"></td><td class = "filedeltype">[% r.email %]</td>
					</tr>
					[% END %]
					</tbody>
				</table>
			</div>
		</div>
	</div>
<br>
		<br>
		<hr/>
		<br>
[% IF (oktogo == 1) %]
		<input type="submit" id="deliverViaFTPBtn" value="Send" class="ui-corner-all bluebtn" />
[% END %]
		<a href="[% applicationurl %]?action=dashboard">
			<input type="button" id="cancelBtn" class="ui-corner-all whitebtn" value="Cancel" />
		</a>

</form>

[% END %]

[% INCLUDE ecm_html/footer.html %]

