[% SET extra_css = [ "sendCommon", "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Send Job(s) asset(s) to CMD</h1>
<br>

[% IF errormessages.0 OR warningmessages.0 %]
        </hr>
        <h2>File Delivery Messages</h2>
        [% FOREACH msg IN errormessages %]
                <h3 class="error">[% msg %]</h3>
        [% END %]
        [% FOREACH msg IN warningmessages %]
                <h3 class="warning">[% msg %]</h3>
        [% END %]
[% ELSE %]
<span>The following job(s) asset(s) are initiated to copy to CMD <BR>[% joblist %]</span><br>
[% END %]


[% INCLUDE ecm_html/footer.html %]
