[% INCLUDE ecm_html/header.html %]

<h1>Checking out</h1>

Check out has been requested for these jobs: [% FOREACH j IN jobs %][% j %],[% END %]<br>
<br>

[% IF errors > 0 %]

<br>
<h4>[% errorMessage %]</h4>

[% END %]
[% INCLUDE ecm_html/footer.html %]

