[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]
<script type="text/javascript">
<!--
function popup(mylink, windowname)
{
	alert("Here!");
	if (! window.focus)
		return true;

	var href;
	if (typeof(mylink) == 'string')
   		href=mylink;
	else
   		href=mylink.href;

	window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
	return false;
}

$(function()
{
	$(".datepicker").datepicker();
	$(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
	$(".datepicker").datepicker("option", "showAnim", "slideDown");
});

//-->
</script>

<div id="tblWrapper">

[% IF needsparameters %]
<h1>Report Parameters for [% title %]</h1>
<form action="jobflow.pl" method="post">
	<input type="hidden" name="reportid" value="[% reportid %]" />
	<input type="hidden" name="action" value="showreport" />
	<input type="hidden" name="formposted" value="yes" />
	
	<table>
		[% IF parameters.size > 0 %]
		<tr>
			<th>Parameter</th>
			<th>Value</th>
		</tr>
		[% END %]
		
		[% FOREACH p IN parameters %]
		<tr>
			<td>[% p.description %]</td>
			<td><input type="text" name="[% p.name %]" value="[% p.defaultvalue %]" [% IF p.class == "Timestamp" OR p.class == "Date" %]class="datepicker"[% END %] /></td>
		</tr>
		[% END %]
		
		[% IF exports %]
		<tr>
			<th>Export settings</th>
			<th></th>
			<tr>
				<td>Output Format:</td>
				<td>
					<select name="reportstyle">
						<option value="pdfexport" selected="selected">PDF Export</option>
						[% IF xmlexport %]<option value="xml">XML Export</option>[% END %]
						[% IF xlsexport %]<option value="xls">XLS Export</option>[% END %]
						[% IF xlsxexport %]<option value="xlsx">XLSX Export</option>[% END %]
						[% IF htmexport %]<option value="htm">HTML Export</option>[% END %]
					</select>
				</td>
			</tr>
		[% END %]
	</table>
	<input type="submit" value="Generate Report" />
</form>
[% ELSE %]

<h1>Report for [% title %]</h1>
	<iframe id="fred" style="border:1px solid #666CCC" title="[% reportstyle %] in an i-Frame" src="stream/streamreport.pl?reportid=[% reportid %]&reportstyle=[% reportstyle %]" frameborder="1" type="application/[% reportstyle %]" scrolling="auto" height="1100" width="850">
	</iframe>
[% END %]

</div>

[% INCLUDE ecm_html/footer.html %]

