[% SET extra_css = [ "ecmstyles", "outsource_style" ] %]
[% INCLUDE ecm_html/header.html %]

[% USE date %]

<script type="text/javascript">
<!--
function popup(mylink, windowname)
{
	alert("Here!");
	if (! window.focus)
		return true;

	var href;
	if (typeof(mylink) == 'string')
   		href=mylink;
	else
   		href=mylink.href;

	window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
	return false;
}
//-->
</script>

[% FOREACH j IN myjob %]
[% assignee = j.assignee %]
[% jobid = j.job_number %]
[% operatorstatus = j.operatorstatus %]
[% preflightstatus = j.preflightstatus %]

<h1>Job Detail [% jobid  %] [% IF publishing == 1 %]/ URN: [% j.agencyref %] [% END %] - Preflight Status: [% preflightstatus %]</h1>
<div id="refresh" style="float:left;margin-bottom:30px;">
	<table>
	<tr>
	<td>
		<form action="jobflow.pl" method="post">
			<fieldset>
				<input type="hidden" name="action" value="showJob" />
				<input type="hidden" name="jobid" value="[% jobid %]" />
				<input type="submit" value="Refresh" id="refresh" class="btn" />
			</fieldset>
		</form>
	</td>
	[% IF (roleid == 4 || roleid == 1) && (isJobAssignment == 1) %]
	<td style="padding-left:30px;">
		<form action="jobflow.pl" method="post">
			<fieldset>
				<input type="hidden" name="action" value="selectVendor" />
				<input type="submit" value="Request Job" name="requestjob" class="btn" />
			</fieldset>
		</form>
	</td>
	<td style="padding-left:30px;">
		<form action="jobflow.pl" method="post">
			<fieldset>
				<input type="hidden" name="action" value="completeJob">
				<input type="hidden" name="jobid" value="[% jobid %]">
				<input type="submit" value="Complete this Job" class="btn" >
			</fieldset>
		</form>
	</td>
	[% END %]
	<td>
	[% IF (roleid == 4 || roleid == 6) && (isJobAssignment == 1) %]
	<td style="padding-left:30px;">
		<form action="jobflow.pl" method="post">
			<fieldset>
				<input type="hidden" name="jobs" value="[% jobid %]" />
				<input type="hidden" name="action" value="selectVendor" />
				<input type="submit" value="Assign" name="assignjobs" class="btn" />
			</fieldset>
		</form>
	</td>
	[% END %]
	[% IF jobFolderEnabled == 1 %]
	<td style="padding-left:30px;">
		<script type="text/javascript">
			$(document).ready(function(){
				$("#openJobFolder").click(function(){
					if (window.XDomainRequest)
					{
						// Use Microsoft XDR
						var xdr = new XDomainRequest();
						xdr.open('POST', '[% mongooseserver %]/folder.bat?[% openFolderPath %]');
						xdr.send();	 
					}
					else
					{
						$.ajax({
							type: 'POST',
							crossDomain: true,
							url: '[% mongooseserver %]/folder.bat?[% openFolderPath %]',
						}); 	
					}

					//MAKE SURE WE RECORD IT IN THE DATABASE (FOR REPORTING PURPOSES)
					var data = { 'action' : 'recordOpenJob' };
					data['jobid'] = '[% jobid %]';
					$.ajax({
						'type': 'POST',
						'url': 'jobflow.pl',
						'data': data,
					});
				});
			});
		</script>
        <input type="button" id="openJobFolder" name="openJobFolder" value="Open Job Folder" class="btn"/>
	</td>
	[% END %]
	</tr>
	</table>
</div>
<div style="float:left;clear:left;">
<form action="jobflow.pl" method="post" enctype="multipart/form-data">
<input type="hidden" name="jobid" value="[% j.job_number %]"/>
<input type="hidden" name="action" value="showJob"/>
<input type="hidden" name="fileuploaded" value="yes"/>
<div id="tblWrapper">
	<table>
	[% IF (errorMessage.length > 0) && (errorMessage != 1) %]
	<tr class="error">
		<td colspan="2">
			[% errorMessage %]
		</td>
	</tr>
	[% END %]
	[% IF errorMessage == 1 %]
	<tr class="message">
		<td colspan="2">[% displaymsg %]</td>
	</tr>
	[% END %]
	[% IF j.pathtype == 10 %]
	<tr>
		<td>Synergis</td>
		<td colspan="2">[% j.agencyref %]</td>
	</tr>	
	[% END %]
	<tr>
		<td>Name:</td>
		<td>[% pdfname %]</td>
	</tr>
	<tr>
		<td>Last User:</td>
		<td>[% j.lastuser %]</td>
	</tr>
	<tr>
		<td>Locked:</td>
		<td>[% j.islocked %]&nbsp;[% IF j.locked %] [% j.lockedtime %] [% END %]</td>
	</tr>
	<tr>
		<td>Job Size:</td>
		<td>[% j.jobsize %] MB</td>
	</tr>
	<tr>
        	<td>Preflight Status:</td>
		<td>[% j.preflightstatus %]</td>
	</tr>
	<tr>
        	<td>Twist Server:</td>
		<td>[% j.twist %]</td>
	</tr>
	<tr>
        	<td>Agency:</td>
		<td>[% j.agency %]</td>
	</tr>
        	<td>Client:</td>
		<td>[% j.client %]</td>
	</tr>
	<tr>
        	<td>Project:</td>
		<td>[% j.project %]</td>
	</tr>
	<tr>
        	<td>Publication:</td>
		<td>[% j.publication %]</td>
	</tr>
	<tr>
        	<td>Colour:</td>
		<td>[% j.colour %]</td>
	</tr>
	<tr>
		<td>Due Date/Time:</td>
		<td>[% date.format(j.duedate, '%d-%m-%y %H:%M') %]</td>
	</tr>
	[% IF publishing %]
		<tr>
			<td>Type:</td>
			<td>[% j.actiontype %]</td>
		</tr>
	[% END %]
	<tr>
		<td valign="top">View</td>
		<td>
			<div class="fileoption">
				[% IF viewhires %]
				<span class="">[% IF j.preflightstatus == "Passed" %]<a href="javascript:void(0)" onclick="viewhighres([% j.job_number %])">HiRes</a>[% ELSE %]HiRes[% END %]</span>
				[% END %]
				<span class="">[% IF j.compareready == 1 %]<a href="javascript:void(0)" onclick="viewcompare([% j.job_number %])">Compare</a>[% ELSE %]Compare[% END %]</span>
				<span class=""><a href="javascript:void(0)" onclick="preflight([% j.job_number %])">Preflight</a></span>
				<span class=""><a href="javascript:void(0)" onclick="jobbag([% j.job_number %])">Job Bag</a></span>
			</div>
		</td>
	</tr>
	
	<tr>
		<td valign="top">QC Status</td>
		<td>
			[% IF isqcenabled == 0 || ( j.preflightstatus != "Passed" && j.preflightstatus != "Creative" ) %]
				<input type="hidden" name="qcstatus" value="[% qcstatus %]">
			[% END %]

			<select name="qcstatus" id="qcstatus" [% IF isqcenabled == 0 || (j.preflightstatus != "Passed" && j.preflightstatus != "Creative")  %]disabled='disabled'[% END %]>
				[% FOREACH qc IN qcstatuses %]
					[% IF (roleid == 1) %]
						[% IF qc.id != 2 && qc.id != 3 %]
							<option value="[% qc.id %]" [% IF qcstatus == qc.id %] selected='selected' [% END %]>[% qc.status %]</option>
						[% END %]
					[% ELSE %]
						<option value="[% qc.id %]" [% IF qcstatus == qc.id %] selected='selected' [% END %]>[% qc.status %]</option>
					[% END %]
				[% END %]
			</select>
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Save" class="btn"/>
		</td>
	</tr>
	<tr>
		<td valign="top">Upload Options:</td>
		<td>
			<div class="fileoption" style="float:left;">
				<span class="[% IF j.colourmanage == 0 %]disabled[% ELSE %]enabled[% END %]">Colour Manage</span>
				<span class="enabled">
					<input type="checkbox" name="colourmanage_isactive" [% IF j.colourmanage == 0 %]disabled="disabled"[% END %][% IF j.colourmanage_isactive %]checked[% END %]>
				</span>
			</div>
			<div class="fileoption" style="float:left;">
				<span class="[% IF j.optimise == 0 %]disabled[% ELSE %]enabled[% END %]">Optimise</span>
				<span class="enabled">
					<input type="checkbox" name="optimise_isactive" [% IF j.optimise == 0 %]disabled="disabled"[% END %][% IF j.optimise_isactive %]checked[% END %]>
				</span>
			</div>
		</td>
	</tr>
	[% IF creativeenabled %]
	<tr>
		<td>Creative</td>
		<td>
			<input type="checkbox" name="creative" [% IF j.creative %]checked='checked'[% END %]>
		</td>
	</tr>
	[% ELSE %]
	<input type="hidden" name="creative" value="0">
	[% END %]

	[% IF (j.preflightstatus != "In Progress") && !(j.pathtype == 10) && ( roleid != 3 ) %]
		[% IF ! j.locked && !(j.pathtype == 10) %]
			[% IF canoperatorupload == 1 %]
				<tr>
					<td>Upload File: </td>
					<td><input type="file" name="uploadfile" class="fileUpload"/><input type="submit" value="Upload" class="btn"/></td>
				</tr>
				[% IF isTTPUpload == 1 %]
				<tr>
					<td>Upload via TTP?</td>
					<td><input type="checkbox" name="uploadviattp" id="uploadviattp" [% IF uploadviattp == 1 %]checked='checked'[% END %]></td>
				</tr>
				[% END %]
			[% END %]
		[% END %]
	[% END %]
	</table>
</div>
</form>


<div style="float:left;width:400px; border: 1px solid #ccc;padding:10px;margin-left:0px;">
	<div style="float:left;border: 0px solid red;width:150px;">
		<h3>File Types</h3>
		<div class="fileoption">
			<span class="[% IF j.bwdef == 0 %]disabled[% END %]">BW</span>
		</div >
		<div class="fileoption">
			<span class="[% IF j.bwcroppeddef == 0 %]disabled[% END %]">BW Cropped</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.lowrescroppeddef == 0 %]disabled[% END %]">Low Res Cropped</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.lowresdef == 0 %]disabled[% END %]">Low Res</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.hires == 0 %]disabled[% END %]">Hi Res</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.proofonlydef == 0 %]disabled[% END %]">Proof Only</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.rgbdef == 0 %]disabled[% END %]">RGB</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.rgbcroppeddef == 0 %]disabled[% END %]">RGB Cropped</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.rgbjpegdef == 0 %]disabled[% END %]">RGB Jpeg</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.hirescroppedbleedboxdef == 0 %]disabled[% END %]">Hi Res Cropped Bleed Box</span>
		</div>
		<div class="fileoption">
			<span class="[% IF j.hirescroppedtrimboxdef == 0 %]disabled[% END %]">Hi Res Cropped Trim Box</span>
		</div>
	</div>
	<!-- downloadable files -->
	<div style="float:left;border: 0px solid red;width:150px;">
		[% IF j.assetscreated == 1 AND (j.preflightstatus == "Passed" || j.preflightstatus == "Dispatched" || j.preflightstatus == "Creative") %]
		<h3>Downloadables</h3>
		[% FOREACH j IN myjob %]
		<form action="jobflow.pl" method="post">
		<input type="hidden" name="jobid" value="[% j.job_number %]">
		<input type="hidden" name="action" value="getHiRes">
		<table>
			<tr>
				<td>
					[% IF j.bwdef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="bw" value="true">
						<span class="">BW</span>
					</div >
					[% END %]
					[% IF j.bwcroppeddef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="bwcropped" value="true">
						<span class="">BW Cropped</span>
					</div>
					[% END %]
					[% IF j.lowrescroppeddef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="lowrescropped" value="true">
						<span class="">Low Res Cropped</span>
					</div>
					[% END %]
					[% IF j.lowresdef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="lowres" value="true">
						<span class="">Low Res</span>
					</div>
					[% END %]
					[% IF j.hiresdef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="hires" value="true">
						<span class="">Hi Res</span>
					</div>
					[% END %]
					[% IF j.proofonlydef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="proofonly" value="true">
						<span class="">Proof Only</span>
					</div>	
					[% END %]
					[% IF j.rgbdef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="rgb" value="true">
						<span class="">RGB</span>
					</div>
					[% END %]
					[% IF j.rgbcroppeddef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="rgbcropped" value="true">
						<span class="">RGB Cropped</span>
					</div>
					[% END %]
					[% IF j.rgbjpegdef == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="rgbjpeg" value="true">
						<span class="">RGB Jpeg</span>
					</div>
					[% END %]
					[% IF j.hirescroppedbleedboxdef  == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="hirescroppedbleedbox" value="true">
						<span class="">Hi Res Cropped Bleed Box</span>
					</div>
					[% END %]
					[% IF j.hirescroppedtrimboxdef  == 1 %]
					<div class="fileoption">
						<input type="checkbox" checked='checked' name="hirescroppedtrimbox" value="true">
						<span class="">Hi Res Cropped Trim Box</span>
					</div>
					[% END %]
					<div><input type="submit" value="Download" class="btn class="btn""></div>
				</td>
			</tr>
		</table>
		</form>
		[% END %]
	[% END %]
	</div>
	<br>
	<br>
	<br>
</div>
	<br>
	<br>
	<br>

	[% IF preflightstatus == "Warning" %]
	<div class="approval_buttons" style="float:left;">
	<h3>This job is in WARNING state - please approve or decline</h3>
		<div class="approve">
			<form action="jobflow.pl" method="post">
				<input type="hidden" name="action" value="approve">
				<input type="hidden" name="jobaction" value="approve">
				<input type="hidden" name="jobid" value="[% jobid %]">
				<input type="submit" value="Approve">
			</form>
		</div>

		<div class="decline">
			<form action="jobflow.pl" method="post">
				<input type="hidden" name="action" value="approve">
				<input type="hidden" name="jobaction" value="decline">
				<input type="hidden" name="jobid" value="[% jobid %]">
				<input type="submit" value="Decline">
			</form>
		</div>
	</div>
	[% END %]


</div>
[% END %] <!-- end of FOR -->


[% IF isthumbview == 1 %]
<div name="image" style="float:right;border:1px solid #ccc;margin-top:20px;">
   <img src="/cgi-bin/jflowimage.cgi?jobnum=[% jobid %]" width="300" height="500">
</div>
<div style="clear:both;"></div>
[% END %]

<!-- FILES TYPES AND DOWNLOADABLES --->

<div style="float:left;width:950px; border: 0px solid red;">

	<div name="brief" style="float:right;border:1px solid #ccc;clear:left;margin-left:50px;margin-top:0px;padding:10px;width:400px;">
		<h3>Brief</h3>
			<p>[% j.brief %]</p>
		</h3>
	</div>

	[% IF (roleid == 4 || roleid == 1) && (userid == assignee) && (operatorstatus == 'W') %] <!-- Only an Operator can 'Reject' Or 'Complete' a job / when the job is in 'W' -->
	<div id="operatorArea" style="float:left;border: 0px solid black;margin-left:50px;clear:left;">
	<table>
	<tr>
		<td>
		<form action="jobflow.pl" method="post">
			<input type="hidden" name="action" value="rejectJob">
			<input type="hidden" name="jobid" value="[% jobid %]">
			<table>
			<tr>
				<td>
					<strong>Reason:</strong>&nbsp;
					<select name="commentid" class="btn">
						[% FOR c IN commentslist %]
							<option value="[% c.id %]">[% c.comment %]</option>
						[% END %]
					</select>
				</td>
			</tr>
			<tr>
				<td colpspan="2">
					<textarea name="rejectionReason" rows="12" cols="50"></textarea>
				</td>
			</tr>
			<tr>
				<td colpspan="2">
					<input type="submit" value="Reject this Job" class="btn">
				</td>
			</tr>
			</table>
		</form>
		</td>
	</tr>
	</table>
	</div>
	[% END %]
	<br>
	[% IF (roleid == 4 || roleid == 6 || (bookingformnav.defined and bookingformnav == 1)) %]
	<div id="StudioManagerArea" style="float:left;border: 0px solid black;margin-left:50px;clear:left;">
	<table>
	<tr>
		<td>
		<form action="jobflow.pl" method="post">
			<input type="hidden" name="action" value="showJob">
			<input type="hidden" name="jobid" value="[% jobid %]">
			<input type="hidden" name="addcomment" value="yes">
			<select name="commentid" class="btn">
				[% currentctype = "R" %]
				<option value = "0">[ Select rejection reason ]</option> 
				[% FOR c IN commentslist %]
					[% IF c.ctype != currentctype %]
					<option value = "0">&nbsp; </option>
					<option value = "0">[ Select advisory reason ]</option>
					[% END %]
					[% currentctype = c.ctype %]
					<option value="[% c.id %]">[% c.comment %]</option>
				[% END %]
			</select>
			<br>
			<br>
			<textarea name="comment" rows="12" cols="50"></textarea>
			<br>
			<br>
			<div style="float:left;">
				<input type="submit" value="Add comment" class="btn">
			</div>
			[% IF (roleid == 4 || roleid == 6)  && (parentopcoid == 15555551 || parentopcoid == 11463) %]
			<div style="float:left;margin-left:10px;padding-top:10px;">
			Send to client&nbsp;&nbsp;&nbsp;<input type="checkbox" name="sendToClient">
			</div>
			[% END %]
		</form>
		</td>
	</tr>
	</table>
	</div>
	[% END %]

	<!-- the job notes -->
	<div id="jobNotes" style="float:left;border:1px solid #ccc;clear:left;margin-left:50px;margin-top:50px;padding:10px;width:400px;">
		<h3>Job Notes</h3>
		[% FOR jn IN jobNotes %]
			<div style="float:left;">by: [% jn.username %] on [% jn.timestamp %]</div><br>
			<div style="float:left; border: 1px solid #ccc; padding:10px; margin:10px;width:350px;">
				<p style="margin-bottom:10px;">[% jn.comment %]</p>
				<p>Note: [% jn.notetext %]</p>
			</div><br>
		[% END %]
	</div>
	
</div> <!-- most outer div for Right side -->



</div>
[% INCLUDE ecm_html/footer.html %]

