[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="loginBox">
<h1>Support</h1>
	<form action="jobflow.pl" method="post">
		<input type="hidden" name="action" value="support">
		<input type="hidden" name="formPosted" value="yes">
		
		<fieldset>
			[% IF error.message.length %]
			<div class="error">
			[% error.message %]
			</div>
			[% END %]
			<h2>Please detail any issues below</h2>
			[% IF formPosted == "yes" %]
			<h3>Your message has been sent</h3>
			[% END %]
			<div class="row" style="margin-bottom:20px;" >
				<label>Subject:</label>
				<input type="text" name="subject" size="80" />
			</div>
			<div class="row" style="margin-bottom:20px;" >
				<label>Job Number:</label>
				<input type="text" name="jobnumber" size="25" />
			</div>			
			<div class="row" style="margin-bottom:20px;" >
				<label>Message:</label>
				<textarea name="message" rows="10" cols="60"></textarea>
			</div>
			<div class="row" style="margin-bottom:20px;" >
				<input type="submit" value="Send Issue" class="btn" />
			</div>
		</fieldset>
	</form>
</div>


[% INCLUDE ecm_html/footer.html %]


