<div class="swimlane_board">
	<div id="swimlane_heading">
		<span>Configure Board</span>  <a class="filter_name"> [% filter_name %] </a>
		<input type="hidden" id="filtername" value="[% filter_name %]" />
        <div class="actions minor">
            <input type="button" value="Save" class="myjobsbtn" onclick="save_swimlanes_config()" />
            <input type="button" value="Cancel" class="btn" onclick="close_swimlanes_config()" />
        </div>
 
	</div>

	<table class="swimlane_table">
		<thead>
			<tr>
				<th>Swim Lanes</th>
				<th>Share with</th>
				<th>Card Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="lane_label">  </td>
				<td class="lane_label">  </td>
				<td></td>
			</tr>

			<tr>
				<td>
					<select class="drop_down_list" id="order_by_list_id" onchange="get_list_of_orderby_values()">
						<option value="">Select</option>
						[% FOREACH orderby IN orderby_list %]
							[% IF orderby.id != "3" && orderby.id !="4" %]
							<option value="[% orderby.id %]" [% IF orderby_id == orderby.id %] selected="selected" [% END %] class="[% orderby.name %]">[% orderby.name %]</option>
							[% END %]

						[% END %]
					</select>
				</td>
				<td>
					<div class="search-block">
						<input type="text" id="searchuser" class="search-input ui-autocomplete-input" size="30" autocomplete="off">
						<div class="search_image_block"> <img src="js/images/seachglass.png"> </div>
					</div>
				</td>
				<td>
					<div class="lane_label">Header : </div>
					<div class="lane_dropdown">  
						[% selected_card_detail = card_detail_list.split("~") %]
						<select class="drop_down_list" id="card_detail_header">
							<option value="">Select</option>
                        	[% FOREACH card_list_data IN card_list %]
                            	<option value="[% card_list_data.id %]" [% IF selected_card_detail.0  == card_list_data.id %] selected="selected"  [% END %]  >[% card_list_data.name %]</option>
                        	[% END %]
						</select> 
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="listarea" id="lane_column_list"></div>
					<div class="moving_layout">
  						<input id="columnup" value="&#9650;" class="column_up" title="Move Up" type="button">		<br>
  						<input id="columndown" value="&#9660;" class="column_down" title="Move Down" type="button">
						<input id="selectedlane" name="selectedlane" value="" type="hidden">
					</div>
				</td>
				<td>
					<div class="listarea" id="shared_user">
						
						[% FOREACH shared_user_list IN shared_users %]
							<div class="user_lane_data old_shared_users" data-value="[% shared_user_list.uname %]" id="shared_user_[% shared_user_list.uname %]">
								<span>[% shared_user_list.USERNAME  %] </span>
								<span class="cross-icon" onclick="delete_shared_user('[% shared_user_list.uname %]')">X</span>
							</div>
						[% END %]
						<input type="hidden" id="deleted_user_list" value="" />
						
					</div>
				</td>
				<td>
					<div class="input_block">
						<div class="lane_label">Line 1 : </div>
						<div class="lane_dropdown">
							<select class="drop_down_list" id="card_detail_line_one">
								<option value="">Select</option>
                        		[% FOREACH card_detail_line_one IN card_list %]
                            		<option value="[% card_detail_line_one.id %]" [% IF selected_card_detail.1  == card_detail_line_one.id %] selected="selected"  [% END %]>[% card_detail_line_one.name %]</option>
                        		[% END %]
							</select> 
						</div>
					</div>	
					<div class="input_block clear-div"> </div>	
					<div class="input_block">
						<div class="lane_label">Line 2 : </div>
						<div class="lane_dropdown">
							<select class="drop_down_list" id="card_detail_line_two">
								<option value="">Select</option>
                        		[% FOREACH card_detail_line_two IN card_list %]
                            		<option value="[% card_detail_line_two.id %]" [% IF selected_card_detail.2  == card_detail_line_two.id %] selected="selected"  [% END %]>[% card_detail_line_two.name %]</option>
                        		[% END %]
							</select> 
						</div>
					</div>		
					<div class="input_block clear-div"> </div>
					<div class="input_block">
						<div class="lane_label">Line 3 : </div>
						<div class="lane_dropdown">
							<select class="drop_down_list" id="card_detail_line_three">
								<option value="">Select</option>
                        		[% FOREACH card_detail_line_three IN card_list %]
                            		<option value="[% card_detail_line_three.id %]" [% IF selected_card_detail.3  == card_detail_line_three.id %] selected="selected"  [% END %]>[% card_detail_line_three.name %]</option>
                        		[% END %]
							</select> 
						</div>
					</div>	
                    <div class="input_block clear-div"> </div>
                    <div class="input_block">
                        <div class="lane_label">Line 4 : </div>
                        <div class="lane_dropdown">
                             <select class="drop_down_list" id="card_detail_line_four">
                                 <option value="0">Select</option>
                                [% FOREACH card_detail_line_four IN traffic_card_list %]
                                    <option value="[% card_detail_line_four.id %]" [% IF selected_card_detail.4  == card_detail_line_four.id %] selected="selected"  [% END %]>[% card_detail_line_four.name %]</option>
                                [% END %]
                            </select>
                        </div>
                    </div>
				</td>
			</tr>

		</tbody>
	</table>
</div>
