[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

[% USE date %]

<h1>Take Job</h1>
<br>

<div id="tblWrapper">

<h2>[% message %]</h2>

[% IF gogobaby == 1%]
<h3>You are now working on Job: [% jobid %]</h3>
<h4>Go to job: <a href="jobflow.pl?action=showJob&jobid=[% jobid %]">[% jobid %]</a>
[% END %]

</div>

[% INCLUDE ecm_html/footer.html %]

