[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<h1>Update FTP Server</h1>

<br>
<br>

<div id="tblWrapper">
	<form action="jobflow.pl" method="post">
	<input type="hidden" name="action" value="changeFtp" />
	<input type="hidden" name="formPosted" value="yes" />
	<table style="width:600px;"> 
	[% IF error.oktogo == 1 %]
	<tr>
		<td colspan="2" class="updated">FTP Server Updated for ALL opcos</td>
	</tr>
	[% END %]
	<tr>
		<td>FTP Server</td>
		<td>
			<input type="text" name="ftpserver" id="ftpserver" value="[% ftpserver %]" />
		</td>
	</tr>
	[% IF error.ftpserver.length %]
	<tr>
		<td colspan="2" class="error">
			[% error.ftpserver %]
		</td>
	</tr>
	[% END %]
	<tr>
		<td></td>
		<td>
			<input type="submit" value="Update FTP Server" class="btn" />
		</td>
	</tr>
	</table>
	</form>
</div>



[% INCLUDE ecm_html/footer.html %]

