[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]

<div id="pagewrapper">
	<h1>Vendor</h1>
	<br><br><br>
	Vendor was added successfully.
</div>

<a href="javascript: history.go(-1);">Back</a>

[% INCLUDE ecm_html/footer.html %]

