[% INCLUDE ecm_html/header.html %]

<h1>View Low Res</h1>
<br>

[% IF error %]
<span>[% error %]</span><br>
[% ELSE %]

	<div id="lowresholder">

	<iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" 
			src="[% viewlowres_url %]?action=filedownload&jobid=[% jobid %]&lowres=1&sessionid=[% sessionid %]&rnd_no=[% rnd_no %]"
			frameborder="1" type="application/pdf" scrolling="auto" height="1100" width="850">
	</iframe>

	</div>
[% END %]
[% INCLUDE ecm_html/footer.html %]

