[% SET extra_css = [ "ecmstyles" ] %]
[% INCLUDE ecm_html/header.html %]


<div id="tblWrapper">
<h1>Preflight Report</h1>
[% IF error %]
<span>[% error %]</span><br>
[% ELSE %]
<iframe id="fred" style="border:1px solid #666CCC" title="PDF in an i-Frame" 
	src="[% preflight_url %]?action=filedownload&jobid=[% jobid %]&sessionid=[% sessionid %]&rnd_no=[% rnd_no %]"
	frameborder="1" type="application/pdf" scrolling="auto" height="1100" width="850">
</iframe>

<br/>
Path: [% preflightpath %]<br>
[% END %]
Job: [% jobid %]<br>
</div>

<a href="javascript: history.go(-1);">Back</a>

[% INCLUDE ecm_html/footer.html %]

